{% load static %}
<li class="dropdown"> 
	<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
		{% if user.tester.avatar %}
			<img src="{{user.tester.avatar.url}}" alt="user" width="36" class="img-circle">
		{% else %}
			<img src="{% static 'images/avatar_default.png' %}" alt="user" width="36" class="img-circle">
		{% endif %}
		<b class="hidden-xs">{{user.username}}</b> 
	</a>
    <ul class="dropdown-menu dropdown-user animated flipInY">
		<li>
			<a href="/user_profile/" id="top-nav-user-menu-profile" data-obj-id="{{user.id}}">
				<i class="ti-user"></i> 
				My Profile
			</a>
		</li>
		<li role="separator" class="divider"></li>
		<li>
			<a href="/logout">
				<i class="fa fa-power-off"></i> 
				Logout
			</a>
		</li>
	</ul>
</li>