<div class="row" style="background-color:white;">
  <div class="col-xs-3"><b>Title</b></div>
  <div class="col-xs-1 text-center"><b>Status</b></div>
  <div class="col-xs-1 text-center"><b>Total</b></div>
  <div class="col-xs-1 text-center"><b>Billed</b></div>
  <div class="col-xs-1 text-center"><b>Remain</b></div>
  <div class="col-xs-2 text-center"><b>Start</b></div>
  <div class="col-xs-2 text-center"><b>End</b></div>
</div>
<div class="row">
  <div class="col-xs-12">
    <b onclick="ovvwMilestoneAdd(this)" style="cursor:pointer;">
      + Create New Milestone
    </b>
  </div>
</div>
 <hr style="margin:0;background-color:#999;">
{% for ms in milestones %}
  <div id={{ms.id}} class="row milestone">
    <div class="col-xs-3"><i onclick="ovvwMilestoneBody(this)" class="btn fa fa-plus" style="font-size:10px;padding:4px;"></i><b>{{ms.title}}</b></div>
    <div class="col-xs-1 text-center milestone-state">{% include 'milestone_state.html' %}</div>
    <div class="col-xs-1 text-center"><b>{{ms.hours}}</b></div>
    <div class="col-xs-1 text-center"><b>{{ms.completed}}</b></div>
    <div class="col-xs-1 text-center"><b>{{ms.remaining}}</b></div>
    <div class="col-xs-2 text-center"><b>{{ms.start}}</b></div>
    <div class="col-xs-2 text-center"><b>{{ms.end}}</b></div>
    <div class="col-xs-1 text-center"><i class="fa fa-trash-o btn btn-obj-delete" style = "position:relative;top:-2px;font-weight:bold;margin:1px;padding:3px;color:rgba(144, 0, 0, 0.65098)" onclick="ovvwMilestoneDelete(this)"></i></div>
    <div class="col-xs-12 body" style="display:none;white-space:pre;"><b style="margin-left:10px;">{{ms.display_phases|linebreaksbr}}{{ms.comment|linebreaksbr}}</b></div>
  </div>
  {% if not forloop.last %}
    <hr style="margin:0;background-color:#999;">
  {% endif %}
{% endfor %}