<li class="nav-small-cap"><b style="color:black;">--- DataBase</b></li>

<li> <a href="/user_manage" class="waves-effect side-nav-link cpll" id="clients_db"><i class="fa fa-users fa-fw"> </i><span class="hide-menu"> Users<span class="label label-rouded label-danger pull-right"></span></span></a>
</li>

<li> <a href="/clients_db" class="waves-effect side-nav-link cpll" id="clients_db"><i class="fa fa-bank fa-fw"> </i><span class="hide-menu"> Clients<span class="label label-rouded label-danger pull-right"></span></span></a>
</li>

<li> <a href="/contacts_db" class="waves-effect side-nav-link cpll" id="contacts_db"><i class="fa fa-users fa-fw"> </i><span class="hide-menu"> Contacts<span class="label label-rouded label-danger pull-right"></span></span></a>
</li>

<li> <a href="/methodologies" class="waves-effect side-nav-link cpll" id="methodologies"><i class="fa fa-puzzle-piece fa-fw"> </i><span class="hide-menu"> Methodology {%if recommendations%}<div class="notify" style="left:10px;"><span class="heartbit"></span><span class="point"></span></div>{%endif%}</span></a>
</li>

<li> <a href="/projects_db" class="waves-effect side-nav-link cpll" id="projects_db"><i class="fa fa-database fa-fw"> </i><span class="hide-menu"> Projects<span class="label label-rouded label-danger pull-right"></span></span></a>
</li>

<li> <a href="/report_items" class="waves-effect side-nav-link cpll" id="report_items"><i class="fa fa-cubes fa-fw"> </i><span class="hide-menu"> Report Items<span class="label label-rouded label-danger pull-right"></span></span></a>
</li>

<li> <a href="/report_variable" class="waves-effect side-nav-link cpll" id="report_variable"><i class="fa fa-cubes fa-fw"> </i><span class="hide-menu"> Report Variables<span class="label label-rouded label-danger pull-right"></span></span></a>
</li>

<li> <a href="/template_manager" class="waves-effect side-nav-link cpll" id="template_manager"><i class="fa fa-file fa-fw"> </i><span class="hide-menu"> Template Manager<span class="label label-rouded label-danger pull-right"></span></span></a>
</li>
