{% load static %}

{% block table_pallet %}
<div class="top-spacer"></div>

<div class="">
  <div class="white-box">
    <h3 class="box-title m-b-0">Add New Project</h3>
    <!-- <p class="text-muted m-b-30 font-13"> potential sub heading </p> -->
    <div class="row">
      <div class="col-sm-12 col-xs-12">
		{% include 'new_project_form.html' %}
			<!-- BUTTONS -->
		  <button onclick="projectNewProjectSubmit(event)" class="btn btn-success waves-effect waves-light m-r-10" id="btn-form-submit">Submit</button>
		  <a href="/" class="cancel-btn"><span class="btn btn-inverse waves-effect waves-light">Cancel</span></a>
	</div>
    </div>
  </div>
</div>

<div id="page-data" style="display:none;" data-section="{{section}}"></div>
{% endblock %}