{% load static %}

<div class="top-spacer"></div>
<div class="col-md-12 col-lg-12 col-sm-12">
  <div class="white-box popped">
    <div class="row">
      <div class="col-xs-3 text-left">
        <b>Client: <span>{{project.client}}</span></b>
      </div>
      <div class="col-xs-2 text-left">
        <b>Codename: <span>{{project.codename}}</span></b>
      </div>
      <div class="col-xs-2 text-center">
        <b>Start: <span>{{project.start_date}}</span></b>
      </div>
      <div class="col-xs-2 text-left">
        <b>End: <span>{{project.end_date}}</span></b>
      </div>
      <div class="col-xs-3 text-right">
        <b>Total Time Billed Against Project: <span>{{total_time|default:"0.00 hours"}}</span></b>
      </div>
    </div>
    <hr style="margin-top:2px;margin-bottom:2px;background-color:rgb(104,104,104)">
    <div class="row">
      <div class="col-xs-12">
        <b>{{project.description}}</b>
      </div>      
    </div>
    <br>
    <div class="row">
      <div class="col-xs-8">
        <label><b>Project Milestones</b></label>
        <hr style="margin-left:0px;margin-top:-4px;margin-bottom:6px;background-color:rgb(104,104,104);">
          <div class="milestones" style="margin-left:0;background-color:#dad8d8;padding-left:4px;">
            {% include 'display_milestones.html' %}
          </div>
      </div>
      <div class="col-xs-4">
        <label><b>Project Roles</b></label>
        <hr style="margin-left:0px;margin-top:-4px;margin-bottom:6px;background-color:rgb(104,104,104);">
        <!-- <div class="row"> -->
          <div class="row" style="padding-left:10px;">
            <div class="col-xs-6">
              <b>Role</b>
            </div>
            <div class="col-xs-6">
              <b>Person</b>
            </div>
          </div>
          <div class="popped" style="margin-left:0;background-color:#dad8d8;padding-left:4px;">      
          {% for role in project.vips.all %}
            <div class="row">
              <div class="col-xs-6"><b>{{role.role}}</b></div>
              <div class="col-xs-6"><b>{{role.name}}</b></div>
            </div>
            {% if not forloop.last %}
              <hr style="margin:0;background-color:#999;">
            {% endif %}
          {% endfor %}
        <!-- </div> -->
          </div>
      </div>
    </div>

  </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12">
  <div class="white-box popped">
    <div class="row row-in">
      <!-- WORKFLOW -->
      <a href="/workflow" id="workflow" class="cpll">
      <div class="col-lg-3 col-sm-6 row-in-br  b-r-none">
        <div class="col-in row">
          <div class="col-md-6 col-sm-6 col-xs-6"> <i class="linea-icon linea-basic" data-icon="&#xe01b;"></i>
            <h5 class="text-muted vb">TASKS</h5>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <h3 class="counter text-right m-t-15 text-megna">{{task_count}}</h3>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="progress">
              <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
            </div>
          </div>
        </div>
      </div>
      </a>
      <!-- ########## -->
      <!-- FILES -->
      <a href="/project_files" id="project_files" class="cpll">
      <div class="col-lg-3 col-sm-6 row-in-br">
        <div class="col-in row">
          <div class="col-md-6 col-sm-6 col-xs-6"> <i class="linea-icon linea-basic" data-icon="&#xe00b;"></i>
            <h5 class="text-muted vb">FILES</h5>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <h3 class="counter text-right m-t-15 text-primary">
            {% with count=project.associated_files.count|add:project.issue_files.count %}
            {{count}}
            {% endwith %}
            </h3>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
            </div>
          </div>
        </div>
      </div>
      </a>
      <!-- ###### -->
      <!-- NOTES -->
      <div class="col-lg-3 col-sm-6 row-in-br">
        <div class="col-in row">
          <div class="col-md-6 col-sm-6 col-xs-6"> <i data-icon="-" class="linea-icon linea-basic" ></i>
            <h5 class="text-muted vb">NOTES</h5>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <h3 class="counter text-right m-t-15 text-danger project-note-count">{{project.note_set.count}}</h3>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- ####### -->
      <!-- DATA ITEMS -->
      <a href="/issue_tracker" id="project_issues" class="cpll" style="color:inherit;text-decoration:none;">
      <div class="col-lg-3 col-sm-6  b-0">
        <div class="col-in row">
          <div class="col-md-6 col-sm-6 col-xs-6"> <i class="fa fa-fire-extinguisher" style="font-size:35px;"></i>
            <h5 class="text-muted vb">ISSUES RAISED</h5>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <h3 class="counter text-right m-t-15 text-success">{{issue_count}}</h3>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
            </div>
          </div>
        </div>
      </div>
      </a>
      <!-- ######## -->
    </div>
  </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12">
  <div class="white-box popped">
    <div class="row text-muted">
      <div class="col-xs-2"></div>
      <div class="col-xs-1"></div>
      <div class="col-xs-6 text-center">
        <h5 style="">Project Notes</h5>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-2"></div>
    </div>
    <div class="row control-bar">
      <div class="col-xs-4">
        <span><b>Showing</b></span>
        <span>
          <div class="form-group" style="width:100px;display:inline;">
            <div class="input-group" style="width:100px;display:inline;">
              <!-- <div class="input-group-addon" style="width:20px;display:inline;"></div> -->
              <select class="form-control" name="note-display-count" style="width:80px;display:inline;float:none;">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
              </select>
            </div>
          </div>
        </span>
        <span><b>Notes</b></span>
      </div>
      <div class="col-xs-4"></div>
      <div class="col-xs-4 text-right" style="padding-top:15px;">
        <i onclick="ovvwNoteModal(this)" class="fa fa-comment btn item-note" style="padding-top:2px;"></i>
        <span class="label label-rouded label-info pull-right note-count">{{notes_count}}</span>
      </div>
    </div>
    <hr style="margin-top:3px;margin-bottom:3px;">
    <div id="notes">
      {% include 'note_list.html' %}
    </div>
  </div>
</div>

{% include 'auditor.html' %}


<div class="col-md-12 col-lg-12 col-sm-12">
  <div class="white-box popped">
    <div class="row text-muted">
      <div class="col-xs-2"></div>
      <div class="col-xs-1"></div>
      <div class="col-xs-6 text-center">
        <h5 style="">Project Narrative</h5>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-2"></div>
    </div>
    <div class="row">
      {% for n in project.get_narrative %}
        <div class="col-xs-12 narrative" data-pk="n.pk" style="box-shadow:0 0 2px rgba(0,0,0,0.4);margin-bottom:5px;">
          <div class="col-xs-1">{{n.creator}}</div>
          <div class="col-xs-1 date">{{n.date}}</div>
          <div class="col-xs-1 time">{{n.time}}</div>
          <div class="col-xs-9 body" style="font-weight:400;">{{n.body|linebreaksbr}}</div>
          <input id="n-{{n.pk}}-date" type="date" name="date" value="" style="display:none;">
          <input type="time" name="time" value="" style="display:none;">
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div id="page-data" style="display:none;" data-section="{{section}}" data-proj-title="{{project.title}}" data-proj-id="{{project.id}}"></div>