<div id="note_head" class="row details-modal-data-header">
	<div id="title_head" class="col-md-5 btn" style="padding-top:2px;padding-bottom:2px;">
  		<b style="margin-left:20px;">Title</b>
  	</div>
	<div id="creator_head" class="col-md-2 text-left btn" style="padding-top:2px;padding-bottom:2px;">
		<b class="">Creator</b>
	</div>
	<div id="created_head" class="col-md-3 btn text-center" style="padding-top:2px;padding-bottom:2px;">
		<b style="margin-left:15px;">Updated</b>
	</div>
	<div class="col-xs-1"></div>
</div>