{% load static %}
<form method="POST" action="{{action}}" id="{{form_id}}" enctype="multipart/form-data">
	{%csrf_token%}
	{{ form.non_field_errors }}
	<div class="row">
		<div class="col-xs-12">
			{% include 'form_input_field.html' with field=form.issue_file %}		
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{% include 'form_input_field.html' with field=form.associated_files %}		
		</div>
	</div>
	<div class="container-fluid">
		<button class="btn btn-info pull-right {{cancel_class}}" style="margin-left:20px;">cancel</button>
		<button class="btn btn-success pull-right" id="{{submit_id}}">submit</button>
	</div>
</form>