{% extends 'base_display_items.html' %}
{% load static %}

{% block item_header_block %}
<div class="row item file" data-item-id="{{item.id}}" data-filename="{{item.filename}}">
	<div class="col-xs-3 col-spacer text-left filename"><a href="{{item.url}}" target="_blank" style="margin-left:10px;"><b>{{item.name_only}}</b></a></div>
	<div class="col-xs-1 col-spacer text-center extension"><b style="">{{item.extension}}</b></div>
	<div class="col-xs-1 col-spacer text-center size"><b>{{item.size}}</b></div>
	<div class="col-xs-2 col-spacer text-center updated"><b>{{item.updated}}</b></div>
	<div class="col-xs-2 col-spacer text-left uploader"><b>{{item.uploader}}</b></div>
	<div class="col-xs-2 col-spacer text-left associated_item">
		{% if item.associated_item %}
		<b>{{item.associated_item}}</b>
		{% else %}
		<b>Issue Report: {{item.issue_set.get}}</b>
		{% endif %}
	</div>
	<div class="col-xs-1">
		{% if tools %}
		<!-- <i onclick="pfFileDelete(event)" class="btn btn-clear fa fa-trash pull-right" style="margin-right:5px;"></i>
		<i onclick="pfFileDetails(event)" class="btn btn-clear fa fa-edit pull-right" style="margin-right:5px;"></i> -->
		{% endif %}
	</div>
</div>
{% endblock %}

{% block item_body_block %}
{% endblock %}