{% load static %}
<div class="modal-header" style="border:none;padding-bottom:0;padding-top:5px;">
	<div class="row">
		<div class="col-xs-8">
			<h3 id="modal-contact-details-title" style="display:inline;text-shadow:1px 1px 1px #dad8d8;">
				Details for contact <b>{{contact.whole_name}}</b>
			</h3>
		</div>
		<div class="col-xs-4">
			<div class="col-xs-12">
				<div class="col-xs-12" style="padding-right:0px;">
					{% include 'modal_control_btns.html' with edit=True refresh=True %}
				</div>
			</div>
		</div>
	</div>
	<hr class="modal-divider" style="margin-top:0px;">
</div>
<div class="modal-body" style="padding-top:10px;position:relative;min-height:60vh;color:rgba(0,0,0,0.9);font-weight:400;">
	<div class="container-fluid" style="padding:0;position:relative;min-height:55vh;">
		<div class="col-xs-6" style="padding:5px;min-height:30vh;display:flex;flex-direction:column;justify-content:space-between;">
			<div>
				<div class="col-xs-12 details-modal-data-header">
					<div class="col-xs-12"><b>Name</b></div>
				</div>
				<div class="col-xs-12 tdi">
					<div class="col-xs-12"><b>{{contact.whole_name}}</b></div>
				</div>
			</div>
			<div>
				<div class="col-xs-12 details-modal-data-header">
					<div class="col-xs-12"><b>Phone</b></div>
				</div>
				<div class="col-xs-12 tdi">
					<div class="col-xs-12"><b>{{contact.phone}}</b></div>
				</div>
			</div>
			<div>
				<div class="col-xs-12 details-modal-data-header">
					<div class="col-xs-12"><b>E-mail</b></div>
				</div>
				<div class="col-xs-12 tdi">
					<div class="col-xs-6"><b>{{contact.email}}</b></div>
				</div>
			</div>
		</div>
		<div class="col-xs-6" style="padding:5px;">
			<div class="col-xs-12 details-modal-data-header">
				<div class="col-xs-12"><b>Role(s) for project</b></div>
			</div>
			<div class="col-xs-12 tdi">
				<div class="col-xs-6">
					{% if contact.project_roles.count > 0 %}
						{% for item in contact.project_roles.all %}
							{% if item.project_set.get == user.tester.project %}
								<div class="col-xs-12"><b>{{item.role.label}}</b></div>
							{% endif %}
						{% endfor %}
					{% else %}
						Not assigned to a role
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>