<div class="row">
	<div class="col-xs-12">
		
	</div>
</div>
<br>
<label>All Projects</label>
<hr style="margin-top:2px;margin-bottom:2px;">
<div class="row">
	<div class="col-xs-5"><b>Title</b></div>
	<div class="col-xs-2"><b>Type</b></div>
	<div class="col-xs-1 text-center"><b>Start</b></div>
	<div class="col-xs-1 text-center"><b>End</b></div>
	<div class="col-xs-1 text-center"><b>Is Active</b></div>
	<div class="col-xs-1 text-center"><b>Is Billable</b></div>
</div>
{%for project in contact.project_set.all|dictsort:"active"%}
<div class="row project" data-project-id="{{project.id}}">
	<div onclick="cldbDetailsProjectTitle(this)" class="col-xs-5" style="cursor:pointer;">{{project.title}}</div>
	<div class="col-xs-2">{{project.project_type}}</div>
	<div class="col-xs-1">{{project.start_date}}</div>
	<div class="col-xs-1">{{project.end_date}}</div>
	<div class="col-xs-1 text-center">{{project.active}}</div>
	<div class="col-xs-1 text-center">{{project.billable}}</div>
</div>
<hr style="margin-top:2px;margin-bottom:2px;">
{% endfor %}
<br>