{% extends 'base_object.html' %}
{% load static %}

{% block object_content %}
	<div class="col-xs-2 first_name click details">			<b>{{object.first_name}}	</b></div>
	<div class="col-xs-2 text-left last_name click details"><b>{{object.last_name}}		</b></div>
	<div class="col-xs-2 text-left">				<b>{{object.email}}			</b></div>
	<div class="col-xs-1 text-center">				<b>{{object.phone}}			</b></div>
	<div class="col-xs-2 text-left">
		<b>	
		{% if object.project_roles.count > 0 %}
			{% for item in object.project_roles.all %}
				{% if item.project_set.get == user.tester.project %}
					{{item.role.label}}{% if not forloop.last %}, {% endif %}
				{% endif %}
			{% endfor %}
		{% else %}
			Not assigned to a role
		{% endif %}
		</b>
	</div>
	<div class="col-xs-2 text-left">				<b>{{object.get_client}}	</b></div>
	<div class="col-xs-1"></div>
{% endblock %}