{% extends 'baseline.html' %}
{% load static %}

{% block head %}
<style type="text/css">
  .ne {
    background-color:#89d699;
  }
  .even {
    background-color:rgb(190, 203, 224);
  }
  .odd {
    background-color:#eee;
  }
  .vc {
    vertical-align:middle;
  }
  .col-spacer {
  	padding-top:5px;
  }
  .sc {
  	padding:2px;
  	text-shadow:1px 1px 1px #dad8d8;
  }
  .tdi {
    background-color:#eee;
  }
  .item-title {
    cursor:pointer;
  }
  .header-text {
    letter-spacing:2px;
    font-weight:bolder;
    margin:0px;
  }
</style>
{% endblock %}

{% block top_pallet %}
  {% include 'auditor.html' %}
{% endblock %}

{% block table_pallet %}
<div class="top-spacer"></div>

<div class="col-md-12 white-box">
    <div class="row">
      <div class="col-md-4">
        <button id="btn-add-phase" type="button" class="btn btn-success" style="display:inline;">Add Phase To Project</button>
        <button class="btn btn-success btn-add-task">Add Task</button>
        <button class="btn btn-info" id="btn-expand-collapse" style="display:inline;">Expand All</button>
      </div>
      <div class="col-md-2 col-spacer">
        <div class="form-group">
          <select id="phase-select" class="form-control" name="phase-select">
            <option value="all">------All Phases------</option>
            {% for phase in phases|dictsort:"sequence" %}
              <option value="{{phase.id}}">{{phase.title}}</option>
            {% endfor %}
          </select>  
        </div>
      </div>
      <div class="col-sm-6 col-spacer">
      	{% include 'search_bar.html' %}
      </div>
    </div>
    <div class="row">

      <div class="col-sm-3">
        <b><span>Showing <span id="showing">All Phases</span></span></b>
      </div>

      <div class="col-sm-6">
      </div>

    </div>
    
    <hr>

  <div class="row item-section">
    <div class="row">
      <!-- <div class="row">
        <div class="row" style="background-color:#999;width:100%;margin-left:0px;">
          <div class="col-sm-1"><i class="btn btn-clear fa fa-plus btn-min-max" style="margin-right:5px;"></i></div>
          <div class="col-sm-11" style="margin-top:5px"><b style="color:black">Project Files</b></div>
        </div>
      </div> -->

      

    </div>  
    <div class="row" id="phases">
      {% include 'display_phases.html' %}
    </div>
  </div> <!-- End item-section -->
</div>

<div id="dynamicModal"></div>
<div id="notesModal"></div>
<div id="filesModal"></div>
<div id="form-sample" style="display:none;">
<form id="modal-body-form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}"></label><span>{{ field.errors }}</span>
      <div class="input-group">
        <div class="input-group-addon"></div>
        {{field}}
      </div>
    </div>
  {% endfor %}
</form>
</div>

<div id="sample-header" style="display:none;">
  <div class="row">
    <div class="col-sm-12 col-spacer"><h2 class="header-text" style="margin-left:20px;"></h2></div>
  </div>
  <div class="row control-bar" style="">
    <div class="col-sm-10 col-spacer"></div>
    <div class="col-sm-2 col-spacer">
      <i class="fa fa-comment btn item-note pull-right" style="padding-top:2px;"></i>

      <i class="fa fa-file btn item-files pull-right" style="padding-top:2px;"></i>
      <i class="btn fa fa-edit item-edit pull-right" style="padding-top:2px;"></i>
    </div>
  </div>
</div>

<div id="page-data" style="display:none;" data-section="{{section}}"></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  //Format preloaded form
  formatForm();
  $(document).ready(function(){
    $.each($('.phase'),function(){
      var phase = $(this);
      updatePhaseTaskCount(phase);
      updatePhaseTimeCount(phase);
      updatePhaseNoteCount(phase);
    });

  });
    

	$(document).on('click','.item-files',function(){
    var item        = $(this).closest('.item');
    if (item.length == 0) {
      var item = $(this).closest('.modal').find('.item-data');
      var isModal = true;
    } else {
      var isModal     = false;
    }
    var item_title  = item.find('.item-title').text();
    var item_id     = item.attr('id');
    var model_type  = item.attr('data-model');
    var app         = item.attr('data-app');
    $.get('/get_form/',{'app':'files','form':'FileUploadForm','form_id':'file-form'},function(returned) {
      //console.log(returned)
      if (isModal == false) {
        var header        = item_title+" - Files";
        var content       = returned;
        var strSubmitFunc = "submitForm()";
        var btnText       = "Add File(s)";
        doModal('dynamicModal', header, content, strSubmitFunc, btnText);
        var modal         = $('#modalWindow');
        modal.find('#btn-modal-form-submit').attr('id','btn-submit-file');
        modal.find('.modal-body').append('<div id="files"></div>');
      } else {
        var modal         = $('#modalWindow');
        modal.find('.files-form').empty().html(returned);
        modal.find('.files-form').append('<button class="btn btn-success" id="btn-submit-file">Submit File(s)</button>')
      }
      var form            = modal.find('#file-form');
      form.attr('action','/task_file_upload/');
      form.attr('method','POST');
      form.append('<input type="hidden" name="model_id" value="'+item_id+'">');
      form.append('<input type="hidden" name="model_type" value="'+model_type+'">');
      form.append('<input type="hidden" name="app" value="'+app+'">');
      form.append('<input type="hidden" name="where" value="workflow">')
      formatForm();
      $.get('/files_list/?app='+app+'&model_id='+item_id+'&model_type='+model_type,function(returned) {
        var files = modal.find('#files');
        if (files.length = 0) {
          modal.find('.task-files').empty().html(returned);
        } else {
          files.empty().html(returned);
        }
      });
    });
	});

	$(document).on('click','#btn-submit-file',function(){
    var btn   = $(this);
    var modal = btn.closest('.modal');
		var form  = btn.parent().find('form');
    var task_id = form.find('input[name=model_id]').val();
    var task = $('.task[id='+task_id+']');
		form.ajaxSubmit(function(returned){
      var files = modal.find('#files');
      if (files.length > 0){
        files.empty().html(returned);
      } else {
        modal.find('.task-files').empty().html(returned);
        modal.find('.files-form').empty();
      }
      updateTaskFileCount(task);
      updateAudits('workflow');
    });
    return false;
	});

  $(document).on('click','.item-note',function(){
    var item        = $(this).closest('.item');
    if (item.length == 0) {
      var item = $(this).closest('.modal').find('.item-data');
      var isModal = true;
    } else {
      var isModal     = false;
    }
    var item_id     = item.attr('id');
    var model_type  = item.attr('data-model');
    var app         = item.attr('data-app');
    var data = {};
    data['model_id']    = item_id;
    data['model_type']  = model_type;
    data['app']         = app;
    // var url = /get_note_form/;
    // $.get(url,data,function(returned){
    $.get('/get_form/',{'app':'notes','form':'NoteForm','form_id':'note-form'},function(returned) { 
      if (isModal == false) {
        var header        = model_type+" Notes";
        var content       = returned;
        var strSubmitFunc = "submitForm()";
        var btnText       = "";
        doModal('dynamicModal', header, content, strSubmitFunc, btnText);
        var modal = $('#modalWindow');
        modal.find('#modal-form-div').append('<button class="btn btn-success btn-add-note">Add Note</button><hr>');
      } else {
        var modal = $('#modalWindow');
        modal.find('.notes-form').empty().html(returned);
        modal.find('.notes-form').prepend('<hr>');
        modal.find('.notes-form').append('<button class="btn btn-success btn-add-note">Add Note</button><hr>');
      }
      var form = modal.find('#note-form')
      form.attr('action','/add_note/');
      form.attr('method','POST');
      form.append('<input type="hidden" name="id" value="'+item_id+'">');
      form.append('<input type="hidden" name="model_type" value="'+model_type+'">');
      form.append('<input type="hidden" name="app" value="'+app+'">');
      form.append('<input type="hidden" name="where" value="workflow">')
      formatForm();
      data['header'] = true;
      var url = '/get_notes_list/';
      $.get(url,data,function(returned){
        if (isModal) {
          modal.find('.task-notes').empty().html(returned);
        } else {
          modal.find('.modal-body').append(returned);
        }
      });
    });
  });

  $(document).on('click','.btn-add-note',function(){
    var btn = $(this);
    var form = btn.parent().find('form');
    var item_id = form.find('input[name=id]').val()
    var model = form.find('input[name=model_type]').val().toLowerCase();
    form.ajaxSubmit(function(returned){
      if (returned == 'Form is not valid!') {
        btn.parent().append(returned);
      } else {
        var notes = $('#modalWindow').find('.task-notes');
        if (notes.length > 0) {
          btn.closest('.modal').find('.task-notes').empty().html(returned);
          btn.closest('.modal').find('.notes-form').empty();
        } else {
          notes.remove();
          $('.modal-body').append(returned);
        }
        if (model != 'phase') {
          var phase = $('.'+model+'[id='+item_id+']').closest('.phase');
          reloadPhaseTasks(phase);
        } else {
          reloadPhases();
        }
        form[0].reset();
        updateAudits('workflow');
      }
    }); 
  });

  $(document).on('click','.note-title',function(){
    var note_id = $(this).closest('.note').attr('id');
    var data = {'csrfmiddlewaretoken':'{{csrf_token}}','note_id':note_id}
    var url = '/note_info/';
    $.post(url,data,function(returned){
      var header = '<b>'+returned['title']+'</b>';
      var fixed = returned['body'].replace(/(\r\n|\n|\r)/g,"<br />");
      //console.log(fixed)
      var content = fixed;
      var strSubmitFunc = "submitForm()";
      var btnText = "";
      doModal('notesModal', header, content, strSubmitFunc, btnText);
      var modal = $('#notesModal').find('#modalWindow');
      modal.find('.modal-footer').append('<div class="row"><div class="col-md-3">Author: '+returned['creator']+'</div><div class="col-md-3"></div><div class="col-md-3"></div><div class="col-md-3">'+returned['created']+'</div></div>')
      modal.modal('show');
      modal.css('margin-top','150px');
      modal.find('.modal-content').css('background-color','white');
      modal.find('.modal-header').css('border-bottom','none');
      modal.find('.modal-footer').css('border-top','none');
      modal.find('.modal-content').css('min-width','30%');
    });
  });

  $(document).on('click','.btn-edit-note',function(){
    var btn         = $(this);
    var modal       = $(this).closest('.modal');
    if (modal.length > 0) {
      var item_data   = modal.find('.item-data');
      if (item_data.length > 0) {
        var item_id     = item_data.attr('id');
        var model_type  = item_data.attr('data-model');
        var app         = item_data.attr('data-app');
      } else {
        var item_id     = modal.find('form').find('input[name=id]').val()
        var model_type  = modal.find('form').find('input[name=model_type]').val();
        var app         = modal.find('form').find('input[name=app]').val();
      }
      var item        = btn.closest('.note');
      var note_id     = item.attr('id');
      $.get('/get_form/',{'app':'notes','form':'NoteForm','form_id':'edit-note-form','id':note_id,'model_app':'notes','model_type':'Note'},function(returned){
        if (item_data.length > 0) {
          modal.find('.notes-form').empty().html(returned);
          modal.find('.notes-form').prepend('<hr>');
          modal.find('.notes-form').append('<button class="btn btn-success btn-update-note">Update Note</button><hr>');
        } else {
          modal.find('#modal-form-div').empty().html(returned);
          modal.find('#modal-form-div').append('<button class="btn btn-success btn-update-note">Update Note</button><hr>');
        }
        var form = modal.find('#edit-note-form');
        form.attr('action','/update_note/');
        form.attr('method','POST');
        form.append('<input type="hidden" name="id" value="'+note_id+'">');
        form.append('<input type="hidden" name="model_id" value="'+item_id+'">');
        form.append('<input type="hidden" name="model_type" value="'+model_type+'">');
        form.append('<input type="hidden" name="app" value="'+app+'">')
        form.append('<input type="hidden" name="where" value="workflow">')
        formatForm();
      });
    } else {
      var phase       = $(this).closest('.phase');
      var item_id     = phase.attr('id');
      var model_type  = phase.attr('data-model');
      var app         = phase.attr('data-app');
      var item        = btn.closest('.note');
      var note_id     = item.attr('id');
      var note_title  = item.find('.note-title').text();
      $.get('/get_form/',{'app':'notes','form':'NoteForm','form_id':'edit-note-form','id':note_id,'model_app':'notes','model_type':'Note'},function(returned){
        var header        = "Edit - "+note_title;
        var content       = returned;
        var strSubmitFunc = "submitForm()";
        var btnText       = "Submit Changes";
        doModal('dynamicModal', header, content, strSubmitFunc, btnText);
        var modal = $('#modalWindow');
        var btn = modal.find('#btn-modal-form-submit');
        btn.attr('id','btn-update-note');
        btn.addClass('btn-update-note');
        form = modal.find('form');
        form.attr('action','/update_note/');
        form.attr('method','POST');
        form.append('<input type="hidden" name="id" value="'+note_id+'">');
        form.append('<input type="hidden" name="model_id" value="'+item_id+'">');
        form.append('<input type="hidden" name="model_type" value="'+model_type+'">');
        form.append('<input type="hidden" name="app" value="'+app+'">');
        form.append('<input type="hidden" name="where" value="workflow">')
        formatForm();
      });
    }
  });

  $(document).on('click','.btn-update-note',function(){
    var form      = $(this).closest('.modal').find('#edit-note-form');
    var item_id   = form.find('input[name=model_id]').val();
    var model     = form.find('input[name=model_type]').val().toLowerCase();
    var modal     = form.closest('.modal');
    //console.log(form)
    form.ajaxSubmit(function(returned){
      //console.log(returned)
      if (returned == 'Form is not valid!') {
        $('.modal-body').append(returned);
      } else {
        
        if (model != 'phase') {
          if (modal.find('.task-notes').length > 0) {
            modal.find('.notes-form').empty();
            modal.find('.task-notes').empty().html(returned);
          } else {
            modal.find('.modal-notes-div').remove();
            $('.modal-body').append(returned);
          }
          var phase = $('.'+model+'[id='+item_id+']').closest('.phase');
          reloadPhaseTasks(phase);
        } else {
          reloadPhases();
          modal.modal('hide');
        }
        form[0].reset();
        updateAudits('workflow');
      }
    });
    return false;
  });

  //([0-9]{1,2}[-/][0-9]{1,2}[-/][0-9]{2})
 

  $(document).on('keypress','[id*="date"]',function(key){
    if ($(this).val().length == 10) {
      if (/Tab|ArrowLeft|ArrowRight|Backspace|Enter|Delete/.test(key.key) == false){
        //console.log(key.key)
        return false;
      }
    }
  });

  // $(document).on('click','.hsb',function(){
  //   var val = $(this).find('b').attr('id');
  //   var url = '/display_project_files';
  //   $.get(url,{'val':val},function(returned){
  //     $('#files').empty().html(returned);
  //     //console.log(val)
  //   });
  // });

  	function getPhaseForm(){
      $.get('/get_form/',{'app':'methodologies','form':'PhaseForm','form_id':'add-phase-form'},function(returned){
        //console.log(returned)
        jQuery.data($('#btn-add-phase')[0],'form',returned);
      });
    }

    getPhaseForm();

    $(document).on('click','#btn-add-phase',function(){
		var btn = $(this);
		var header = "Add Phase to {{project.title}}";
		var content = btn.data('form');
		var strSubmitFunc = "submitForm()";
		var btnText = "Add New Phase";
		doModal('dynamicModal', header, content, strSubmitFunc, btnText);
		var modal = $('#modalWindow');
		modal.find('#btn-modal-form-submit').attr('id','btn-submit-phase');
		var form = modal.find('form');
		form.attr('action','/add_phase_to_project/');
		form.attr('method','POST');
		formatForm();
    });

    $(document).on('click','#btn-submit-phase',function(){
  		var btn = $(this);
  		var modal = btn.closest('.modal');
  		var form = modal.find('form');
      //console.log(form)
  		form.ajaxSubmit(function(returned){
  			$('#phases').empty().html(returned);
        //console.log(returned)
        $.each($('.phase'),function(){
          var phase = $(this);
          updatePhaseTaskCount(phase);
          updatePhaseTimeCount(phase);
        });
  			modal.modal('hide');
        updateAudits('workflow');
  		});
  		return false;
    });

    function headerWithControl(text) {

    }

    $(document).on('click','.item-title',function(){
      var item        = $(this).closest('.item');
      var item_id     = item.attr('id');
      var item_title  = item.find('.item-title').text();
      $.get('/task_details/?item_id='+item_id,function(returned){
        var header        = $('#sample-header').html();
        var content       = returned;
        var strSubmitFunc = "submitForm()";
        var btnText       = "";
        doModal('dynamicModal', header, content, strSubmitFunc, btnText);
        var modal = $('#modalWindow');
        modal.find('.header-text').text(item_title);
        modal.find('.modal-header').css('padding-bottom','5px');
        modal.find('.modal-header').find('h4').css('margin-bottom','0px');
        modal.find('.modal-footer').css('border-top','none');
        modal.find('.modal-content').css('background-color','#dad8d8');
      });
    });

    $(document).on('change','#phase-select',function(){
      var option = $(this).find(':selected');
      var text = option.text()
      //console.log(text)
      var phase_id = option.val();
      var url = '/display_phases/';
      $.get(url,{'phase_id':phase_id},function(returned){
        $('#phases').empty().html(returned);
        if (phase_id != 'all'){
          $('#showing').empty().text(text);
        } else {
          $('#showing').empty().text('All Phases');
        }
      });
    });

    $(document).on('click','.btn-add-task',function(){
      $.get('/get_form/',{'app':'tasks','form':'TaskForm','form_id':'add-task-form'},function(returned){
        var header        = "Add New Task";
        var content       = returned;
        var strSubmitFunc = "submitForm()";
        var btnText       = "Add Task";
        doModal('dynamicModal', header, content, strSubmitFunc, btnText);
        var modal = $('#modalWindow');
        modal.find('#btn-modal-form-submit').attr('id','btn-submit-task');
        var form = modal.find('#add-task-form');
        form.attr('action','/new_task/');
        form.attr('method','POST');
        form.append('<div class="form-group"><label for="phase"></label><div class="input-group"><div class="input-group-addon"></div><select id="phase" name="phase" class="form-control"></select></div></div>')
        var select = form.find('#phase');
        select.css('width','30%');
        $.each($('.phase'),function(){
          var phase_id = $(this).attr('id');
          var phase_title = $(this).find('.phase-title').text();
          select.append('<option value="'+phase_id+'">'+phase_title+'</option>');
        });

        formatForm();
      });
    });

    $(document).on('click','#btn-submit-task',function(){
      var btn       = $(this);
      var modal     = btn.closest('.modal');
      var form      = modal.find('#add-task-form');
      var phase_id  = form.find('#phase').find(':selected').val();
      var phase     = $('.phase[id='+phase_id+']');
      form.ajaxSubmit(function(returned){
        //console.log(phase);
        phase.find('.tasks').empty().html(returned);
        //console.log(phase.find('.tasks'));
        updatePhaseTaskCount(phase);
        updatePhaseTimeCount(phase);
        updateAudits('workflow');
        modal.modal('hide');
      });
      return false;
    });

    $(document).on('click','.item-edit',function(){
      var btn         = $(this);
      var modal       = btn.closest('.modal');
      var header_text = modal.find('.header-text');
      var control_bar = modal.find('.control-bar');
      var body        = modal.find('.modal-body');
      var item_data   = modal.find('.item-data');
      var item_id     = item_data.attr('id');
      var app         = item_data.attr('data-app');
      var model_type  = item_data.attr('data-model');
      var current_phase = $('.task[id='+item_id+']').closest('.phase');
      var phase_id = current_phase.attr('id');
      $.get('/get_form/',{'app':'tasks','form':'TaskForm','form_id':'edit-task-form','id':item_id,'model_app':app,'model_type':model_type},function(returned){
        body.empty().html(returned);
        var form = body.find('#edit-task-form');
        
        form.append('<input type="hidden" name="id" value="'+item_id+'">');
        form.attr('action','/task_update/');
        form.attr('method','POST');
        // old_text = header_text.text();
        // header_text.text('Edit - '+old_text);
        form.append('<div class="form-group"><label for="phase"></label><div class="input-group"><div class="input-group-addon"></div><select id="phase" name="phase" class="form-control"></select></div></div>')
        var select = form.find('#phase');
        select.css('width','30%');
        $.each($('.phase'),function(){
          var phase_id = $(this).attr('id');
          var phase_title = $(this).find('.phase-title').text();
          select.append('<option value="'+phase_id+'">'+phase_title+'</option>');
        });
        select.find('option[value='+phase_id+']').attr('selected','selected');
        modal.find('.control-bar').css('display','none');
        form.append('<button class="btn btn-success btn-update-task" style="display:inline;margin-right:10px;">Update Task</button>')
        form.append('<button class="btn btn-grey btn-cancel-update" style="display:inline;">Cancel</button>')
        form.append('<input type="hidden" name="current_phase" value="'+phase_id+'">')
        formatForm();
      });
    });

    $(document).on('click','.btn-cancel-update',function(e){
      e.preventDefault();
      var btn       = $(this);
      var modal     = btn.closest('.modal');
      var form      = modal.find('#edit-task-form');
      var task_id   = form.find('input[name=id]').val();
      $.get('/task_details/',{'item_id':task_id},function(returned){
        modal.find('.control-bar').css('display','block');
        modal.find('.modal-body').empty().html(returned);
      });
      return false;
    });


    $(document).on('click','.btn-update-task',function(){
      var btn       = $(this);
      var modal     = btn.closest('.modal');
      var form      = modal.find('#edit-task-form');
      var task_id   = form.find('input[name=id]').val();
      var old_phase_id = form.find('input[name=current_phase]').val();
      var old_phase = $('.phase[id='+old_phase_id+']');
      var new_phase_id = form.find('#phase').find(':selected').val();
      var new_phase = $('.phase[id='+new_phase_id+']');
      form.ajaxSubmit(function(returned){
        modal.find('.control-bar').css('display','block');
        modal.find('.modal-body').empty().html(returned);
        reloadPhaseTasks(old_phase);
        reloadPhaseTasks(new_phase);
      });
      return false;
    });

    $(document).on('click','.sc',function(){
      var btn = $(this);
      var state = btn.attr('name');
      var item = btn.closest('.task');
      if (state == item.find('#task-status-label').text()) {
        return false;
      }
      if (item.length==0) {
        var modal   = btn.closest('.modal');
        var item    = modal.find('.item-data');
        var isModal = true;
      } else {
        isModal = false;
      }
      var task_id = item.attr('id');
      $.post('/task_state/',{'task_id':task_id,'state':state},function(returned){
        if (isModal) {
          modal.find('.task-state').empty().html(returned);
          $('.task[id='+task_id+']').find('.task-state').empty().html(returned);
        } else {
          item.find('.task-state').empty().html(returned);
        }
        updateAudits('workflow');
      });
    });

</script>
{% endblock %}