{% extends 'baseline.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'plugins/bower_components/dropify/dist/css/dropify.min.css' %}">
{% endblock %}

{% block table_pallet %}
<div class="top-spacer"></div>

<div class="container form-box">
  <div class="white-box">
    <h3 class="box-title m-b-0">Add New Project</h3>
    <!-- <p class="text-muted m-b-30 font-13"> potential sub heading </p> -->
    <div class="row">
      <div class="col-sm-12 col-xs-12">
				<form method="POST" action="/add_project/" class="post-form" id="proj-form" enctype="multipart/form-data">{% csrf_token %}
				{{ form.non_field_errors }}
					{% for field in form %}
						<div class="form-group">
							<label for="{{ field.id_for_label }}"></label><span class="field-errors" id="{{field.name}}_errors">{{ field.errors }}</span>
							<div class="input-group">
						  	<div class="input-group-addon"></div>
						  	{{field}}
							</div>
						</div>
					{% endfor %}
					<!-- BUTTONS -->
				  <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" id="btn-form-submit">Submit</button>
				  <a href="/" class="cancel-btn"><span class="btn btn-inverse waves-effect waves-light">Cancel</span></a>
				</form>
			</div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function(){
		//To Title Case
		function tTC(str) {
	    return str.replace(/(?:^|\s)\w/g, function(match) {
	        return match.toUpperCase();
	    });
		}

		//Prep Display Name
		function pDN(str){
			if (/_/i.test(str)){
				return tTC(str.split('_').join(' '));
			}else{
				return tTC(str);
			}
		}

		$.each($('[id*="id_"]'), function(index, value){
			//console.log($(this));
			var input = $(this);
			//console.log(input.closest('.form-group').find('label'));
			var label = input.closest('.form-group').find('label');
			var name = pDN(input.attr('name'));
			//Set label inner html
			label.html(name);
			//Add form-control class to input
			input.addClass('form-control');
			if(/date/i.test(name)){input.attr('type','date');}
			//re-write this as $.each type = 'date' (keep form.width)
			if(/date/i.test(name)&&($('form').width()>600)){
				input.parent().css('width','20%');
			}
		});
	});
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#id_client').keydown(function(){
			// console.log('here');
			if ($(this).val() != ''){
				$(this).parent().addClass('ui-widget');
				data = {'val' : $(this).val(), 'csrfmiddlewaretoken': '{{csrf_token}}'}
				url = /find_model/
				$.post(url,data,function(returned){
					//console.log(returned['clients']);
					var clientsList = returned['clients']
					//console.log (clientsList);
					//console.log ($(this))
					$('#id_client').autocomplete({source: clientsList});
				});

			}
		});
	});
</script>
<!-- jQuery file upload -->
<script src="{% static 'plugins/bower_components/dropify/dist/js/dropify.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//$('#id_associated_files').removeClass('form-control');
		//$('#id_associated_files').addClass('dropify');
		//$('#id_associated_files').addClass('form-control');
		$('#id_associated_files').attr('multiple','true');
	});
</script>
<script>
    $(document).ready(function(){
        // Basic
        $('.dropify').dropify({
        	messages: {
        		default: 'Drag and drop Associated Files or click'
        	}
        });

        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove:  'Supprimer',
                error:   'Désolé, le fichier trop volumineux'
            }
        });

        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function(event, element){
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function(event, element){
            alert('File deleted');
        });

        drEvent.on('dropify.errors', function(event, element){
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function(e){
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
</script>
<script type="text/javascript">
	$(document).on('click','#btn-form-submit',function(e){
		var form = $('#proj-form');
		e.preventDefault();
		form.ajaxSubmit(function(returned){
			$('.field-errors').empty();
			if (returned.errors) {
				var errors = returned.errors
				for (var field in errors) {
					var selector = '#'+field+'_errors';
					$(selector).append(' - '+'<b>'+errors[field]+'</b>');
					$(selector).css({'color':'red','margin-left':'10px','font-wieght':'bolder'});
				}
			} else if (returned.success) {
				console.log(returned.success)
				window.location = returned.success
			}
    	});
	});
</script>
{% endblock %}