{% extends 'project.html' %}
{% load static %}
{% block head %}
  <style type="text/css">
    h5 { font-weight: bolder;font-size: 20px; margin-top:0px;}
  </style>
  <style type="text/css">
  .ne {
    background-color:#89d699;
  }
  .even {
    background-color:rgb(190, 203, 224);
  }
  .odd {
    background-color:#eee;
  }
  .vc {
    vertical-align:middle;
  }
  .col-spacer {
    padding-top:5px;
  }
  .sc {
    padding:2px;
    text-shadow:1px 1px 1px #dad8d8;
  }
  .tdi {
    background-color:#eee;
  }
  .item-title {
    cursor:pointer;
  }
  .header-text {
    letter-spacing:2px;
    font-weight:bolder;
    margin:0px;
  }
</style>
{% endblock %}

{% block content %}
<div class="top-spacer"></div>
<div class="col-md-12 col-lg-12 col-sm-12">
  <div class="white-box">
    <div class="row">
      <div class="col-xs-3 text-left">
        <b>Client: <span>{{project.client}}</span></b>
      </div>
      <div class="col-xs-2 text-left">
        <b>Codename: <span>{{project.codename}}</span></b>
      </div>
      <div class="col-xs-2 text-center">
        <b>Start: <span>{{project.start_date}}</span></b>
      </div>
      <div class="col-xs-2 text-left">
        <b>End: <span>{{project.end_date}}</span></b>
      </div>
      <div class="col-xs-3 text-right">
        <b>Total Time Billed Against Project: <span>{{total_time}}</span></b>
      </div>
    </div>
    <hr style="margin-top:2px;margin-bottom:2px;background-color:rgb(104,104,104)">
    <div class="row">
      <div class="col-xs-12">
        <b>{{project.description}}</b>
      </div>      
    </div>
  </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12">
  <div class="white-box">
    <div class="row row-in">
      <!-- WORKFLOW -->
      <a href="/workflow">
      <div class="col-lg-3 col-sm-6 row-in-br  b-r-none">
        <div class="col-in row">
          <div class="col-md-6 col-sm-6 col-xs-6"> <i class="linea-icon linea-basic" data-icon="&#xe01b;"></i>
            <h5 class="text-muted vb">TASKS</h5>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <h3 class="counter text-right m-t-15 text-megna">{{task_count}}</h3>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="progress">
              <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
            </div>
          </div>
        </div>
      </div>
      </a>
      <!-- ########## -->
      <!-- FILES -->
      <a href="/project_files">
      <div class="col-lg-3 col-sm-6 row-in-br">
        <div class="col-in row">
          <div class="col-md-6 col-sm-6 col-xs-6"> <i class="linea-icon linea-basic" data-icon="&#xe00b;"></i>
            <h5 class="text-muted vb">FILES</h5>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <h3 class="counter text-right m-t-15 text-primary">
            {% with count=project.associated_files.count|add:project.issue_files.count %}
            {{count}}
            {% endwith %}
            </h3>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
            </div>
          </div>
        </div>
      </div>
      </a>
      <!-- ###### -->
      <!-- NOTES -->
      <div class="col-lg-3 col-sm-6 row-in-br">
        <div class="col-in row">
          <div class="col-md-6 col-sm-6 col-xs-6"> <i data-icon="-" class="linea-icon linea-basic" ></i>
            <h5 class="text-muted vb">NOTES</h5>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <h3 class="counter text-right m-t-15 text-danger project-note-count">{{project.note_set.count}}</h3>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- ####### -->
      <!-- DATA ITEMS -->
      <div class="col-lg-3 col-sm-6  b-0">
        <div class="col-in row">
          <div class="col-md-6 col-sm-6 col-xs-6"> <i class="linea-icon linea-basic" data-icon="&#xe016;"></i>
            <h5 class="text-muted vb">DATA ITEMS</h5>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <h3 class="counter text-right m-t-15 text-success">{{data_item_count}}</h3>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ######## -->
    </div>
  </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12">
  <div class="white-box">
    <div class="row text-muted">
      <div class="col-xs-2"></div>
      <div class="col-xs-1"></div>
      <div class="col-xs-6 text-center">
        <h5 style="">Project Notes</h5>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-2"></div>
    </div>
    <div class="row control-bar">
      <div class="col-xs-4">
        <span><b>Showing</b></span>
        <span>
          <div class="form-group" style="width:100px;display:inline;">
            <div class="input-group" style="width:100px;display:inline;">
              <!-- <div class="input-group-addon" style="width:20px;display:inline;"></div> -->
              <select class="form-control" name="note-display-count" style="width:80px;display:inline;float:none;">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
              </select>
            </div>
          </div>
        </span>
        <span><b>Notes</b></span>
      </div>
      <div class="col-xs-4"></div>
      <div class="col-xs-4 text-right" style="padding-top:15px;">
        <i class="fa fa-comment btn item-note" style="padding-top:2px;"></i>
        <span class="label label-rouded label-info pull-right note-count">{{notes_count}}</span>
      </div>
    </div>
    <hr style="margin-top:3px;margin-bottom:3px;">
    <div id="notes">
      {% include 'note_list.html' with header=True %}
    </div>
  </div>
</div>
<div id="dynamicModal"></div>

{% include 'auditor.html' %}
<div id="page-data" style="display:none;" data-section="{{section}}"></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  formatForm();

  $(document).on('click','.item-note',function(){
    $.get('/get_form/',{'app':'notes','form':'NoteForm','form_id':'note-form'},function(returned) {
      var header        = "Add Note to {{project.title}}";
      var content       = returned;
      var strSubmitFunc = "submitForm()";
      var btnText       = "Add Note";
      doModal('dynamicModal', header, content, strSubmitFunc, btnText);
      var modal = $('#modalWindow');
      modal.find('#btn-modal-form-submit').attr('id','btn-submit-note');
      var form = modal.find('#note-form');
      form.attr('action','/add_note/');
      form.attr('method','POST');
      form.append('<input type="hidden" name="id" value="{{project.id}}">');
      form.append('<input type="hidden" name="model_type" value="Project">');
      form.append('<input type="hidden" name="app" value="project">');
      form.append('<input type="hidden" name="header" value="true">');
      form.append('<input type="hidden" name="where" value="{{where}}">');

      formatForm();
    });
  });

  $(document).on('click','#btn-submit-note',function(e){
    e.preventDefault();
    var btn = $(this);
    var modal = btn.closest('.modal');
    var form = modal.find('form');
    form.ajaxSubmit(function(returned){
      $('#notes').empty().html(returned);
      var count = parseInt($('.project-note-count').text())
      $('.project-note-count').text(count+1);
      modal.modal('hide');
      updateAudits('{{where}}');
    });
  });

  $(document).on('click','.note-title',function(){
    var note = $(this).closest('.note');
    var note_id = note.attr('id');
    var data = {'csrfmiddlewaretoken':'{{csrf_token}}','note_id':note_id}
    var url = '/note_info/';
    $.post(url,data,function(returned){
      var header = '<b>'+returned['title']+'</b>';
      var fixed = returned['body'].replace(/(\r\n|\n|\r)/g,"<br />");
      //console.log(fixed)
      var content = fixed;
      var strSubmitFunc = "submitForm()";
      var btnText = "";
      doModal('dynamicModal', header, content, strSubmitFunc, btnText);
      var modal = $('#dynamicModal').find('#modalWindow');
      modal.find('.modal-footer').append('<div class="row"><div class="col-md-3">Author: '+returned['creator']+'</div><div class="col-md-3"></div><div class="col-md-3"></div><div class="col-md-3">'+returned['created']+'</div></div>')
      modal.modal('show');
      modal.css('margin-top','150px');
      modal.find('.modal-content').css('background-color','white');
      modal.find('.modal-header').css('border-bottom','none');
      modal.find('.modal-footer').css('border-top','none');
      modal.find('.modal-content').css('min-width','30%');
    });
  });

  $(document).on('click','.btn-edit-note',function(){
    var note = $(this).closest('.note');
    var note_id = note.attr('id');
    $.get('/get_form/',{'app':'notes','form':'NoteForm','form_id':'edit-note-form','id':note_id,'model_app':'notes','model_type':'Note'},function(returned){
      var header = '<b>'+note.find('.note-title').text()+'</b>';
      var content = returned;
      var strSubmitFunc = "submitForm()";
      var btnText = "Update Note";
      doModal('dynamicModal', header, content, strSubmitFunc, btnText);
      var modal = $('#dynamicModal').find('#modalWindow');
      modal.find('#btn-modal-form-submit').attr('id','btn-edit-note');
      var form = modal.find('#edit-note-form');
      form.attr('action','/update_note/');
      form.attr('method','POST');
      form.append('<input type="hidden" name="id" value="'+note_id+'">');
      form.append('<input type="hidden" name="model_id" value="{{project.id}}">');
      form.append('<input type="hidden" name="model_type" value="Project">');
      form.append('<input type="hidden" name="app" value="project">');
      form.append('<input type="hidden" name="header" value="true">');
      form.append('<input type="hidden" name="where" value="{{where}}">');
      formatForm();
    });
  });

  $(document).on('click','#btn-edit-note',function(){
    var btn = $(this);
    var modal = btn.closest('.modal');
    var form = modal.find('#edit-note-form');
    form.ajaxSubmit(function(returned){
      $('#notes').empty().html(returned);
      updateAudits('{{where}}');
      modal.modal('hide');
    });
  });
</script>
{% endblock %}
