{% extends 'baseline.html' %}
{% load static %}

{% block head %}
<style type="text/css">
	.even {
		background-color:#dad8d8;
	}
	.odd {

	}
	.vc {
		vertical-align:middle;
	}
</style>
{% endblock %}

{% block top_pallet %}
<div class="top-spacer"></div>

<div class="col-md-12">
  	<div class="white-box">
  		{% for project in all_projects %}
    	<div class="row">
      		<div class="col-sm-12 {% cycle 'even' 'odd' %}">
            	<div class="row" id="{{project.id}}" style="padding:10px;padding-top:20px;">
            		<div class="col-md-3 proj-title vc">
            			<b>{{project.title | title}}</b>
            		</div>
            		<div class="col-md-3 proj-dates vc text-center">
            			<b>Start:</b> {{project.start_date}} | <b>End:</b> {{project.end_date}}
            		</div>
            		<div class="col-md-3 proj-client vc">
            			<b>Client: </b>{{project.client}}
            		</div>
            		<div class="col-md-3 status-buttons vc" style="margin-top:-5px;">
            			{% if project.active %}
            			<button class="btn btn-success waves-effect waves-light proj-open" type="button" disabled>
            				<span>Open</span>
            				<i class="fa fa-folder-open m-l-5"></i>
            			</button>
            			<button class="btn btn-warning waves-effect waves-light proj-close" type="button">
            				<span>Close</span>
            				<i class="fa fa-folder m-l-5"></i>
            			</button>
            			{% else %}
            			<button class="btn btn-success waves-effect waves-light proj-open" type="button">
            				<span>Open</span>
            				<i class="fa fa-folder-open m-l-5"></i>
            			</button>
            			<button class="btn btn-warning waves-effect waves-light proj-close" type="button" disabled>
            				<span>Close</span>
            				<i class="fa fa-folder m-l-5"></i>
            			</button>
            			{% endif %}
            		</div>
            	</div>
      		</div>
    	</div>
    	{% endfor %}
  	</div>
</div>
<div id="dynamicModal"></div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function(){
		$(document).on('click','.proj-open',function(){
			var proj_id = $(this).closest('.row').attr('id');
			var parent = $(this).closest('.row');
			var button = $(this); 
			var data = {'proj_id':proj_id,'csrfmiddlewaretoken':'{{csrf_token}}','state':'open'};
			var url = '/project_status/';
			$.post(url,data,function(returned){
				alert(returned);
				if (returned == 'Project Opened!') {
					parent.find('.proj-close').removeAttr('disabled');
					button.attr('disabled','disabled');
				}
			});
		});
		$(document).on('click','.proj-close',function(){
			var proj_id = $(this).closest('.row').attr('id');
			var parent = $(this).closest('.row');
			var button = $(this);
			var data = {'proj_id':proj_id,'csrfmiddlewaretoken':'{{csrf_token}}','state':'close'};
			var url = '/project_status/';
			$.post(url,data,function(returned){
				alert(returned);
				if (returned == 'Project Closed!') { 
					parent.find('.proj-open').removeAttr('disabled');
					button.attr('disabled','disabled')
				}
			});
		});
	});
</script>
{% endblock %}
