{% extends 'baseline.html' %}
{% load static %}
{% block head %}
<style type="text/css">
	.even {
		background-color:#dad8d8;
	}
	.odd {

	}
	.vc {
		vertical-align:middle;
	}
</style>
{% endblock %}

{% block table_pallet %}
<div class="top-spacer"></div>

<div class="col-md-12">
  <div class="white-box">
    <div class="row">
      <div class="col-sm-12">
            <h2>Search Report Items</h2>
            <form id="search-form">
              <div class="form-group">
                <label for="input-search" class="sr-only">Search Report Items:</label>
                <input class="form-control" id="input-search" placeholder="Type to search..." value="" type="input">
              </div>
              <div class="row">
                <div class="col-md-4 pull-left" style="margin-top:-10px;">
                  <div class="checkbox checkbox-info">
                    <input id="chk-ignore-case" type="checkbox" checked>
                    <label for="chk-ignore-case">Ignore Case</label>
                  </div>
                  <!-- <div class="checkbox checkbox-info">
                    <input class="checkbox" id="chk-reveal-results" value="true" type="checkbox">
                    <label for="chk-reveal-results">Reveal Results</label>
                  </div> -->
                  <div class="checkbox checkbox-info">
                    <input id="chk-exact-match" type="checkbox">
                    <label for="chk-exact-match">Exact Match</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <!-- <button type="button" class="btn btn-success" id="btn-search">Search</button>
                  <button type="button" class="btn btn-default" id="btn-clear-search">Clear</button> -->
                </div>
              </div>
            </form>
          </div>
    </div>
  <hr>
    <button type="submit" id="btn-new-add-item" class="btn btn-success waves-effect waves-light m-r-10">Add Item</button>
</div>
</div>

<div class="col-md-12">
  	<div class="white-box items-box">
  		{% include 'display_report_items.html' %}	
   	</div>
</div>
<div id="dynamicModal"></div>
<div id="form-sample" style="display:none;">
    <form method="POST" action="/update_report_item/" class="post-form" id="proj-form">{{ form.non_field_errors }}{% for field in form %}<div class="form-group"><label for="{{ field.id_for_label }}"></label><span>{{ field.errors }}</span><div class="input-group"><div class="input-group-addon"></div>{{field}}</div></div>{% endfor %}<input type="hidden" id="item_id"></form> 
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function(){
		

        formatForm();


        
        

        $(document).on('click','.item',function(){
            var item = $(this);
            var ri = {}
            ri.title = item.find('.item-title').text().trim();
            ri.description = item.find('.item-description').text().trim();
            ri.type = item.find('.item-type').attr('id');
            ri.id = item.attr('id');    
            var header = "Update Report Item";
            var content = $("#form-sample").html();
            var strSubmitFunc = "submitForm()";
            var btnText = "Update Item";
            doModal('dynamicModal', header, content, strSubmitFunc, btnText);
           
            $('#modalWindow').find('#id_title').val(ri.title);
            $('#modalWindow').find('#id_description').val(ri.description);
            $('#modalWindow').find('#id_item_type').find('option[value=2]').attr('selected','selected');
            $('#modalWindow').find('#item_id').val(ri.id);
            console.log($('#modalWindow').find('#item_id').val());
        });

        $(document).on('click','#btn-new-add-item',function(){
            var header = "Add Report Item";
            var content = $("#form-sample").html();
            var strSubmitFunc = "submitForm()";
            var btnText = "Add Item";
            doModal('dynamicModal', header, content, strSubmitFunc, btnText);
            $('#modalWindow').find('#btn-modal-form-submit').attr('id','btn-modal-add-item');
            var modal = $('.modal');
            var form = modal.find('form');
            form.append('<div class="row" id="item-type-div"><div class="col-xs-6" id="item-type-col"></div><div class="col-xs-6" id="addon-col" style=""></div></div>')
            var item_type = form.find('#id_item_type');
            // item_type.css('width','50%');
            $('#addon-col').append('<i class="btn fa fa-plus" style="font-size:25px;margin-top:27px;" id="btn-add-item-type"></i>')
            var form_group = item_type.closest('.form-group');
            $('#item-type-col').append(form_group.clone());
            form_group.remove();
            // form_group.css('width','50% !important');
            // form_group.css('display','inline');
            // form_group.find('.input_group').css('display','inline-table');
            // form_group.find('.input_group').css('width','50% !important');
            // $('#btn-add-item-type').css('display','inline');

        });

        $(document).on('click','#btn-add-item-type',function(){
            var btn = $(this);
            var col = btn.closest('#addon-col');
            btn.remove();
            // input_group.css('width','50%');
            // var label = form_group.find('label');
            // label.after('');
            col.append('<form method="POST" action="/create_item_type/"><div class="form-group"><label for="new-item-type">Create New Item Type</label><span id="errors" style="margin-left:10px;"></span><div class="input-group"><div class="input-group-addon"></div><input type="text" name="new-item-type" class="form-control" style="width:80%;" placeholder="Item type label.." id="new-item-type"><button class="btn btn-success" id="btn-submit-item-type" style="font-size:17px;">Create</button></div></div></form>');
            formatForm();
        });

        $(document).on('click','#btn-submit-item-type',function(e){
            e.preventDefault();
            var btn = $(this);
            var col = btn.closest('#addon-col');
            var form_group = btn.closest('.form-group');
            var input = form_group.find('input');
            var value = input.val();
            var form = col.find('form');
            form.ajaxSubmit(function(returned){
                if (returned['success']) {
                    var labels = returned['success'];
                    var item_type = col.closest('.row').find('#id_item_type');
                    item_type.empty().append('<option value="">---------</option>')
                    for (label in labels){
                        if (labels[label] == value) {
                            item_type.append('<option value="'+label+'" selected="selected">'+labels[label]+'</option>');
                        } else {
                            item_type.append('<option value="'+label+'">'+labels[label]+'</option>');
                        }
                    }
                    col.empty().append('<i class="btn fa fa-plus" style="font-size:25px;margin-top:27px;" id="btn-add-item-type"></i>');
                }
                if (returned['errors']) {
                    var errors = col.find('#errors');
                    errors.append('<b style="color:red">'+returned['errors']+'</b>')
                }
            });
        });

        $(document).on('click','#btn-modal-add-item',function(){
            var form = $('#modalWindow').find('form');
            var data = form.serializeArray();
            var trans = {}
            $.each(data,function(idx,val){
                var name = $(this)[0]['name'];
                var info = $(this)[0]['value'];
                trans[name] = info;
            });
            trans['csrfmiddlewaretoken'] = '{{csrf_token}}';
            var url = '/report_items/';
            $.post(url,trans,function(returned){
                $('.items-box').empty().html(returned);
                $('#modalWindow').modal('hide');
                //form.trigger('reset');
            });
        });

        $(document).on('click','#btn-modal-form-submit',function(){
            var form = $('#modalWindow').find('form');
            //console.log($('#modalWindow').find('#id_title').val());
            var title = form.find('#id_title').val();
            var description = form.find('#id_description').val();
            var item_id = form.find('#item_id').val();
            var item_type = form.find('#id_item_type').find(':selected').val();
            var data = {};
            data['title'] = title;
            data['description'] = description;
            data['item_id'] = item_id;
            data['item_type'] = item_type;
            data['csrfmiddlewaretoken'] = '{{csrf_token}}';
            console.log(data)
            var url = '/update_report_item/';
            $.post(url,data,function(returned){
                //console.log(returned);
                // if (returned['state'] == 'success') {
                //     $('#modalWindow').modal('hide');
                    
                //     $('.items-box').html('').load('{% url "display_report_items" %}');
                    
                // }
                $('.items-box').empty().html(returned);    
                $('#modalWindow').modal('hide');
            });
            //return false;
        });

        $(document).on('click','#btn-add-item',function(){
            
            var form = $('#add-item-form');
            var data = form.serializeArray();
            var trans = {}
            $.each(data,function(idx,val){
                var name = $(this)[0]['name'];
                var info = $(this)[0]['value'];
                trans[name] = info;
            });
            trans['csrfmiddlewaretoken'] = '{{csrf_token}}';
            var url = '/report_items/';
            $.post(url,trans,function(returned){
                // if(returned['state'] == 'success') {
                    
                //     $('.items-box').html('').load('{% url "display_report_items" %}');
                    
                // }
                $('.items-box').empty().html(returned);
                form.trigger('reset');
            });
            // return false;
        });

        $('#search-form').submit(function(e){
            e.preventDefault();
        });

        $(document).on('keyup','#input-search',function(){
            // Set search value
            var search = $(this).val();
            // If the search Value is not empty !('').
            if (search.length > 0) {
                // Make all Items invisible
                $('.item').css('display','none');
                // If the form 'ignore case checkbox is checked'
                if ($(this).closest('form').find('#chk-ignore-case').is(':checked')) {
                    // Create the regex from the search value with ignore case flag
                    var re = new RegExp(search,"i");
                    // Check each .item to see if the regex matches and display the item if it does
                    $.each($('.item'),function(){
                        //console.log($(this).text().trim());
                        var item = $(this).text()
                        if (re.test(item)) {
                            $(this).css('display','block');l
                        }
                    });
                }
            } else {
                $('.item').css('display','block');
            }
            
            // } else if ($(this).closest('form').find('#chk-exact-match').is(':checked')) {
            //     var e_match = true;
            //     var re = new RegExp(search);
            //     console.log('here');
            //     $.each($('.item'),function(){
            //         if(re.exec($(this).text())) {
            //             $(this).css('display','block');
            //         }
            //     });
            // } else {
            //     i_case = false;
            // }

        });//END on search change

	});// END Document Ready
</script>
{% endblock %}