<div class="row">
	<div class="col-xs-5"></div>
	<div class="col-xs-1">
		{% if item.ancestor %}
		<i class="btn fa fa-chevron-left modal-header-ancestor-btn" id="modal-{{item_type}}-prev-ancestor" {%if item.ancestor%} data-obj-relative-id="{{item.ancestor.id}}" {%endif%}></i>
		{% endif %}
	</div>
	<div class="col-xs-1">
		{% if item.descendant %}
		<i class="btn fa fa-chevron-right modal-header-descendant-btn" id="modal-{{item_type}}-next-descendant" {%if item.descendant%} data-obj-relative-id="{{item.descendant.id}}" {%endif%}></i>
		{% endif %}
	</div>
	<div class="col-xs-1">
		{% if not item.recommend and not edit or editable %}
			<i class="btn fa fa-edit modal-header-edit-btn"  id="db-modal-{{item_type}}-edit"></i>
		{% endif %}
	</div>
	<div class="col-xs-1">
		{% if edit %}
			<!-- <a class="modal-header-go-back-btn header-scheme" data-dismiss="modal"><i class="fa fa-mail-reply"></i></a> -->
		{% endif %}
	</div>
	<div class="col-xs-1">
		{% if not edit %}
		<i class="btn fa fa-refresh modal-header-refresh-btn" data-obj-id="{{item.id}}" data-url="{{data_url}}"></i>
		{% endif %}
	</div>
	<div class="col-xs-1 text-right">
		<b class="modal-header-control-divider" style="top:-6px;">|</b>
	</div>
	<div class="col-xs-1">
		<a class="close header-scheme pull-left" data-dismiss="modal" style="display:inline;">×</a>
	</div>
</div>