{% autoescape off %}
<form {% if form_id %}id="{{form_id}}"{% else %}id="model-form"{% endif %}>
  {% csrf_token %}
  <span class="field-errors" id="non-field-errors">{{ form.non_field_errors }}</span>
  {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{field.label}}</label><span class="field-errors" id="{{field.name}}-errors">{{ field.errors }}</span>
      <div class="input-group">
        <div class="input-group-addon"></div>
        {{field}}
      </div>
    </div>
  {% endfor %}
</form>
{% endautoescape %}