{% for udb_user in users %}
	<div class="col-xs-6" style="">
		<div class="user-card-lg object user bakgrad" style="position:relative;margin:15px;box-shadow:1px 1px 1px rgb(104, 104, 104);border:1px solid #dad8d8;padding:15px;display:flex;flex-direction:row;max-height:300px;min-height:300px;" data-obj-id="{{udb_user.id}}" data-url="/user_update/">

			<div class="container-fluid" style="position:relative;display:inline-flex;flex-direction:column;width:20%;height:100%;justify-content:space-between;">
				<img src="{{udb_user.tester.avatar.url}}" width="80" height="80" style="margin:3px 5px 2px 5px;">
				<div>
					{% if udb_user != request.user %}
					<button class="btn btn-success" id="btn-udb-user-edit" style="margin-top:50px;">Edit</button>
					{% endif %}
					<button class="btn btn-info" id="btn-udb-user-delete" style="margin-top:10px;">Delete</button>
				</div>
			</div>

			<div class="container-fluid" style="position:relative;display:inline;width:80%;height:100%;">
			<b>
				<ul class="header-scheme udb-user-card-info" style="list-style:none;color:black;">
					<li>
						<div class="row">
							<div class="col-xs-9" style="font-size:20px;">
								{{udb_user.first_name}} {{udb_user.last_name}} ({{udb_user.username}})
							</div>
							<div class="col-xs-3 text-right text-bottom">
								<span style="position:relative;vertical-align:bottom !important;">{{udb_user.tester.role}}</span>
							</div>
						</div>
					</li>
					<hr class="modal-divider" style="margin-bottom:10px;">
					<li>
						<div class="row">
							<div class="col-xs-8">
								{% if udb_user.email %}
									<i class="fa fa-envelope" style="margin-right:10px;"></i>
									{{udb_user.email}}
								{% endif %}
							</div>
							<div class="col-xs-4 text-right">
								{% if udb_user.tester.phone_number %}
									<i class="fa fa-phone" style="margin-right:10px;"></i>
									{{udb_user.tester.phone}}
								{% endif %}
							</div>
						</div>
					</li>
					<li style="margin-top:15px;">
						<ul class="nav customtab nav-tabs" role="tablist">
							<li role="presentation" class="active udb-nav-tab" data-obj-id="{{udb_user.id}}" data-url="/ucip/">
								<a href="#udb-info-tab-content-{{udb_user.id}}" aria-controls="udb-info" role="tab" data-toggle="tab" aria-expanded="true">
									<span class="visible-xs">
										<i class="fa fa-id-card"></i>
									</span>
									<span class="hidden-xs">
										Info
									</span>
								</a>
							</li>
							<li role="presentation" class="udb-nav-tab" data-obj-id="{{udb_user.id}}" data-url="/ucgp/">
								<a href="#udb-groups-tab-content-{{udb_user.id}}" aria-controls="udb-groups" role="tab" data-toggle="tab" aria-expanded="false">
									<span class="visible-xs">
										<i class="fa fa-legal"></i>
									</span>
									<span class="hidden-xs">
										Permissions Groups
									</span>
								</a>
							</li>
							<li role="presentation" class="udb-nav-tab" data-obj-id="{{udb_user.id}}" data-url="/ucpp/">
								<a href="#udb-projects-tab-content-{{udb_user.id}}" aria-controls="udb-projects" role="tab" data-toggle="tab" aria-expanded="false">
									<span class="visible-xs">
										<i class="fa fa-folder"></i>
									</span>
									<span class="hidden-xs">
										Active Projects
									</span>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<div class="tab-content">
							{% include 'user_card_info_panel.html' %}
						</div>
					</li>
				</ul>
			</b>
			</div>
		</div>
	</div>
{% endfor %}