{% extends 'baseline.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'plugins/bower_components/dropify/dist/css/dropify.min.css' %}">
{% endblock %}

{% block table_pallet %}
<div class="top-spacer"></div>

<div class="col-md-4 col-xs-12">
          <div class="white-box">
            <div class="user-bg">
              <div class="overlay-box">
                <div class="user-content">{% if user.tester.avatar %}<a href="javascript:void(0)"><img src="{{user.tester.avatar.url}}" class="thumb-lg img-circle" alt="img"></a>{% else %}
                <form method="POST" action="/upload_avatar/" enctype="multipart/form-data" class="upload_avatar">{% csrf_token %}                
                {{form.as_p}}
                </form>
                {% endif %}
                  <h4 class="text-white">{{user.username|title}} - Tier {{user.tester.tier}}</h4>
                  <h5 class="text-white">{{user.first_name}} {{user.last_name}}</h5>
		          <h5 class="text-white">{{user.email}}</h5>
                </div>
                {% if user.tester.avatar %}
                	<form method="POST" action="/upload_avatar/" enctype="multipart/form-data" class="upload_avatar">{% csrf_token %}                
	                {{form.as_p}}
	                </form>
                {% endif %}
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-8 col-xs-12">
          <div class="white-box">
            <ul class="nav nav-tabs tabs customtab">
              
              <li class="active tab"><a href="#settings" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="fa fa-cog"></i></span> <span class="hidden-xs">Settings</span> </a> </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="settings">
                <form method="POST" class="form-horizontal form-material" id="profile-form">{% csrf_token %}
                  <div class="form-group">
                    <label class="col-md-12">First Name</label>
                    <div class="col-md-12">
                      <input type="text" name="f_name" placeholder="{{user.first_name}}" class="form-control form-control-line">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-12">Last Name</label>
                    <div class="col-md-12">
                      <input type="text" name="l_name" placeholder="{{user.last_name}}" class="form-control form-control-line">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email" class="col-md-12">Email</label>
                    <div class="col-md-12">
                      <input type="email" placeholder="{{user.email}}" class="form-control form-control-line" name="email" id="example-email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-12">Password</label>
                    <div class="col-md-12">
                      <input type="password" value="" placeholder="password" name="password" class="form-control form-control-line">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <button id="btn-update-profile" class="btn btn-success">Update Profile</button>
                    </div>
                  </div>
                </form>
                <span id="form-messages"></span>
              </div>
            </div>
          </div>
        </div>

<div id="page-data" style="display:none;" data-section="{{section}}"></div>
{% endblock %}

{% block scripts %}
<!-- jQuery file upload -->
<script src="{% static 'plugins/bower_components/dropify/dist/js/dropify.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#id_avatar').addClass('dropify');
		$('#id_avatar').attr('data-height','80');
		$('#id_avatar').closest('form').css('width','80%');
		$('#id_avatar').closest('form').css('margin-left','auto');
		$('#id_avatar').closest('form').css('margin-right','auto');
	
		$(document).on('click','#btn-update-profile',function(event){
      event.preventDefault();
			var form = $('#profile-form');
      var data = form.serializeArray();
      var trans = {};
      $.each(data,function(idx,val){
        var name = $(this)[0]['name'];
        var info = $(this)[0]['value'];
        trans[name] = info;
      });//end each
      trans['csrfmiddlewaretoken'] = '{{csrf_token}}';
      trans['update'] = true;
      var url = '/profile/';
      $.post(url,trans,function(returned){
        //console.log(returned);
        $('#form-messages').empty();
        for (var name in returned) {
          //console.log(name);
          if (/error/i.test(name)) {
            $('#form-messages').append('<p style="color:red">'+returned[name]+'</p>');
          } else {
            $('#form-messages').append('<p style="color:green">'+returned[name]+'</p>');
          }//end if-else
        }//end for
      });//end post
		});//end on click
	});//end doc.ready
</script>
<script>
            $(document).ready(function(){
                // Basic
                $('.dropify').dropify({
                	messages: {
                		default: 'Drag and drop Avatar or click'
                	}
                });

                // Translated
                $('.dropify-fr').dropify({
                    messages: {
                        default: 'Glissez-déposez un fichier ici ou cliquez',
                        replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                        remove:  'Supprimer',
                        error:   'Désolé, le fichier trop volumineux'
                    }
                });

                // Used events
                var drEvent = $('#input-file-events').dropify();

                drEvent.on('dropify.beforeClear', function(event, element){
                    return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
                });

                drEvent.on('dropify.afterClear', function(event, element){
                    alert('File deleted');
                });

                drEvent.on('dropify.errors', function(event, element){
                    console.log('Has Errors');
                });

                var drDestroy = $('#input-file-to-destroy').dropify();
                drDestroy = drDestroy.data('dropify')
                $('#toggleDropify').on('click', function(e){
                    e.preventDefault();
                    if (drDestroy.isDropified()) {
                        drDestroy.destroy();
                    } else {
                        drDestroy.init();
                    }
                })
            });
        </script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#id_avatar').change(function(){
			$(this).closest('form').submit()
			//console.log($(this));
      $('#form-messages').empty();
		});
	});
</script>
{% endblock %}
