{% load static %}
<form method="POST" action="{{action}}" id="{{form_id}}">
{%csrf_token%}
{{ form.non_field_errors }}
<br>
<br>
<div class="row">
	<div class="col-xs-4">
		{% include 'form_input_field.html' with field=form.username %}
	</div>
	<div class="col-xs-4">
		{% include 'form_input_field.html' with field=form.first_name %}
	</div>
	<div class="col-xs-4">
		{% include 'form_input_field.html' with field=form.last_name %}
	</div>
	<div class="col-xs-4">
		{% include 'form_input_field.html' with field=form.password %}
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-xs-4">
		{% include 'form_input_field.html' with field=form.tier %}
	</div>
	<div class="col-xs-4">
	{%autoescape off%}
		{% include 'form_input_field.html' with field=form.phone %}
	{% endautoescape %}
	</div>
	<div class="col-xs-4">
		{% include 'form_input_field.html' with field=form.email %}
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		{% include 'form_select_field.html' with field=form.projects %}
	</div>
	<div class="col-xs-6">
		{% include 'form_select_field.html' with field=form.groups %}
	</div>
</div>
	<div class="container-fluid">
		<button class="btn btn-info pull-right btn-modal-cancel" id="btn-modal-user-add-cancel" style="margin-left:20px;">cancel</button>
		<button class="btn btn-success pull-right" id="btn-modal-user-add-submit">submit</button>
	</div>
</form>