{% extends 'modal_content.html' %}
{% load static %}

{% block title_block %}<i class="fa fa-refresh mrfb" data-url="/user_delete/" data-obj-id="{{delete_user.id}}"></i>{%endblock%}

{% block body_block %}
	<div class="container-fluid text-center" style="background-color:rgba(165,0,0,.4);color:#dad8d8;text-shadow:1px 1px 1px black;font-size:17px;margin-top:10px;margin-bottom:10px;padding:0;letter-spacing:1px;box-shadow:1px 1px 1px #dad8d8;">
		<b>This deletion will be permanent and irreversible!</b>
	</div>
	<b>Enter your password and confirm.</b>
	<br><br>
	<form method="POST" action="/user_delete_confirm/" id="form-udb-user-delete">
		{% csrf_token %}
		{% include 'form_input_field.html' with field=form.password %}
		{% include 'form_input_field.html' with field=form.confirm %}
		<input type="hidden" name="id" value="{{delete_user.id}}">
		<div class="field-errors text-center" id="non_field_errors" style="min-height:20px;">
			
		</div>
	</form>
	<div style="display:flex;flex-direction:row;justify-content:space-between;">
		<button class="btn" id="btn-udb-user-delete-confirm" style="background-color:#a50000;color:#dad8d8;text-shadow:1px 1px 1px black;">delete forever</button>
		
		<button class="btn btn-info btn-close-modal">cancel</button>
	</div>
{% endblock %}