<form id="task-time-entry-form" method="POST" action="/add_time_entry_for_task/" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}"></label><span>{{ field.errors }}</span>
      <div class="input-group">
        <div class="input-group-addon"></div>
        {{field}}
      </div>
    </div>
  {% endfor %}
  <input type="hidden" id="time-entry-tsk-id" name="task_id" value="">
</form>