{% load static %}
<form method="POST" action="{{action|default:'/time_entry_add/'}}" id="{{form_id|default:'form-time-entry-add'}}">
{%csrf_token%}
<div class="row">
	<div class="col-xs-6">
		{% include 'form_input_field.html' with field=form.title %}
	</div>
	<div class="col-xs-3">
		{% include 'form_input_field.html' with field=form.date %}
	</div>
	<div class="col-xs-3">
		{% include 'form_input_field.html' with field=form.time %}
	</div>
</div>
<input type="hidden" name="id" value="{{timetracker_id}}">
{% include 'form_input_field.html' with field=form.body %}
	<div class="container-fluid">
		<!-- <button class="btn btn-success pull-right" id="btn-time-entry-submit">submit</button> -->
		<button class="btn btn-info pull-right {{cancel_class}} popped" style="margin-left:20px;">cancel</button>
		<button class="btn btn-success pull-right popped" id="{{submit_id|default:'btn-time-entry-submit'}}">submit</button>
	</div>
</form>
