{% extends 'import_table.html' %}
{% load static %}


{% block top_pallet %}
<!-- <div class="top-spacer"></div> -->
<div id="add-form-modal" class="modal fade" role="dialog" style="width:101vw;overflow-y:scroll;">
	<div class="modal-dialog" style="width:80vw;">
		<!-- <div class="modal-header">
       		<button type="button" class="close" data-dismiss="modal">&times;</button>
        	<h3 class="modal-title text-center"></h3>
		</div> -->
		<div class="modal-body" id="add-form-modal-body">
			<div class="container form-box">
			  <div class="white-box">
			  	<div id="add-form-title" style="width:100%;background-color:#eee;padding-left:5px;">
			    <h3 class="box-title m-b-0" style="display:inline">Add Methodology Item</h3><button type="button" style="opacity:.6;color:black !important;font-size:2.7em;" class="close" data-dismiss="modal">&times;</button>
			    </div>
			    <p class="text-muted m-b-30 font-13"> Required Fields Denoted by (*) </p>
			    <div class="row">
			      <div class="col-sm-12 col-xs-12">
							<form method="POST" class="post-form" id="meth-form" enctype="multipart/form-data">{% csrf_token %}
							{{ form.non_field_errors }}
								{% for field in form %}
									<div class="form-group">
										<label for="{{ field.id_for_label }}"></label><span>{{ field.errors }}</span>
										<div class="input-group">
									  	<div class="input-group-addon"></div>
									  	{{field}}
										</div>
									</div>
								{% endfor %}
								<!-- BUTTONS -->
							  <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
							  <span id="cancel-btn" class="btn btn-inverse waves-effect waves-light">Cancel</span>
							</form>
						</div>
			    </div>
			  </div>
			</div>
		</div>
		<!-- <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div> -->
	</div>
</div>
{% endblock %}

{% block scripts_2 %}
<script type="text/javascript">
	$(document).ready(function(){
		//To Title Case
		function tTC(str) {
	    return str.replace(/(?:^|\s)\w/g, function(match) {
	        return match.toUpperCase();
	    });
		}

		//Prep Display Name
		function pDN(str){
			if (/_/i.test(str)){
				return tTC(str.split('_').join(' '));
			}else{
				return tTC(str);
			}
		}

		function initAddForm(){
			var formTopDiv = $('#add-form-title').parent();
			formTopDiv.children().css('display', 'none');
			$('#add-form-title').css('display', 'block');
		}

		//initAddForm();

		$.each($('[id*="id_"]'), function(index, value){
			//console.log($(this));
			var input = $(this);
			//console.log(input.closest('.form-group').find('label'));
			var label = input.closest('.form-group').find('label');
			var name = pDN(input.attr('name'));
			//Set label inner html
			label.html(name);
			//Add form-control class to input
			input.addClass('form-control');
			if(/date/i.test(name)){input.attr('type','date');}
			//re-write this as $.each type = 'date' (keep form.width)
			if(/date/i.test(name)&&($('form').width()>600)){
				input.parent().css('width','20%');
			}
			if(input.attr('required')){
				label.append(' *')
			}
			if(input.attr('type') == 'checkbox') {
				input.closest('.input-group').css('width','50px !important');
				input.parent().css('width','100px');
				input.parent().css('height','100%');
			}
		});
		$('textarea').attr('rows','4');
		$('.type-label').text('Methodology Items')
		$('.add-record-btn').on('click',function(){
			$('#add-form-modal').modal('show');
		});
		$('#cancel-btn').on('click',function(){
			$('#id_title').val('');
			$('#id_project_type option:selected').removeAttr('selected');
			$('#id_phase option:selected').removeAttr('selected');
			$('#id_sequence').val(null);
			$('#id_command').val('');
			$('#id_description').val('');
			$('#id_automate').attr('checked',false);
			$('#id_help_base').val('');
			$('#id_help_import').val('');
			$('#id_est_time').val('');
			$('#id_mangle').val('');
			$('#add-form-modal').modal('hide');
		});
	});
</script>
{% endblock %}