{% load static %} 
{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Mr Wizard">
{% include 'style_base.html' %}
{% block head %}
{% endblock %}
<style type="text/css">
  #ui-datepicker-div {
    z-index:9999 !important;
  }
  .navbar-static-top {
    position:fixed;
  }
  .navbar-header {
    height:50px;
  }
  textarea {
    border:none;
    border-color:transparent;
    outline:none;
  }
</style>
</head>
<body class="content-wrapper">
<!-- Preloader -->
<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>

<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
      <div class="top-left-part"><a class="logo" href="/"><b><img src="{% static 'images/Mark.png' %}" alt="home" /></b><span class="hidden-xs"><img id="chriss-awesome-img" src="{% static 'images/katana.svg' %}" alt="home" /></span></a></div>
      <ul class="nav navbar-top-links navbar-left hidden-xs">
        <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
        <li>      
        </li>
      </ul>
        <span class="nav-label hidden-xs hidden-sm hidden-md">
          <span style="padding-top:4px;"> 
            <a href="javascript:void(0)" id="project_title_link" style="color:#d4d6d8;">
              <span style="white-space:pre"> </span> 
              <span id="project_title" ></span>
            </a>
          </span>
          <span id="nav-label-divider">|</span>
          <span id="section"></span>
        </span>
      <ul class="nav navbar-top-links navbar-right pull-right" style="height:50px;">
        {% include 'nav_top.html' %}
      </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
  </nav>

  <!-- Left navbar-header -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
       {% include 'display_sidenav.html' %}
    </div>
  </div>
  <!-- Left navbar-header end -->
  <div id="narrative-input" style="display:none;position:fixed;top:50px;left:220px;height:60px;width:85.5%;z-index:10000;padding:5px;background-color:#dad8d8;box-shadow:1px 1px 1px rgba(0,0,0,0.4);">
    <textarea style="position:relative;width:90%;border:none;padding:0;box-shadow:0 0 2px rgba(0,0,0,0.3);overflow-y:hidden;resize:none;word-wrap:all;height:100%;"></textarea>
    <button id="btn-narrative-submit" class="btn btn-success" style="position:relative;top:-20px;left:15px;box-shadow:0 0 2px rgba(0,0,0,0.4);">attach</button>
  </div>
  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
        <!-- MAIN CONTENT SECTION -->
      <div class="row" id="content_paine" name="content_paine" style="padding-top:20px;">
        {% include 'hv_home.html' %}
        {% if user.is_authenticated %}
          {% block main_pallet %}
            {% block top_pallet %}

            {% endblock %}
            {% block table_pallet %}

            {% endblock %}
            {% block bottom_pallet %}
            
            {% endblock %}
          {% endblock %}          
        {% endif %}
      </div>
    <!-- <footer class="footer text-center"> 2016 &copy; Joseph Cohen - Leet Systems LLC. </footer> -->
  </div>
  <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<div id="noteDetailsModal"></div>
<div id="taskDetailsModal"></div>
<div id="dynamicModal"></div>
<div id="alertModal"></div>
<div id="formModal"></div>
<div id="detailsModal"></div>
<div id="profileModal"></div>
<div id="attributeModal"></div>
<div id="scratchModal" style="position:relative;z-index:9900;"></div>
  {% include 'included_scripts.html' %}
<script type="text/javascript">
    // window.onbeforeunload = function (e) {
    //   e = e || window.event;
      
    //   // For IE and Firefox prior to version 4
    //   if (e) {
    //       e.returnValue = function(){return 'Are you sure you want to exit HV?'};
    //   }

    //   // For Safari
    //   return 'Are you sure you want to exit HV?';
    // };

    // function alertClose () {
    //   var heading       = 'Attention!';
    //   var content       = 'You are about to close HV';
    //   var strSubmitFunc = '';
    //   var btnText       = 'Cancel';
    //   alertModal('alertModal',heading,content,strSubmitFunc,btnText);
    // }
      // using jQuery
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $(document).ready(function(){
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
      });
</script>
<script type="text/javascript">
  // mdbInitTree();

  $(document).on('click','#feedback-btn',function(){
    $.get('/get_form/',{'app':'utils','form':'FeedbackForm','form_id':'feedback-form'},function(returned) {
      var header        = 'Feedback';
      var content       = returned;
      var strSubmitFunc = "submitForm()";
      var btnText       = "Send Feedback";
      doModal('dynamicModal', header, content, strSubmitFunc, btnText);
      var modal = $('#modalWindow');
      modal.find('#btn-modal-form-submit').attr('id','btn-send-feedback');
      var form = modal.find('#feedback-form');
      form.attr('action','/send_feedback/');
      form.attr('method','POST');
      form.attr('enctype','multipart/form-data');
      formatForm();
      if ('{{user.email}}' == '') {
        modal.find('#non-field-errors').append('<b>Please set your email in <a href="/profile" target="_blank">User Profile</a> then refresh this modal!</b>');
        modal.find('#non-field-errors').css({'color':'red','margin-left':'10px','font-wieght':'bolder'});
        modal.find('#non-field-errors').append('<hr style="width:20%">')
      }
    });
  });

  $(document).on('click','#btn-send-feedback',function(){
    var btn = $(this);
    var modal = btn.closest('.modal');
    var form = modal.find('#feedback-form');
    form.ajaxSubmit(function(returned){
      var modal = btn.closest('.modal');
      $('.field-errors').empty();
      if (returned.errors) {
        var errors = returned.errors
        for (var field in errors) {
          //console.log(field)
          var selector = '#'+field+'-errors';
          $(selector).append(' - '+'<b>'+errors[field]+'</b>');
          $(selector).css({'color':'red','margin-left':'10px','font-wieght':'bolder'});
          if (field == 'sender') {
            modal.find('#non-field-errors').append('<b>'+errors[field]+'</b>');
            modal.find('#non-field-errors').css({'color':'red','margin-left':'10px','font-wieght':'bolder'});
            modal.find('#non-field-errors').append('<hr style="width:20%">')
          }
        }
        return false;
      } else {
        btn.text('Continue');
        modal.find('.modal-body').empty().append('<h2>'+returned['success']+'</h2>');
        modal.find('.modal-content').css('width','40%');
        modal.find('.modal-content').css('margin-left','30%');
        modal.find('.modal-content').css('margin-top','20%');
        modal.find('#btn-send-feedback').attr('id','btn-close-modal');
        modal.find('.modal-body').css('border-top','none');
        modal.find('.modal-footer').css('border-top','none');
        modal.find('h4').css('margin',0);
        return false;
      }
    });
  });

  $(document).on('click','#btn-close-modal',function(){
    var btn = $(this);
    var modal = btn.closest('.modal');
    modal.modal('hide');
  });

  $(document).on('click','.cpll',function(e){
    e.preventDefault();
    var preloader = $('.preloader');
    var link = $(this);
    var url = link.attr('href');
    showSpinner();
    var content = $('#content_paine');
    var scripts = link.attr('id')+'_scripts';
    $.get(url,function(returned){
      content.empty().html(returned);
      $('.side-nav-link').removeClass('active');
      $('#side-menu').find('#'+link.attr('id')).addClass('active');
      $('#content_scripts').empty().append(content.find('#'+scripts).clone());
      $(scripts).remove();
      var section = $(document).find('#page-data').attr('data-section');
      window.where = section;
      $('#section').text(section);
      if (section == 'Methodologies DB') {
        // initSearchable();
        // initExpandible();
      } else if (section == 'Workflow') {
        wfOnLoad();
      }
      formatForm();
      removeSpinner();
    }).fail(function() {
      removeSpinner();
    });
  });

  $(document).on('click','.cppll',function(e){
    e.preventDefault();
    var link = $(this);
    var content = $('#content_paine');
    var url = link.attr('href');
    $.get(url,function(returned){
      content.empty().html(returned);
      window.project=true;
      $('#content_scripts').empty().append(content.find('#overview_scripts').clone());
      $('#overview_scripts').remove();
      $('#section').text($(document).find('#page-data').attr('data-section'));
      if ($('#project_nav_header').length == 0) {
        $.get('/get_project_nav/',function(returned){
          $('#projects-dropdown').after(returned);
        });
      }
      $('#projects-dropdown').removeClass('active');
      $('#projects-dropdown').find('.nav-second-level').attr('aria-expanded','false');
      $('#projects-dropdown').find('.nav-second-level').removeClass('in');
      $('#projects-dropdown').find('.nav-second-level').css('height:0px;');
      $('#project_title').text(link.attr('data-title'))
      $('#project_title_link').attr('href','/overview');
      $('#project_title_link').addClass('cpll');
      $('.side-nav-link').removeClass('active');
      $('#side-menu').find('#overview').addClass('active');
      $('#btn-narrative-input').css('display','block');
    });
  });

  function showSpinner() {
    $('#page-wrapper').prepend('<div style="margin-top:50px; width:calc(100% - 220px);" class="preloader" id="preloader"><div class="cssload-speeding-wheel" id="cssload-speeding-wheel"></div></div>');
  }

  function removeSpinner() {
    $('#preloader').remove();
	 $('#cssload-speeding-wheel').remove();
  }

  

</script>

{% block scripts %}
<div id="content_scripts"></div>
{% endblock %}
{% block scripts_2 %}
{% endblock %}
</body>
</html>
