{% load static %}
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- Menu Plugin JavaScript -->
<script src="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
<!--slimscroll JavaScript -->
<script src="{% static 'elite/js/jquery.slimscroll.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'elite/js/waves.js' %}"></script>
<!-- jQuery Form -->
<script src="{% static 'js/jquery.form.js' %}"></script>
{% if exclude == false %}
<!-- google maps api -->
<script src="{% static 'plugins/bower_components/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<!-- Sparkline charts -->
<script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
<!-- EASY PIE CHART JS -->
<script src="{% static 'plugins/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/jquery.easy-pie-chart/easy-pie-chart.init.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'elite/js/custom.min.js' %}"></script>
<!--Style Switcher -->
<script src="{% static 'plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
<!-- Treeview Plugin JavaScript -->
<script src="{% static 'plugins/bower_components/bootstrap-treeview-master/dist/bootstrap-treeview.min.js' %}"></script>
<!-- Draggable-portlet -->
<script src="{% static 'plugins/bower_components/gridstack/gridstack.js' %}"></script>
<script src="{% static 'plugins/bower_components/gridstack/gridstack.jQueryUI.js' %}"></script>
<!-- Form Wizard JavaScript -->
<script src="{% static 'plugins/bower_components/jquery-wizard-master/dist/jquery-wizard.min.js' %}"></script>
<!-- FormValidation -->
<link rel="stylesheet" href="{% static 'plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.css' %}">
<!-- FormValidation plugin and the class supports validating Bootstrap form -->
<script src="{% static 'plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/jquery-wizard-master/libs/formvalidation/bootstrap.min.js' %}"></script>
{% include 'js_utils.html' %}
 <!-- HV Scripts -->
<div id="script-holder">
</div>
<script src="{% static 'js/draggable_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/project_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/contact_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/object_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/report_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/user_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/task_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/home_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/note_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/cldb_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/codb_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/ovvw_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/ridb_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/pdb_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/mdb_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/udb_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/dt_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/pf_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/wf_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/tt_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/it_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/pn_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/tm_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/ui_scripts.js' %}?v={{random}}"></script>
<script src="{% static 'js/sp_scripts.js' %}?v={{random}}"></script>
{% endif %}

