<li class="nav-small-cap" id="project_nav_header"><b style="color:black;">--- Project</b></li>
<!-- OVERVIEW -->
<li> <a href="/overview" class="waves-effect side-nav-link cpll" id="overview"><i data-icon="&#xe011;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Overview<!-- <span class="label label-rouded label-danger pull-right">{{it_data_count}} </span>--></span></a>
</li>
<!-- TASKS -->
<li> <a href="/workflow" class="waves-effect side-nav-link cpll" id="workflow"><i data-icon="M" class="linea-icon linea-software fa-fw"></i><span class="hide-menu">WorkFlow<span class="label label-rouded label-katana pull-right popped">{{project.task_count}}</span></span></a>
</li>
<!-- NOTES -->
<li> <a href="/project_notes" class="waves-effect side-nav-link cpll" id="project_notes"><i data-icon="o" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Notes<span class="label label-rouded label-katana pull-right popped">{{project.note_count}}</span></span></a>
</li>
<!-- DATA TABLES -->
<!-- <li> <a href="/project_tables" class="waves-effect side-nav-link cpll" id="project_tables"><i data-icon="'" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">DataTables<span class="label label-rouded label-katana pull-right popped">{{project.datatable_set.count}}</span></span></a></li> -->
<!-- MASTER TABLE -->
<!-- <li> <a href="/master_table" class="waves-effect side-nav-link cpll" id="master_table"><i data-icon="'" class="linea-icon linea-elaborate fa-fw"></i><span class="hide-menu">Master Table<span class="label label-rouded label-danger pull-right">{{mt_data_count}}</span></span></a>
</li> -->
<!-- SCRAP TABLE -->
<!-- <li> <a href="/scrap_table" class="waves-effect side-nav-link cpll" id="scrap_table"><i data-icon=":" class="linea-icon linea-elaborate fa-fw"></i><span class="hide-menu">Scrap Table<span class="label label-rouded label-danger pull-right">{{st_data_count}}</span></span></a>
</li> -->
<!-- FILES -->
<li> <a href="/project_files" class="waves-effect side-nav-link cpll" id="project_files"><i data-icon="3" class="fa fa-file fa-fw"></i><span class="hide-menu">Files<span class="label label-rouded label-katana pull-right popped">{{project.file_count}}</span></span></a>
</li>
<!-- REPORTS -->
<!-- <li> <a href="/reports" class="waves-effect side-nav-link cpll" id="reports"><i data-icon="&#xe00b;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Reports<span class="label label-rouded label-info pull-right">{{report}}</span></span></a>
</li> -->
<!-- CONTACTS -->
<li> <a href="/contacts" class="waves-effect side-nav-link cpll" id="contacts"><i data-icon="&#xe006;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Contacts<span class="label label-rouded label-katana pull-right popped">{{project.contact_count}}</span></span></a>
</li>