<form method="POST" action="/add_project/" class="post-form" id="proj-form" enctype="multipart/form-data">{% csrf_token %}
{{ form.non_field_errors }}
	<div class="row">
		<div class="col-xs-4">
			<div class="form-group">
				<label for="{{ form.title.id_for_label }}"></label>
				<span class="field-errors" id="{{form.title.name}}_errors">
					{{ form.title.errors }}
				</span>
				<div class="input-group">
			  		<div class="input-group-addon"></div>
			  		{{form.title}}
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
				<label for="{{ form.codename.id_for_label }}"></label>
				<span class="field-errors" id="{{form.codename.name}}_errors">
					{{ form.codename.errors }}
				</span>
				<div class="input-group">
			  		<div class="input-group-addon"></div>
			  		{{form.codename}}
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
				<label for="{{ form.client.id_for_label }}"></label>
				<span class="field-errors" id="{{form.client.name}}_errors">
					{{ form.client.errors }}
				</span>
				<div class="input-group">
			  		<div class="input-group-addon"></div>
			  		<select onchange="projectClientSelect(event)" id="id_client" name="client" class="form-control">
			  			<option value="" selected="selected">---------</option>
			  			{% for choice in form.client.field.choices.queryset %}
			  			<option value="{{choice.id}}">{{choice.name}}</option>
			  			{% endfor %}
			  		</select>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="{{ form.description.id_for_label }}"></label>
		<span class="field-errors" id="{{form.description.name}}_errors">
			{{ form.description.errors }}
		</span>
		<div class="input-group">
	  		<div class="input-group-addon"></div>
	  		{{form.description}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<div class="form-group">
				<label for="{{ form.project_type.id_for_label }}"></label>
				<span class="field-errors" id="{{form.project_type.name}}_errors">
					{{ form.project_type.errors }}
				</span>
				<div class="input-group">
			  		<div class="input-group-addon"></div>
			  		{{form.project_type}}
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="{{ form.start_date.id_for_label }}"></label>
				<span class="field-errors" id="{{form.start_date.name}}_errors">
					{{ form.start_date.errors }}
				</span>
				<div class="input-group">
			  		<div class="input-group-addon"></div>
			  		{{form.start_date}}
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="{{ form.end_date.id_for_label }}"></label>
				<span class="field-errors" id="{{form.end_date.name}}_errors">
					{{ form.end_date.errors }}
				</span>
				<div class="input-group">
			  		<div class="input-group-addon"></div>
			  		{{form.end_date}}
				</div>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="{{ form.contract_hours.id_for_label }}"></label>
				<span class="field-errors" id="{{form.contract_hours.name}}_errors">
					{{ form.contract_hours.errors }}
				</span>
				<div class="input-group">
			  		<div class="input-group-addon"></div>
			  		{{form.contract_hours}}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5">
			<div class="form-group">
				<label for="{{ form.vips.id_for_label }}">
					<b>Project Roles</b>
				</label>
				<span class="field-errors" id="{{form.vips.name}}_errors">
					{{ form.vips.errors }}
				</span>
				<div class="input-group">
			  		<div class="input-group-addon"></div>
			  		{{form.vips}}
				</div>
			</div>
		</div>
		<div class="col-xs-7" id="gprfcol">
			<div class="row">
				<div class="col-xs-6" id="gprcf">

				</div>
				<div class="col-xs-6" id="gprf">
				</div>
			</div>
					
		</div>
	</div>
	<div class="form-group">
		<label for="{{ form.associated_files.id_for_label }}"></label>
		<span class="field-errors" id="{{form.associated_files.name}}_errors">
			{{ form.associated_files.errors }}
		</span>
		<div class="input-group">
	  		<div class="input-group-addon"></div>
	  		{{form.associated_files}}
		</div>
	</div>	
</form>