{% load static %}

{% block top_pallet %}
  {% if has_auditor %}
    {% include 'auditor.html' %}
  {% endif %}
{% endblock %}

{% block table_pallet %}
<div class="top-spacer"></div>

<div class="col-md-12 white-box">
  {% if page_controls %}
  <div class="row" id="page-controls">
    <div class="col-xs-2">
      <button class="btn btn-info" id="btn-expand-collapse" style="display:inline;">  
        Expand
      </button>
      <button onclick="{{add_script}}" class="btn btn-success" id="btn-add-item" style="display:inline;">  
        Add {{item_name}}
      </button>
    </div>
    <div>
      <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
      {% include 'search_bar.html' %}
    </div>

  </div> <!-- End page-controls -->
  <hr style="margin-top:5px;margin-bottom:5px;">
  {% endif %}
  <div class="row item-section">
    <div class="row" id="page-headers">
      {% block page_headers%}
      {% endblock %}
    </div>
    <div class="" id="items">
      {% block items %}
      {% endblock %}
    </div> <!-- End items -->
  </div> <!-- End item-section -->
</div> <!-- End white-box -->
  {% block section %}
    <div id="page-data" style="display:none;" data-section="{{section}}"></div>
  {% endblock %}    
{% endblock %}