<script type="text/javascript">
  function _getObjModelAttrs (object) {
    var obj_attrs       = {}
    obj_attrs.title     = object.attr('data-obj-title');
    obj_attrs.type      = object.attr('data-obj-type');
    obj_attrs.app       = object.attr('data-obj-app');
    obj_attrs.model     = object.attr('data-obj-model');
    obj_attrs.id        = object.attr('data-obj-id');
    obj_attrs.relative  = object.attr('data-obj-relative-id');
    obj_attrs.parent    = object.attr('data-parent-id');
    obj_attrs.url       = object.attr('data-url');
    obj_attrs.edit      = object.attr('data-edit');
    obj_attrs.details   = object.attr('data-details');
    obj_attrs.delete    = object.attr('data-delete');
    obj_attrs.export    = object.attr('data-export');
    obj_attrs.note_form = object.attr('data-note-form');
    obj_attrs.file_form = object.attr('data-file-form');
    return obj_attrs
  }

  function _setModalModelAttrs (modal,obj) {
    modal.attr('data-obj-app',obj.app);
    modal.attr('data-obj-model',obj.model);
    modal.attr('data-obj-id',obj.id);
    modal.attr('data-url',obj.url);
    modal.attr('data-details',obj.details);
    modal.attr('data-edit',obj.edit);
    modal.attr('data-export',obj.export);
    modal.attr('data-note-form',obj.note_form);
    modal.attr('data-file-form',obj.file_form);
  }

  function _getModalModelAttrs (modal) {
    // Make this more general
    var data        = {}
    data.app        = modal.attr('data-obj-app');
    data.model      = modal.attr('data-obj-model');
    data.id         = parseInt(modal.attr('data-obj-id'));
    data.url        = modal.attr('data-url');
    data.details    = modal.attr('data-details');
    data.edit       = modal.attr('data-edit');
    data.note_form  = modal.attr('data-note-form');
    data.file_form  = modal.attr('data-file-form');
    data.export     = modal.attr('data-export');
    data.extra      = modal.attr('data-extra');
    return data
  }

  function getOccuracnce (arry,target) {
    var numOccurences = $.grep(arry, function (elem) {
      return elem === target;
    }).length;
    return numOccurences;
  }

  function addFormItem (btn) {
    var url         = btn.attr('data-url');
    var model_type  = btn.attr('data-obj-type');
    var formModal   = btn.closest('.modal');
    $.get(url,function(returned){
      var modal     = formItemModal(returned);
      modal.attr('data-formModal',formModal.attr('id'));
      modal.attr('data-obj-type',model_type);
      formModal.closest('#formModal').css('display','none');
      return modal;
    });
  }

  $(document).on('click.forms','.btn-form-item-add',function(e){
    e.preventDefault();
    var btn = $(this);
    var modal = btn.closest('.modal');
    var form = modal.find('form');
    var formModal = $(document).find('#'+modal.attr('data-formModal'));
    form.ajaxSubmit(function(returned){
      if (returned.errors) {
        populateFormErrors(form,returned.errors);
      } else {
        btn.closest('.modal').modal('hide');
        var field = formModal.find('#id_'+modal.attr('data-obj-type'));
        field.empty().html(returned);
        formModal.modal('show');
      }
    });
  });

  $(document).on('click.modals','.btn-close-modal',function(e){
    e.preventDefault();
    var btn = $(this);
    var modal = btn.closest('.modal');
    modal.modal('hide');
  });

  

  $(document).on('click.modals','.modal-header-refresh-btn',function(){
    var btn = $(this);
    var modal = btn.closest('.modal');
    var data = _getModalModelAttrs(modal);
    console.log(data)
    // $.get(data.details,data,function(returned){
    //   modal.find('.modal-content').empty().html(returned);
    // });
  });

  $(document).on('click.modals','.modal-header-edit-btn',function(){
    var btn = $(this);
    var modal = btn.closest('.modal');
    var data = _getModalModelAttrs(modal);
    console.log(data)
    // $.get(data.edit,data,function(returned){
    //   modal.find('.modal-content').empty().html(returned);
    // });
  });

  

  $(document).on('click.modals','.modal-header-go-back-btn',function(e){
    var btn = $(this);
    var modal = btn.closest('.modal');
    var data = _getObjModelAttrs(modal);
    $.get(data.url,data,function(returned){
      confirmClose(e);
    });
  });

  function confirmClose (e,passed) {
    var heading       = 'Attention!';
    var content       = 'Are you sure you want to cancel?';
        content       += '<br> <br>(all changes will be lost)';
    var strSubmitFunc = 'closeAlertModal(this)';
    var btnText       = 'Stay';
    alertModal('alertModal',heading,content,strSubmitFunc,btnText);
    var modal = $('#alertModal').find('.modal');
    var footer = modal.find('.modal-footer');
    footer.append('<button class="btn btn-warning" id="confirm-close-modal-btn">Leave</button>');
    $('#confirm-close-modal-btn').data('passed',passed);
  }
  // $(document).on('click.modals','#confirm-close-modal-btn',function(e){
  //   var passed = $(this).data('passed');
  //   passed.target.data('')
  // });

//#########################################################################\\
//#########################################################################\\
//###                         MODAL CONTROLS                            ###\\
//#########################################################################\\
//#########################################################################\\
  function modalRefresh (ctrl) {
    var modal = ctrl.closest('.modal');
    var data  = _getModalModelAttrs(modal);
    $.get(data.details,data,function(returned){
      modal.find('.modal-content').empty().html(returned);
      formatForm();
    });
  }

  $(document).on('click.modals','.modal-ctrl-refresh',function(){
    var ctrl = $(this);
    modalRefresh(ctrl);
  });

  $(document).on('click.modals','.modal-ctrl-edit',function(){
    var ctrl = $(this);
    var modal = ctrl.closest('.modal');
    var data = _getModalModelAttrs(modal);
    $.get(data.edit,data,function(returned){
      modal.find('.modal-content').empty().html(returned);
      formatForm();
    });
  });

  $(document).on('click.modals','.modal-ctrl-note',function(){
    var ctrl = $(this);
    var modal = ctrl.closest('.modal');
    var data = _getModalModelAttrs(modal);
    var container = modal.find('.modal-form-container')
    $.get(data.note_form,data,function(returned){
      container.empty().html(returned);
      formatForm();
    });
  });

  $(document).on('click.modals','.modal-ctrl-files',function(){
    var ctrl      = $(this);
    var modal     = ctrl.closest('.modal');
    var data      = _getModalModelAttrs(modal);
    var container = modal.find('.modal-form-container')
    $.get(data.file_form,data,function(returned){
      container.empty().html(returned);
      formatForm();
    });
  });


  //button modal update submit?
  $(document).on('click.modals','.bmus',function(e){
    e.preventDefault();
    var btn = $(this);
    var modal = btn.closest('.modal');
    var data = _getModalModelAttrs(modal);
    var form = modal.find('form');
    data.where = $(document).find('#page-data').attr('where');
    var options = {
      data:data,
      success:  function(returned){
                  if (returned.errors) {
                    populateFormErrors(form,returned.errors);
                  } else if (returned.success) {
                    if (data.details != null) {
                      $.get(data.details,data,function(details){
                        modal.find('.modal-content').empty().html(details);
                      });
                    } else {
                      modal.modal('hide');
                    }
                  }
                }
    };
    form.ajaxSubmit(options);
  });
  //#########################################################################\\
  //#########################################################################\\
  //###                       END MODAL CONTROLS                          ###\\
  //#########################################################################\\
  //#########################################################################\\

  

  function formatTextBlobNewlines (textblob) {
    return textblob.replace(/(\r\n|\n|\r)/g,"<br />");
  }

  function formatBrToNewline (textblob) {
    return textblob.replace(/<br \/>/g,'\n');
  }

  function populateFormErrors (form,errors) {
    form.find('.field-errors').empty();
      for (var field in errors) {
        var selector = '#'+field+'_errors';
        form.find(selector).append('<b>'+errors[field]+'</b>');
        form.find(selector).children().css({'color':'red',
                                            'margin-left':'10px',
                                            'font-wieght':'bolder'});
        form.find('#id_'+field).css('border','solid 1px red');
      }
  }

  function copyText (selector) {
    var item = selector;
    var isInput = item.tagName === "INPUT" || item.tagName === "TEXTAREA";
    var targetId = "_hiddenCopyText_";
    var origSelectionStart, origSelectionEnd;
    if (isInput) {
        // can just use the original source element for the selection and copy
        target = item;
        origSelectionStart = elem.selectionStart;
        origSelectionEnd = elem.selectionEnd;
    } else {
      target = document.getElementById(targetId);
      if (!target) {
        var target = document.createElement("textarea");
        target.style.position = "absolute";
        target.style.left = "-9999px";
        target.style.top = "0";
        target.id = targetId;
        document.body.appendChild(target);
      }
    // select the content
    // format for newlines
    target.textContent = formatBrToNewline(item.text().trim());
    }
    var currentFocus = document.activeElement;

    target.focus();
    target.setSelectionRange(0, target.value.length);
    
    // copy the selection
    var succeed;
    try {
        succeed = document.execCommand("Copy");
    } catch(e) {
        succeed = false;
    }
    // restore original focus
    if (currentFocus && typeof currentFocus.focus === "function") {
        currentFocus.focus();
    }
    target.remove();
    return succeed;
  }

  function alertModal(placementId, heading, content, strSubmitFunc, btnText)
  {
    html =  '<div id="modalWindow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" data-backdrop="static" >';
    html += '<div class="modal-dialog">';
    html += '<div class="modal-content">';
    html += '<div class="modal-header" style="padding-bottom:0px;">';
    html += '<a class="close" data-dismiss="modal">×</a>';
    html += '<h4>'+heading+'</h4>'
    html += '</div>';
    html += '<div class="modal-body" style="padding-top:2px;">';
    html += '<p>';
    html += '<h3>'+content+'</h3>';
    html += '</div>';
    html += '<div class="modal-footer">';
    if (btnText!='') {
        btn = '<button id="btn-modal-form-submit" class="btn btn-info"';
        if (strSubmitFunc!='') {
          btn+= ' onclick="'+strSubmitFunc+'"';
        }
        btn += '>'+btnText;
        btn += '</button>';
    } else {
      btn = '';
    }
    html += '<span class="btn" data-dismiss="modal">';
    html += '</span>'; // close button
    html += '</div>';  // footer
    html += '</div>';  // content
    html += '</div>';  // dialog
    html += '</div>';  // modalWindow
    $("#"+placementId).html(html);
    $("#"+placementId).find('#modalWindow').modal();
    $("#"+placementId).find('#modalWindow').modal('show');
    var modal = $("#"+placementId);
    modal.find('.modal-footer').append(btn);
    modal.css('position','relative');
    modal.css('z-index','10000');
    modal.find('.modal-dialog').css('width','30vw');
    modal.find('.modal-dialog').css('margin-top','25vh');
    modal.find('.modal-dialog').css('margin-left','35vw');
    modal.find('.modal-body').css('border-top','none');
    modal.find('.modal-footer').css('border-top','none');
    modal.find('.modal-header').css('border-bottom','none');
  }

  function closeAlertModal (obj) {
    var btn = $(obj);
    var modal = btn.closest('.modal');
    modal.modal('hide');
    return false;
  }

  function cancelForm (script) {
    var heading       = 'Attention!';
    var content       = 'Are you sure you want to cancel?';
        content       += '<br> <br>(all changes will be lost)';
    var strSubmitFunc = 'closeAlertModal(this)';
    var btnText       = 'Stay';
    alertModal('alertModal',heading,content,strSubmitFunc,btnText);
    var modal = $('#alertModal').find('.modal');
    var footer = modal.find('.modal-footer');
    footer.append('<button onclick="'+script+'" class="btn btn-warning">Leave</button>');
  }

  function doModal(placementId, heading, content, strSubmitFunc, btnText,footer=true)
  {
    html =  '<div id="modalWindow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" data-backdrop="static">';
    html += '<div class="modal-dialog">';
    html += '<div class="modal-content">';
    html += '<div class="modal-header">';
    html += '<a class="close" data-dismiss="modal">×</a>';
    html += '<h4>'+heading+'</h4>'
    html += '</div>';
    html += '<div class="modal-body">';
    html += content;
    html += '</div>';
    if (footer) {
      html += '<div class="modal-footer">';
      if (btnText!='') {
          btn = '<button id="btn-modal-form-submit" class="btn btn-success"';
          if (strSubmitFunc!='') {
            btn+= ' onclick="'+strSubmitFunc+'"';
          }
          btn += '>'+btnText;
          btn += '</button>';
      } else {
        btn = '';
      }
      html += btn;
      html += '</div>';  // footer
    }
    html += '</div>';  // content
    html += '</div>';  // dialog
    html += '</div>';  // modalWindow
    var modal = $("#"+placementId);
    modal.html(html);
    modal.find("#modalWindow").modal();
    modal.find("#modalWindow").modal('show');
    var dialog = modal.find('.modal-dialog');
    modal.css('position','relative');
    modal.css('z-index','5000');
    dialog.css('width','70vw');
    dialog.css('margin-top','10vh');
  }

  function attributeModal(content) {
    var modal = $('#attributeModal');
    var html = '<div id="modalWindow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" data-backdrop="static">';
    html += '<div class="modal-dialog">';
    html += '<div class="modal-content">';
    html += content;
    html += '</div>';// content
    html += '</div>';// dialog
    html += '</div>';// modalWindow
    modal.html(html);
    modal.find('.modal').modal();
    modal.find('.modal').modal('show');
    var dialog = modal.find('.modal-dialog');
    modal.css('position','relative');
    modal.css('z-index','6000');
    dialog.css('width','60vw');
    dialog.css('margin-top','10vh');
    return modal.find('.modal');
  }


  function profileModal (content) {
    var modal = $('#profileModal');
    var html = '<div id="modalWindow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" data-backdrop="static">';
    html += '<div class="modal-dialog">';
    html += '<div class="modal-content">';
    html += content;
    html += '</div>';// content
    html += '</div>';// dialog
    html += '</div>';// modalWindow    
    modal.html(html);
    modal.find('.modal').modal();
    modal.find('.modal').modal('show');
    var dialog = modal.find('.modal-dialog');
    modal.css('position','relative');
    modal.css('z-index','5000');
    dialog.css('width','50vw');
    dialog.css('margin-top','10vh');
    return modal.find('.modal');
  }

  function detailsModal (content) {
    var modal = $('#detailsModal');
    var html = '<div id="modalWindow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" data-backdrop="static">';
    html += '<div class="modal-dialog">';
    html += '<div class="modal-content bakgrad popped">';
    html += content;
    html += '</div>';// content
    html += '</div>';// dialog
    html += '</div>';// modalWindow    
    modal.html(html);
    modal.find('.modal').modal();
    modal.find('.modal').modal('show');
    var dialog = modal.find('.modal-dialog');
    modal.css('position','relative');
    modal.css('z-index','5000');
    dialog.css('width','70vw');
    dialog.css('margin-top','10vh');
    return modal.find('.modal');
  }

  function formModal (content) {
    var modal = $('#formModal');
    var html = '<div id="modalWindow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" data-backdrop="static">';
    html += '<div class="modal-dialog">';
    html += '<div class="modal-content popped">';
    html += content;
    html += '</div>';// content
    html += '</div>';// dialog
    html += '</div>';// modalWindow    
    modal.html(html);
    modal.find('.modal').modal();
    modal.find('.modal').modal('show');
    var dialog = modal.find('.modal-dialog');
    modal.css('position','relative');
    modal.css('z-index','5000');
    dialog.css('width','70vw');
    dialog.css('margin-top','10vh');
    formatForm();
    return modal.find('.modal');
  }

  function formItemModal (content) {
    var modal = $('#alertModal');
    var html = '<div id="modalWindow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" data-backdrop="static">';
    html += '<div class="modal-dialog">';
    html += '<div class="modal-content popped">';
    html += content;
    html += '</div>';// content
    html += '</div>';// dialog
    html += '</div>';// modalWindow    
    modal.html(html);
    modal.find('.modal').modal();
    modal.find('.modal').modal('show');
    var dialog = modal.find('.modal-dialog');
    modal.css('position','relative');
    modal.css('z-index','5100');
    dialog.css('min-width','50vw');
    dialog.css('margin-top','30vh');
    formatForm();
    return modal.find('.modal');
  }

  function taskDetailsModal (content) {
    var modal = $('#taskDetailsModal');
    var html = '<div id="modalWindow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" data-backdrop="static">';
    html += '<div class="modal-dialog">';
    html += '<div class="modal-content bakgrad popped" style="padding:10px;">';
    html += content;
    html += '</div>';// content
    html += '</div>';// dialog
    html += '</div>';// modalWindow    
    modal.html(html);
    modal.find('.modal').modal();
    modal.find('.modal').modal('show');
    var dialog = modal.find('.modal-dialog');
    modal.css('position','relative');
    modal.css('z-index','5000');
    dialog.css('width','70vw');
    dialog.css('margin-top','10vh');
    return modal.find('.modal');
  }

  function noteDetailsModal (content) {
    var modal = $('#noteDetailsModal');
    var html = '<div id="modalWindow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" data-backdrop="static">';
    html += '<div class="modal-dialog">';
    html += '<div class="modal-content">';
    html += content;
    html += '</div>';// content
    html += '</div>';// dialog
    html += '</div>';// modalWindow    
    modal.html(html);
    modal.find('.modal').modal();
    modal.find('.modal').modal('show');
    var dialog = modal.find('.modal-dialog');
    modal.css('position','relative');
    modal.css('z-index','9001');
    dialog.css('margin-top','150px');
    return modal
  }


  function updateAudits(where) {
    $.get('/get_audits/',{'where':where},function(returned){
      $(document).find('#audits').empty().html(returned);
    });
  }

	$(document).on('click','.btn-min-max',function(){
		var btn = $(this);
		var body = btn.closest('.item').find('.item-body');
		if(btn.hasClass('fa-plus')){
			body.css('display','block');
			btn.addClass('fa-minus');
			btn.removeClass('fa-plus');
		} else {
			btn.addClass('fa-plus');
			btn.removeClass('fa-minus');
			body.css('display','none');
		}
	});	

	$(document).on('click','#btn-expand-collapse',function(){
		var btn = $(this);
		var text = btn.text()
		if (text == 'Expand') {
			$('.item-body').css('display','block');
			$('.btn-min-max').removeClass('fa-plus');
			$('.btn-min-max').addClass('fa-minus');
			btn.text('Collapse');
		} else {
      $.each($('.item-body'),function(){
        if ($(this).attr('id') != 'audits') {
          $(this).css('display','none');
        }
      });
			$('.btn-min-max').removeClass('fa-minus');
			$('.btn-min-max').addClass('fa-plus');
			btn.text('Expand');
	  }
	});

	function tTC(str) {
      return str.replace(/(?:^|\s)\w/g, function(match) {
          return match.toUpperCase();
      });
    }

    //Prep Display Name
    function pDN(str){
      if (/_/i.test(str)){
        return tTC(str.split('_').join(' '));
      }else{
        return tTC(str);
      }
    }

  function formatForm(){
    $.each($(document).find('[id*="id_"]'), function(index, value){
      var input = $(this);
      var label = input.closest('.form-group').find('label');
      var name = pDN(input.attr('name'));
      //Set label inner html
      if (label.children().length == 0) {
        label.html(name);
      }
      //Add form-control class to input
      input.addClass('form-control');
      input.closest('.input-group').addClass('popped');
      if(/date/i.test(name)){input.attr('type','date');}
      //re-write this as $.each type = 'date' (keep form.width)
      // if(/date/i.test(name)){
      //   if (input.closest('form').attr('id') != 'proj-form') {
      //     input.parent().css('width','20%');
      //   } else {
      //     input.parent().css('width','50%');
      //   }
      // }
      if (input.is('textarea')) {
        input.attr('rows','4')
      }
      if(input.attr('required')){
        label.append(' *')
      }
      if (input.is('select') && input.attr('multiple') && !input.attr('disabled')) {
        if (/select at least one/.test(label.text())==false) {
          label.append(' (select at least one)');
        }
      }
      if (label.text()== 'Time') {
        label.append(' (in hours)')
        input.parent().css('width','20%');
      }
      if (label.text() == 'Task *') {
        label.closest('.form-group').css('display','none');
      }
    });    
  }

function searchBar (obj) {
  // Set search value
  var search = $(obj).val();
  // If the search Value is not empty !('').
  if (search.length > 0) {
      // Make all Items invisible
      $.each($('.item'),function(){
        if ($(this).hasClass('pulse') == false) {
          $(this).css('display','none');
          var sib = $($(this)[0].nextElementSibling);
          if (sib.is('hr')) {
            sib.css('display','none');
          }
        }
      });
      // If the form 'ignore case checkbox is checked'
      if ($('#chk-exact-match').is(':checked')) {
          // Create the regex from the search value with ignore case flag
          var re = new RegExp(search);
          // Check each .item to see if the regex matches and display the item if it does
          $.each($('.item'),function(){
            //console.log($(this).text().trim());
            var item = $(this).text()
            if (re.test(item)) {
              $(this).css('display','block');
              var sib = $($(this)[0].nextElementSibling);
              if (sib.is('hr')) {
                sib.css('display','block');
              }
            }
          });
      } else {
        // Create the regex from the search value with ignore case flag
        var re = new RegExp(search,"i");
        // Check each .item to see if the regex matches and display the item if it does
        $.each($('.item'),function(){
          //console.log($(this).text().trim());
          var item = $(this).text()
          if (re.test(item)) {
            $(this).css('display','block');
            var sib = $($(this)[0].nextElementSibling);
            if (sib.is('hr')) {
              sib.css('display','block');
            }
          }
        });
      }
  } else {
    $.each($('.item'),function(){
      $(this).css('display','block');
      var sib = $($(this)[0].nextElementSibling);
      if (sib.is('hr')) {
        sib.css('display','block');
      }
    });
  }
  if ($('#page-data').attr('data-section') == 'TimeTracker') {
    ttSearchUpdate();
  }
}

	function updatePhaseTaskCount(phase) {
		var count = phase.find('.task').length
		phase.find('.task-count').text(count);
	}

  function updateTaskFileCount(task) {
    var count = parseInt(task.find('.file-count').text())
    count += 1;
    task.find('.file-count').text(count);
  }

  function updateTaskNoteCount(task) {
    var count = parseInt(task.find('.note-count').text())
    count += 1;
    task.find('.note-count').text(count);
  }

  function updatePhaseNoteCount(phase) {
    var count = phase.find('.note').length;
    phase.find('.phase-note-count').text(count);
  }

	function reloadPhaseTasks(phase){
		var url = '/display_tasks/?id='+phase.attr('id');
		$.get(url,function(returned){
			phase.find('.tasks').empty().html(returned);
			//console.log(returned);
			updatePhaseTimeCount(phase);
      updatePhaseTaskCount(phase);
      updateAudits('workflow');
		});
	}

	function reloadPhases(){
		$.get('/display_phases/',function(returned){
			$('#phases').empty().html(returned);
			$.each($('.phase'),function(){
	            var phase = $(this);
	            updatePhaseTaskCount(phase);
	            updatePhaseTimeCount(phase);
              updatePhaseNoteCount(phase);
	        });
      updateAudits('workflow');
		});
	}

  // $(document).on('click','.btn-delete-note',function(){
  //   var btn = $(this);
  //   var note = btn.closest('.note');
  //   var note_id = note.attr('id');
  //   data = {'csrfmiddlewaretoken':'{{csrf_token}}'}
  //   data['note_id'] = note_id
  //   $.post('/delete_note/',data,function(returned){
      
  //   });
  // });
</script>
