<div class="row control-bar pull-right" style="position:relative;margin-top:1px;right:15px;">
    <div class="col-xs-12">
        {% if export %}
            <button class="btn btn-success btn-object-export popped pull-left" style="display:inline;padding:0px 12px 0px 12px;margin-right:10px;position:relative;top:2px;">
                Export
            </button>
        {% endif %}
        <a class="close pull-right header-scheme" data-dismiss="modal" style="position:relative;top:7px;margin-left:10px;">
            ×
        </a>
        {% if time %}
        <i class="btn fa fa-clock   modal-ctrl-time     pull-right mcb" style=""        ></i>
        {% endif %}
    	{% if notes %}
    	<i class="btn fa fa-comment modal-ctrl-note  	pull-right mcb" style=""		></i>
    	{% endif %}
    	{% if files %}
    	<i class="btn fa fa-file    modal-ctrl-files 	pull-right mcb" style=""		></i>
    	{% endif %}
    	{% if edit %}
    	<i class="btn fa fa-edit    modal-ctrl-edit  	pull-right mcb" style="border-top:-3px;"></i>
    	{% endif %}
    	{% if refresh %}
    	<i class="btn fa fa-refresh modal-ctrl-refresh 	pull-right mcb" style=""		></i>
    	{% endif %}
    </div>
</div>