<div class="container-fluid">
	{% if recommend %}
	<button class="btn btn-warning pull-right" id="btn-{{item}}-recommend" style="margin-left:20px;">
		recommend
	</button>
	{% endif %}
	{% if edit %}
	<button class="btn btn-info pull-right" id="btn-{{item}}-update-cancel" style="margin-left:20px;">
		cancel
	</button>
	<button class="btn btn-success pull-right" id="btn-{{item}}-update">
		update
	</button>
	{% endif %}
	{% if add %}
	<button class="btn btn-info pull-right" id="btn-modal-{{item}}-add-cancel" style="margin-left:20px;">
		cancel
	</button>
	<button class="btn btn-success pull-right" id="btn-modal-{{item}}-add-submit">
		submit
	</button>
	{% endif %}
</div>