{% load static %}
{% if not drop_header %}
<div class="modal-header" style="border:none;padding-bottom:0;">
	<div class="row">
		<div class="col-xs-8">
			<h4 id="modal-title{{title_id}}" style="display:inline;text-shadow:1px 1px 1px #dad8d8;">
				{%autoescape off%}{{title}}{%endautoescape%}
				{% block title_block %}
				{% endblock %}
			</h4>
		</div>
		<div class="col-xs-4">
			{% if header_controls %}
				{% include 'modal_header_controls.html' %}
			{% else %}
			<a class="close pull-right header-scheme" data-dismiss="modal" style="display:inline;">×</a>
			{% endif %}
		</div>
	</div>
	<hr class="modal-divider">
</div>
{% endif %}
{% if not drop_body %}
<div class="modal-body" id="{{body_id}}" style="padding-top:0;">
	{{body}}
	{% block body_block %}
	{% endblock %}
</div>
{% endif %}
{% if not drop_footer %}
<div class="modal-footer" id="{{footer_id}}">{{footer}}{%block footer_block%}{%endblock%}</div>
{% endif %}