{% for pt in project_types %}
<div class="col-xs-12 {{pt.type_label}} object popped odd ptype-method expandable-container" data-obj-title="{{pt.title}}"  data-obj-id="{{pt.id}}"    				data-obj-app="{{pt.app_label}}" 		             data-obj-model="{{pt.model_class}}"       data-obj-type="{{pt.type_label}}"          data-file-form="{{pt.file_form}}"         data-details="{{pt.details_url}}"             data-edit="{{pt.edit_url}}" data-export="{{pt.export_url}}" data-reload-on-export="" style="margin-bottom:2px;">
	<div class="col-xs-11 expandable-container mdb-project-type-container" style="padding:0;margin-bottom:3px;">
		<div class="col-xs-1">
			<i class="fa fa-plus btn btn-expand-collapse"></i>
		</div>
		<div class="col-xs-11" style="padding:6px;position:relative;top:-2px;">
			<i class="fa fa-folder" style="margin-right:15px;"></i>
			<b class="mdb-pt-title click selectable"><span style="color:black;">[{{pt.shorthand}}]</span> {{pt.title}}</b>
			{% if pt.has_recommended %}
				<div class="notify" style="left:10px;"><span class="heartbit"></span><span class="point"></span></div>
			{% endif %}
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-11 mdb-phases-container expandable-body collapsed" onmouseover="Phase_reorder_update()" style="padding:0;">
			{% for p in pt.current_phases %}
			<div class="col-xs-12 {{p.type_label}} object popped even phase"  data-obj-title="{{p.title}}"  data-obj-id="{{p.id}}"    				data-obj-app="{{p.app_label}}" 	    data-obj-model="{{p.model_class}}"      data-obj-type="{{p.type_label}}"      data-file-form="{{p.file_form}}"        data-details="{{p.details_url}}"    data-edit="{{p.edit_url}}" style="margin-bottom:2px;">
				<div class="col-xs-11 expandable-container phase-id" style="padding:0;">
					<div class="col-xs-1">
						<i class="fa fa-plus btn btn-expand-collapse"></i>
					</div>
					<div class="col-xs-11 selectable" style="padding:6px;position:relative;top:-2px;">
						<i class="fa fa-tasks" style="margin-right:15px;"></i>
						<b class="mdb-p-title click">{{p.title}}</b>
						{% if pt.has_recommended and p.has_recommended %}
							<div class="notify" style="left:10px;"><span class="heartbit"></span><span class="point"></span></div>
						{% endif %}
					</div>
					<div class="col-xs-1"></div>
					<div class="col-xs-11 mdb-methods-container expandable-body collapsed" onmouseover="method_step()" style="padding:0;margin-bottom:3px;">
						{% for m in methods %}
							{% if m in p.current_methods %}
								{% if pt in m.project_type.all %}
									{% if m.newest %}
										<div class="col-xs-12 {{m.type_label}} object popped method-id odd {% if m.recommend %} recommended {% endif %}" data-obj-title="{{m.title}}"  data-obj-id="{{m.id}}"   phase-id="{{m.phase.id}}" 	project-type-id="{{pt.id}}"			data-obj-app="{{m.app_label}}" 	    data-obj-model="{{m.model_class}}"      data-obj-type="{{m.type_label}}"      data-file-form="{{m.file_form}}"        data-details="{{m.details_url}}"    data-edit="{{m.edit_url}}" style="">
											<div class="col-xs-11 " style="padding:6px;position:relative;top:-2px;">
												<i class="fa fa-map" style="margin-right:15px;"></i>
												<b class="mdb-m-title click selectable">{{m.title}}</b>
												{% if m.recommend %}
													<div class="notify" style="left:10px;"><span class="heartbit"></span><span class="point"></span></div>
												{% endif %}
											</div>
											<div class="col-xs-1" style="color:rgba(144, 0, 0, 0.65098);">
												<i class="btn fa fa-trash method-remove" style="color:red;font-size:16px;position:relative;"></i>
											</div>
										</div>
									{% endif %}
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="col-xs-1" style="color:rgba(144, 0, 0, 0.65098);">
					<i class="btn fa fa-trash phase-remove" style="color:red;font-size:16px;position:relative;"></i>
				</div>
			</div>
			{% endfor %}
			<div class="col-xs-12 expandable-container" style="padding:0;">
				<div class="col-xs-12 object popped even" style="margin-bottom:2px;">
					<div class="col-xs-1">
						<i class="fa fa-plus btn btn-expand-collapse"></i>
					</div>
					<div class="col-xs-11" style="padding:6px;position:relative;top:-2px;">
						<b style="">Methods with no phase</b>
						{% if pt.has_recommended_unassociated %}
							<div class="notify" style="left:10px;"><span class="heartbit"></span><span class="point"></span></div>
						{% endif %}
					</div>
				</div>
				<div class="col-xs-1"></div>
				<div class="col-xs-11 mdb-methods-container expandable-body collapsed" style="padding:0;margin-bottom:3px;">
					{% for m in pt.no_phase_methods %}
						{% if pt in m.project_type.all %}
							{% if m.newest %}
								<div class="col-xs-12 {{m.type_label}} object popped {% if m.recommend %} recommended {% endif %}" data-obj-title="{{m.title}}"  data-obj-id="{{m.id}}"    				data-obj-app="{{m.app_label}}" 	    data-obj-model="{{m.model_class}}"      data-obj-type="{{m.type_label}}"      data-file-form="{{m.file_form}}"        data-details="{{m.details_url}}"    data-edit="{{m.edit_url}}" style="">
									<div class="col-xs-12" style="padding:6px;position:relative;top:-2px;">
										<i class="fa fa-map" style="margin-right:15px;"></i>
										<b class="mdb-m-title click">{{m.title}}</b>
										{% if m.recommend %}
											<div class="notify" style="left:10px;"><span class="heartbit"></span><span class="point"></span></div>
										{% endif %}
									</div>
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-1" style="color:rgba(144, 0, 0, 0.65098);">
		<i class="btn fa fa-trash project-type-remove" style="color:red;font-size:16px;position:relative;"></i>
	</div>
</div>
{% endfor %}

<div class="col-xs-12 mdb-spacer" style="position:relative;min-height:50px;"></div>

<div class="col-xs-12 expandable-container" style="padding:0;margin-bottom:3px;">
	<div class="col-xs-12 object popped odd project_type" style="margin-bottom:2px;" data-obj-id="um">
		<div class="col-xs-1">
			<i class="fa fa-plus btn btn-expand-collapse"></i>
		</div>
		<div class="col-xs-11" style="padding:6px;position:relative;top:-2px;">
			<b style="color:black;">Unassociated Methods</b>
		</div>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-11 mdb-methods-container expandable-body collapsed" style="padding:0;margin-bottom:3px;">
		{% for m in unassociated_methods %}
			<div class="col-xs-12 {{m.type_label}} object popped" data-obj-title="{{m.title}}"  data-obj-id="{{m.id}}"    				data-obj-app="{{m.app_label}}" 	    data-obj-model="{{m.model_class}}"      data-obj-type="{{m.type_label}}"      data-file-form="{{m.file_form}}"        data-details="{{m.details_url}}"    data-edit="{{m.edit_url}}" style="">
				<div class="col-xs-12 selectable" style="padding:6px;">
					<i class="fa fa-map" style="margin-right:15px;"></i>
					<b class="mdb-m-title click">{{m.title}}</b>
				</div>
			</div>
		{% endfor %}
	</div>
</div>