{% load static %}
<form method="POST" action="{{action}}" id="{{form_id}}" enctype=multipart/form-data>
{%csrf_token%}
{{ form.non_field_errors }}
<div class="row">
	<div class="col-xs-12">
		{% include 'form_input_field.html' with field=form.title %}		
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		{% include 'form_input_field.html' with field=form.tier %}
	</div>
	<div class="col-xs-3">
		{% include 'form_input_field.html' with field=form.est_time %}
	</div>
	<div class="col-xs-3">
		{% include 'form_input_field.html' with field=form.automate %}
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		{% include 'form_select_field.html' with for_label="id_project_type" name="project_types" select_id="project_type" items=ptypes select_class="db-method-update-ptypes" selection=selected_ptypes %}
	</div>
	<div class="col-xs-6" id="method-edit-phase-select">
		{% include 'form_select_field.html' with for_label="id_phase" name="phase" select_id="phase" multiple=False items=phases selection=selected_phase blankval=True %}
	</div>
</div>
<div>
	<div class="col-xs-6">
		{% include 'form_select_field.html' with field=form.position selection="After" multiple=False %}
	</div>
	<div class="col-xs-6">
		{% include 'form_select_field.html' with field=form.method multiple=False selection=null %}
</div>
</div>
<div class="row">
	<div class="col-xs-6">
		{% include 'form_input_field.html' with field=form.command %}	
	</div>
	<div class="col-xs-6">
		{% include 'form_input_field.html' with field=form.mangle %}		
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		{% include 'form_input_field.html' with field=form.description %}
	</div>
	<div class="col-xs-4">
		{% include 'form_input_field.html' with field=form.help_base %}
	</div>
	<div class="col-xs-4">
		{% include 'form_input_field.html' with field=form.help_import %}
	</div>
</div>
{% include 'form_select_field.html' with field=form.files %}
{% include 'form_input_field.html' with field=form.associated_files %}
	<div class="container-fluid">
		{% if recommend %}
		<button class="btn btn-warning pull-right" id="btn-method-recommend" style="margin-left:20px;">recommend</button>
		{% endif %}
		{% if edit %}
		<button class="btn btn-info pull-right btn-modal-cancel" id="btn-method-update-cancel" style="margin-left:20px;">cancel</button>
		<button class="btn btn-success pull-right" id="btn-method-update">update</button>
		{% endif %}
		{% if add %}
		<button class="btn btn-info pull-right btn-modal-cancel" id="btn-modal-method-add-cancel" style="margin-left:20px;">cancel</button>
		<button class="btn btn-success pull-right" id="btn-modal-method-add-submit">submit</button>
		{% endif %}
	</div>
</form>