{% load static %}
<form method="POST" action="{{action}}" id="{{form_id}}" enctype="multipart/form-data">
	{%csrf_token%}
	{{ form.non_field_errors }}
	{% include 'form_input_field.html' with field=form.title %}
	<div class="row">
		<div class="col-xs-3">
			{% if phases %}
				{% include 'form_select_field.html' with for_label="id_phases" name="phases" select_id="phases" items=phases  selection=select require=True%}
			{% elif form.phase %}
				{% include 'form_input_field.html' with field=form.phase %}
			{% endif %}
		</div>
		<div class="col-xs-3">{% include 'form_input_field.html' with field=form.sequence %}</div>
		<div class="col-xs-3">{% include 'form_input_field.html' with field=form.tier %}</div>
		<div class="col-xs-3">{% include 'form_input_field.html' with field=form.est_time %}</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			{% include 'form_input_field.html' with field=form.description %}
		</div>
		<div class="col-xs-6">
			{% include 'form_input_field.html' with field=form.help_base %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{% include 'form_input_field.html' with field=form.base_command %}
		</div>
	</div>
	{% if form.files %}
		{% autoescape off %}
			<div class="row">
				<div class="col-xs-12">
					{% include 'form_input_field.html' with field=form.files %}
				</div>
			</div>
		{% endautoescape %}
	{% endif %}
	<div class="row">
		<div class="col-xs-12">
			{% include 'form_input_field.html' with field=form.associated_files %}
		</div>
	</div>
	<div class="container-fluid">
		{% if recommend %}
		<button class="btn btn-warning pull-right" id="btn-wf-task-recommend" style="margin-left:20px;">recommend</button>
		{% endif %}
		{% if edit %}
		<button class="btn btn-info pull-right" id="btn-wf-task-update-cancel" style="margin-left:20px;">cancel</button>
		<button class="btn btn-success pull-right" id="btn-wf-task-update">update</button>
		{% endif %}
		{% if add %}
		<button class="btn btn-info pull-right" id="btn-modal-task-add-cancel" style="margin-left:20px;">cancel</button>
		<button class="btn btn-success pull-right" id="btn-modal-task-add-submit">submit</button>
		{% endif %}
	</div>
</form>