<span>
<i onclick="wfTaskStateChange(this)" name="open" 		style="color:grey;" 	class="fa fa-square sc btn"></i>
<i onclick="wfTaskStateChange(this)" name="in-progress" style="color:orange;" 	class="fa fa-circle sc btn"></i>
<i onclick="wfTaskStateChange(this)" name="completed" 	style="color:green;" 	class="fa fa-check 	sc btn"></i>
<i onclick="wfTaskStateChange(this)" name="skipped" 	style="color:red;" 		class="fa fa-minus 	sc btn"></i>
</span>
<span id="task-status-label" style=""><b>{{task.status}}</b></span>