<div class="row control-bar pull-right" style="position:relative;margin-top:0;right:15px;">
    <div class="col-xs-12">
    	<i class="btn fa fa-clock-o   	ctrl-task-time     	pull-right" 	style="position:relative;text-shadow:1px 1px 1px #dad8d8;color:black;"></i>
      	<i class="btn fa fa-comment 	ctrl-task-note  	pull-right" 	style="position:relative;text-shadow:1px 1px 1px #dad8d8;color:black;max-width:38.2px;"></i>
      	<i class="btn fa fa-file    	ctrl-task-files 	pull-right" 	style="position:relative;text-shadow:1px 1px 1px #dad8d8;color:black;"></i>
      	<i class="btn fa fa-edit    	ctrl-task-edit  	pull-right" 	style="position:relative;text-shadow:1px 1px 1px #dad8d8;color:black;top:1px;"></i>
      	<i class="btn fa fa-refresh 	ctrl-task-refresh 	pull-right" 	style="position:relative;text-shadow:1px 1px 1px #dad8d8;color:black;"></i>
    </div>
</div>