{% load static %}

{% block table_pallet %}
<div class="top-spacer"></div>

<div class="col-md-12 white-box popped">
    <div class="row">
        <div class="col-xs-4">
            <button class="btn btn-success popped" id="btn-dt-add-table" style="display:inline;">Add Table</button>
            <button class="btn btn-info popped" id="btn-manage-dts" style="display:inline;margin-left:10px;">Manage Data Types and Attributes</button>
        </div>
    </div>
    <hr>
    <div class="row" id="data-tables">
        {% for table in tables %}
            {{ table.html|safe }}
        {% endfor %}
    </div>
</div>
{% include 'page_data.html' %}
{% endblock %}