body {
	background-color:#4F5467 !important;
}

.user-bg {
	height:400px !important;
}

.cancel-btn :hover {
	opacity:.8 !important;
}

.login-box {
	margin-top:15%;
	border-radius:15px !important;
}

.logo > b > img {
	width:55px;
	height:50px;
	margin-top:4px;
	margin-left:4px;
}


.top-spacer {
	height:40px;
}

.search-div {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

.show-all-div {
}

#chriss-awesome-img {
	transform: scale(1.4,1.4);
	margin-left:5px;
	padding-left:15px;
	padding-top:5px;
}

.nav-label {
	/*position:relative;
	top:7px;
	left:480px;*/
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	max-width:55%;
	display:inline-flex;
	color:white;
	font-weight:bold;
	font-size:2em;
	margin-top:12px;
	margin-left:auto;
	margin-right:auto;
	letter-spacing:1px;
	text-shadow:1px 1px 3px #333;
}

#nav-label-divider {
	margin-left: 5px;
	margin-right: 5px;
}

#side-menu ul > li > a:hover {
	font-weight: bolder;
	color:black;
}


.nofloat {
	float:none !important;
}

.form-box {
	max-width: 90%
}

.oa {
	background-color:#b3e6b3;
}

.ea {
	background-color:#b3b3ff;
}

.ne {
    background-color:#89d699;
}
.even {
background-color:rgb(190, 203, 224);
}
.odd {
background-color:#eee;
}
.vc {
vertical-align:middle;
}
.col-spacer {
padding-top:5px;
}
.sc {
padding:2px;
text-shadow:1px 1px 1px #dad8d8;
}
.tdi {
background-color:#eee;
}
.item-title {
cursor:pointer;
}
.header-text {
letter-spacing:2px;
font-weight:bolder;
margin:0px;
}

#section {
	padding-top:10px;
}

/*.navbar-header {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}*/