#imp-tab {
	color:black;
	z-index:10;
	background: rgb(233, 229, 226); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(233, 229, 226), #D7D5D5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(233, 229, 226), #D7D5D5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(233, 229, 226), #D7D5D5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(233, 229, 226), #D7D5D5); /* Standard syntax */
}

.thumbs {
	display:inline-flex;
	flex-direction:row;
}

.data-div > div {
	width:100%;
}