{% extends 'base_display_items.html' %}
{% load static %}

{% block item_header_block %}
<div class="row item" data-obj-id="{{item.id}}" data-obj-title="{{item.name}}" data-obj-app="clients" data-obj-model="Client" data-obj-project-count="{{item.projects_count}}" data-obj-contact-count="{{item.contacts_count}}">
	<div onclick="cldbClientDetails(this)" class="col-xs-2 col-spacer"><b style="margin-left:12px;cursor:pointer;" class="item-name">{{item.name}}</b></div>
	<div class="col-xs-2 col-spacer text-center"><b>{{item.contacts_count}}</b></div>
	<div class="col-xs-2 col-spacer text-center"><b>{{item.projects_count}}</b></div>
	<div class="col-xs-2 col-spacer text-center"><b>{{item.has_active_project}}</b></div>
	<div class="col-xs-2 col-spacer text-center"><b>{{item.active_projects_count}}</b></div>
	<div class="col-xs-2">
		<i onclick="cldbClientDelete(this)" class="btn btn-clear fa fa-trash pull-right" style="margin-right:5px;"></i>
		<i onclick="cldbClientEdit(this)" class="btn btn-clear  fa fa-edit pull-right" style="margin-right:5px;"></i>
	</div>
</div>
{% endblock %}

{% block item_body_block %}

{% endblock %}

