{% load static %}

{% block top_pallet %}
<div class="top-spacer"></div>

<div class="col-md-12">
  <div class="white-box">
    <div class="row">
      <div class="col-xs-4">
        <button id="btn-mdb-add-ptype" class="btn btn-success popped" style="display:inline;">
          Add Project Type
        </button>
        <button id="btn-mdb-add-phase" class="btn btn-success popped" style="display:inline;margin-left:7px;">
          Add Phase
        </button>
        <button id="btn-mdb-add-method" class="btn btn-success popped" style="display:inline;margin-left:7px;" >
        Add Method
        </button>
        <button id="btn-mdb-expand-all" class="btn btn-info popped" style="display:inline;margin-left:7px;margin-right:7px;">Expand</button>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label for="input-search" class="sr-only">Search Methodologies:</label>
          <input class="form-control" onkeyup="mdbSearch(this)" id="input-search" placeholder="Type to search..." value="" type="input">
        </div>
      </div>
      <div class="col-xs-2">
        <div class="checkbox checkbox-info" style="margin-top:-1px;">
          <input class="checkbox" checked="true" id="chk-ignore-case" value="true" type="checkbox">
          <label for="chk-ignore-case">Ignore Case</label>
        </div>
        <div class="checkbox checkbox-info" style="margin-top:-8px;">
          <input class="checkbox" checked="true" id="chk-reveal-results" value="true" type="checkbox">
          <label for="chk-reveal-results">Reveal Results</label>
        </div>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-info popped" id="btn-search" onclick="mdbSearch()">Search</button>
        <button type="button" class="btn btn-default popped" id="btn-clear-search" onclick="mdbClearSearch(this)">Clear</button>
      </div>
              <!-- <div class="row">
                <div class="col-md-4 pull-left" style="margin-top:-10px;"> -->
                  <!-- <div class="checkbox checkbox-info">
                    <input class="checkbox" checked="true" id="chk-ignore-case" value="true" type="checkbox">
                    <label for="chk-ignore-case">Ignore Case</label>
                  </div>
                  <div class="checkbox checkbox-info">
                    <input class="checkbox" checked="true" id="chk-reveal-results" value="true" type="checkbox">
                    <label for="chk-reveal-results">Reveal Results</label>
                  </div>
                </div> -->
                <!-- <div class="col-md-3"> -->
                  <!-- <button type="button" class="btn btn-info" id="btn-search" onclick="mdbSearch()">Search</button>
                  <button type="button" class="btn btn-default" id="btn-clear-search" onclick="mdbClearSearch(this)">Clear</button> -->
               <!--  </div>
              </div> -->
            <!-- </form> -->
         <!--  </div> -->
    </div>
  <!-- <hr>
  
  
  
  <hr> -->
  <!-- <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span><h3 class="box-title" style="display:inline;margin-right:5px;margin-left:5px;">Methodologies Tree View</h3><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span> -->
  <!-- <button class="btn btn-info" id="btn-collapse-all">Collapse / Expand</button> -->
    <div class="row">
        <div class="col-sm-8">
          <!-- <button id="btn-add-ptype" type="button" class="btn btn-success" style="display:inline;" onclick="mdbAddPtype(this)">Add Project Type</button><button id="btn-add-phase" type="button" class="btn btn-success" style="display:inline;margin-left:7px;" onclick="mdbAddPhase(this)">Add Phase</button><button id="btn-add-item" type="button" class="btn btn-success" style="display:inline;margin-left:7px;" onclick="mdbAddItem(this)">Add Item</button><button id="btn-expand-all" type="button" class="btn btn-info" style="display:inline;margin-left:7px;margin-right:7px;">Expand</button> -->
          {% if recommendations %}
            <b>Recommendations are highlighted</b>
          {% endif %}
          <div id="treeview-searchable" class="treeview popped" style="margin-top:10px;" > 
          .
          <ul class="list-group">
            <!-- TREE WILL POPULATE HERE -->
          </ul>
          </div>
        </div>
        <div class="col-sm-4" style="padding-left:10px;">
          <h2 style="margin-top:-2px;"> Search Results</h2>
          <div id="search-output">
          </div>
        </div>
    </div>
  </div>
</div>
<div id="dynamicModal"></div>
<div id="form-sample" style="display:none;">
  <form id="modal-body-form" method="POST" action="/methodologies/" enctype="multipart/form-data" onload="formatForm()">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}"></label><span>{{ field.errors }}</span>
        <div class="input-group">
          <div class="input-group-addon"></div>
          {{field}}
        </div>
      </div>
    {% endfor %}
  </form>
</div>

<div id="page-data" style="display:none;" data-section="{{section}}"></div>
{% endblock %}