{% extends 'baseline.html' %}
{% load static %}

{% block top_pallet %}
<div class="top-spacer"></div>

<div class="col-md-12">
  <div class="white-box">
    <div class="row">
      <div class="col-sm-12">
            <h2>Search Methodologies</h2>
            <!-- <form> -->
              <div class="form-group">
                <label for="input-search" class="sr-only">Search Methodologies:</label>
                <input class="form-control" id="input-search" placeholder="Type to search..." value="" type="input">
              </div>
              <div class="row">
                <div class="col-md-4 pull-left" style="margin-top:-10px;">
                  <div class="checkbox checkbox-info">
                    <input class="checkbox" id="chk-ignore-case" value="true" type="checkbox">
                    <label for="chk-ignore-case">Ignore Case</label>
                  </div>
                  <div class="checkbox checkbox-info">
                    <input class="checkbox" id="chk-reveal-results" value="true" type="checkbox">
                    <label for="chk-reveal-results">Reveal Results</label>
                  </div>
                  <!-- <div class="checkbox checkbox-info">
                    <input class="checkbox" id="chk-exact-match" value="false" type="checkbox">
                    <label for="chk-exact-match">Exact Match</label>
                  </div> -->
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-info" id="btn-search">Search</button>
                  <button type="button" class="btn btn-default" id="btn-clear-search">Clear</button>
                </div>
              </div>
            <!-- </form> -->
          </div>
    </div>
  <!-- <hr>
  
  
  
  <hr> -->
  <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span><h3 class="box-title" style="display:inline;margin-right:5px;margin-left:5px;">Methodologies Tree View</h3><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
  <!-- <button class="btn btn-info" id="btn-collapse-all">Collapse / Expand</button> -->
        <div class="row">
            <div class="col-sm-8">
              <button id="btn-add-ptype" type="button" class="btn btn-success" style="display:inline;">Add Project Type</button><button id="btn-add-phase" type="button" class="btn btn-success" style="display:inline;margin-left:7px;">Add Phase</button><button id="btn-add-item" type="button" class="btn btn-success" style="display:inline;margin-left:7px;">Add Item</button><button id="btn-expand-all" type="button" class="btn btn-info" style="display:inline;margin-left:7px;margin-right:7px;">Expand</button>
              <div id="treeview-searchable" class="treeview" style="margin-top:10px;">
              <ul class="list-group">
                <!-- TREE WILL POPULATE HERE -->
              </ul>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left:10px;">
              <h2 style="margin-top:-2px;"> Search Results</h2>
              <div id="search-output">
              	
              </div>
            </div>
        </div>
  </div>
</div>
<div id="dynamicModal"></div>
<div id="form-sample" style="display:none;">
<form id="modal-body-form" method="POST" action="/methodologies/" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}"></label><span>{{ field.errors }}</span>
      <div class="input-group">
        <div class="input-group-addon"></div>
        {{field}}
      </div>
    </div>
  {% endfor %}
</form>
</div>
{% endblock %}

{% block scripts %}
<!-- Treeview Plugin JavaScript -->
<script src="{% static 'plugins/bower_components/bootstrap-treeview-master/dist/bootstrap-treeview.min.js' %}"></script>

<div id="script-holder"> 
{% include 'method_data_tree.html' %}
</div>
<script type="text/javascript">
	$(document).ready(function(){
		var li = $('.treeview').find('li');


	
  //To interact with the treeview object use $('.treeview').treeview()
 function initSearchable(){
	$searchableTree = $('.treeview').treeview({
          selectedBackColor: "#03a9f3",
          onhoverColor: "rgba(0, 0, 0, 0.05)",
          expandIcon: 'ti-plus',
          collapseIcon: 'ti-minus',
          nodeIcon: 'fa fa-folder',
          data: defaultData,
          //enableLinks: true,
        });
  }
  initSearchable();
	var search = function(e) {
          var pattern = $('#input-search').val();
          if (pattern != '') {
            var options = {
              ignoreCase: $('#chk-ignore-case').is(':checked'),
              exactMatch: $('#chk-exact-match').is(':checked'),
              revealResults: $('#chk-reveal-results').is(':checked')
            };
            var results = $searchableTree.treeview('search', [ pattern, options ]);
            if (results.length > 0) {
              var output = '<p>' + results.length + ' matches found</p>';
              $.each(results, function (index, result) {
                output += '<p>- ' + result.text + '</p>';
              });
              $('#search-output').html(output);
            } else {
              $searchableTree.treeview('clearSearch');
              $('.treeview').treeview('collapseAll', { silent: true})
              $('#search-output').empty();
              $('li').removeClass('search-result');
            }//end inner if-else
          } else {
            $searchableTree.treeview('clearSearch');
            $('.treeview').treeview('collapseAll', { silent: true})
            $('#search-output').empty()
            $('li').removeClass('search-result');
          }//end outter if-else
          
    }

        $('#btn-search').on('click', search);
        $('#input-search').on('keyup', search);

        $('#btn-clear-search').on('click', function (e) {
          $searchableTree.treeview('clearSearch');
          $('#input-search').val('');
          $('#search-output').html('');
          $('.treeview').treeview('collapseAll', { silent: true});
          $('li').removeClass('search-result');
        });
        function initExpandible(){
        $expandibleTree = $('#treeview-expandible').treeview({
          data: defaultData,
          onNodeCollapsed: function(event, node) {
            $('#expandible-output').prepend('<p>' + node.text + ' was collapsed</p>');
          },
          onNodeExpanded: function (event, node) {
            $('#expandible-output').prepend('<p>' + node.text + ' was expanded</p>');
          }
        });
       
        }
        initExpandible();
        var findExpandibleNodess = function() {
          return $expandibleTree.treeview('search', [ $('#input-expand-node').val(), { ignoreCase: false, exactMatch: false } ]);
        };
        var expandibleNodes = findExpandibleNodess();

        // Expand/collapse/toggle nodes
        $('#input-expand-node').on('keyup', function (e) {
          expandibleNodes = findExpandibleNodess();
          $('.expand-node').prop('disabled', !(expandibleNodes.length >= 1));
        });

        $('#btn-expand-node.expand-node').on('click', function (e) {
          var levels = $('#select-expand-node-levels').val();
          $expandibleTree.treeview('expandNode', [ expandibleNodes, { levels: levels, silent: $('#chk-expand-silent').is(':checked') }]);
        });

        $('#btn-collapse-node.expand-node').on('click', function (e) {
          $expandibleTree.treeview('collapseNode', [ expandibleNodes, { silent: $('#chk-expand-silent').is(':checked') }]);
        });

        $('#btn-toggle-expanded.expand-node').on('click', function (e) {
          $expandibleTree.treeview('toggleNodeExpanded', [ expandibleNodes, { silent: $('#chk-expand-silent').is(':checked') }]);
        });

        // Expand/collapse all
        $(document).on('click','#btn-expand-all',function (e) {
          //var levels = $('#select-expand-all-levels').val();         
          $('.treeview').treeview('expandAll', { silent: true});
          $(this).text('Collapse');
          $(this).attr('id','btn-collapse-all');    
        });

        $(document).on('click','#btn-collapse-all',function (e) {        
          $('.treeview').treeview('collapseAll', { silent: true});
          $(this).text('Expand');
          $(this).attr('id','btn-expand-all');     
        });

        

        // Add Method Item Modal
        $('#btn-add-item').on('click',function(){
          $.get('/get_method_form/',function(returned){
            var header = "Add Method Item";
            var content = returned;
            var strSubmitFunc = "submitForm()";
            var btnText = "Add Item";
            doModal('dynamicModal', header, content, strSubmitFunc, btnText);
            $('#dynamicModal').find('#btn-modal-form-submit').attr('id','btn-add-item-submit');
            var modal = $('#modalWindow');
            var form = modal.find('form');
            formatForm();
          });
        });

        $(document).on('click','#btn-add-item-submit',function(){
          var form = $('#modalWindow').find('form');
          form.ajaxSubmit(function(returned){
            var expanded = $('.treeview').treeview('getExpanded');
            $('#script-holder').empty().html(returned);
            initSearchable();
            initExpandible();
            $.each(expanded, function(){
              $('.treeview').treeview('expandNode',$(this)[0].nodeId);
            });
            $('#modalWindow').modal('hide');
          });
        });

        // Add Project Type Modal
        $('#btn-add-ptype').on('click', function(){
          var header = "Add Project type";
          var content = "<form id='modal-body-form'><div class='form-group'><label for='id_ptype'>Project Type Name</label><span></span><div class='input-group'><div class='input-group-addon'></div><input type='text' class='form-control' name='project_type' id='id_ptype'></div></div><div class='form-group'><label for='id_shand'>Short Hand</label><span></span><div class='input-group'><div class='input-group-addon'></div><input type='text' max-length='10' class='form-control' name='project_type' id='id_shand'></div></div><div class='form-group'><label for='id_phases'>Associate Phases With This Project Type</label><span></span><div class='input-group'><div class='input-group-addon'></div><select multiple='multiple' class='form-control' name='phases' id='id_phases'></select></div></div></form>";
          var strSubmitFunc = "submitForm()";
          var btnText = "Add Project Type";
          doModal('dynamicModal', header, content, strSubmitFunc, btnText);
          $('#dynamicModal').find('#btn-modal-form-submit').attr('id','btn-add-ptype-submit');
          var url = '/get_phases/';
          $.get(url,function(returned){
            //console.log(returned);
            if (returned['state'] == 'success'){
              //console.log(returned['phases'])
              var selector = $('#dynamicModal').find('#id_phases');
              $.each(returned['phases'],function(){
                //console.log('id: ' + $(this)[0] + ' title: ' + $(this)[1]);
                var id = $(this)[0];
                var title = $(this)[1];
                selector.append('<option value="'+id+'">'+title+'</option>');
              });
            }
          });

        });

        $(document).on('click','#btn-add-ptype-submit',function(){
          var btn = $(this);
          var modal = btn.closest('.modal');
          var ptype_name = $(this).closest('.modal-content').find('#id_ptype').val();
          var shand_name = $(this).closest('.modal-content').find('#id_shand').val();
          var phases = $(this).closest('.modal-content').find(':selected');
          var phase_list = [];
          $.each(phases,function(){
            phase_list.push($(this).val());
          });
          var data = {'ptype_name':ptype_name,'shand_name':shand_name,'csrfmiddlewaretoken':'{{csrf_token}}','phase_ids':phase_list};
          //console.log(data);
          var url = '/add_ptype/';
          $.post(url,data,function(returned){
            $('#script-holder').empty().html(returned);
            initSearchable();
            initExpandible();
            modal.modal('hide');
          });
        });


        // Add Phase Modal
        $('#btn-add-phase').on('click', function(){
          var header = "Add Phase";
          var content = "<form id='modal-body-form' action='/add_phase/' method='POST'><div class='form-group'><label for='id_phase'>Phase Name</label><span></span><div class='input-group'><div class='input-group-addon'></div><input type='text' class='form-control' name='phase' id='id_phase' required></div></div><div class='form-group'><label for='id_ptypes'>Associate Phase With Project Types</label><span></span><div class='input-group'><div class='input-group-addon'></div><select multiple='multiple' class='form-control' name='ptypes' id='id_ptypes'></select></div></div></form>";
          var strSubmitFunc = "submitForm()";
          var btnText = "Add Phase";
          doModal('dynamicModal', header, content, strSubmitFunc, btnText);
          $('#dynamicModal').find('#btn-modal-form-submit').attr('id','btn-add-phase-submit');
          var url = '/get_ptypes/';
          $.get(url,function(returned){
            //console.log(returned);
            if (returned['state'] == 'success'){
              //console.log(returned['phases'])
              var selector = $('#dynamicModal').find('#id_ptypes');
              $.each(returned['ptypes'],function(){
                //console.log('id: ' + $(this)[0] + ' title: ' + $(this)[1]);
                var id = $(this)[0];
                var title = $(this)[1];
                selector.append('<option value="'+id+'">'+title+'</option>');
              });
            }
          });
        });

        $(document).on('click','#btn-add-phase-submit',function(){
          var phase_name = $(this).closest('.modal-content').find('#id_phase').val();
          //$('#modal-body-form').submit();

          var ptypes = $(this).closest('.modal-content').find(':selected');
          var ptype_list = [];
          $.each(ptypes,function(){
            //console.log($(this).val());
            ptype_list.push($(this).val());
          });

          var data = {'phase_name':phase_name,'csrfmiddlewaretoken':'{{csrf_token}}','ptype_ids':ptype_list};
          var url = '/add_phase/';
          $.post(url,data,function(returned){
            //console.log(returned);        
            if (returned['status'] == 'success') {
              $('#form-sample').find('#id_phase').append('<option value="'+returned['id']+'">'+returned['title']+'</option>');
            $.get('/method_data_tree/',function(returned){
              //var expanded = $('.treeview').treeview('getExpanded');
              $('#script-holder').empty().html(returned);
              initSearchable();
              initExpandible();
              // $.each(expanded, function(){
              //   $('.treeview').treeview('expandNode',$(this)[0].nodeId);
              // });
            });
            $("#modalWindow").modal('hide');
            }
          });
        });


    
    formatForm();
    
    $('#chk-ignore-case').attr('checked',true);
    $('#chk-exact-match').attr('checked',false);
    $('#chk-reveal-results').attr('checked',true);


    

    $(document).on('click','.method_item',function(){
      var nodeId = $(this).parent().attr('data-nodeid');
      var node = $('.treeview').treeview('getNode', nodeId);
      var m_item_id = node.uid;
      var data = {'csrfmiddlewaretoken':'{{csrf_token}}','item_id':m_item_id};
      var url = '/method_details/';
      var header = "Method Item Details";
      var content = $('#form-sample').html();
      var strSubmitFunc = "submitForm()";
      var btnText = "Update Item";
      doModal('dynamicModal', header, content, strSubmitFunc, btnText);
      $('#modalWindow').find('#btn-modal-form-submit').attr('id','btn-method-item-update');
      $.get(url,data,function(returned){
        $('#modalWindow').find('#modal-form-div').empty().html(returned);
        formatForm();
        $('#modalWindow').find('form').attr('action','/method_update/');
        $('#modalWindow').find('form').attr('method','POST');
        $('#model-form').append('<input type="hidden" name="id" value="'+m_item_id+'">');
      });
    });

    $(document).on('click','#btn-method-item-update',function(){
      var form = $('#modalWindow').find('form');
      form.ajaxSubmit(function(returned){
        console.log('here');
        var expanded = $('.treeview').treeview('getExpanded');
        $('#script-holder').empty().html(returned);
        initSearchable();
        initExpandible();
        $.each(expanded, function(){
          $('.treeview').treeview('expandNode',$(this)[0].nodeId);
        });
        $('#modalWindow').modal('hide');
      });
    });

    $(document).on('click','.p_type',function(){
      var nodeId = $(this).parent().attr('data-nodeid');
      var node = $('.treeview').treeview('getNode', nodeId);
      var p_type_id = node.uid;
      var data = {'csrfmiddlewaretoken':'{{csrf_token}}','item_id':p_type_id};
      var url = '/ptype_details/';
      var header = "Project Type Details";
      var content = '';
      var strSubmitFunc = "submitForm()";
      var btnText = "Update Project Type";
      doModal('dynamicModal', header, content, strSubmitFunc, btnText);
      $('#modalWindow').find('#btn-modal-form-submit').attr('id','btn-p-type-update');
      $.get(url,data,function(returned){
        $('#modalWindow').find('#modal-form-div').empty().html(returned);
        formatForm();
        $('#model-form').append('<input type="hidden" name="id" value="'+p_type_id+'">');
      });
    });


    $(document).on('click','#btn-p-type-update',function(){
      var form = $('#modalWindow').find('form');
      var data = form.serializeArray();
      var trans = {}
      $.each(data,function(idx,val){
          var name = $(this)[0]['name'];
          var info = $(this)[0]['value'];
          trans[name] = info;
      });
      trans['csrfmiddlewaretoken'] = '{{csrf_token}}';
      var url = '/ptype_update/';
      $.post(url,data,function(returned){
        var expanded = $('.treeview').treeview('getExpanded');
        $('#script-holder').empty().html(returned);
        initSearchable();
        initExpandible();
        $.each(expanded, function(){
          $('.treeview').treeview('expandNode',$(this)[0].nodeId);
        });
        $('#modalWindow').modal('hide');
      });
    });

    $(document).on('click','.phase',function(){
      var nodeId = $(this).parent().attr('data-nodeid');
      var node = $('.treeview').treeview('getNode', nodeId);
      var phase_id = node.uid;
      var data = {'csrfmiddlewaretoken':'{{csrf_token}}','item_id':phase_id};
      var url = '/phase_details/';
      var header = "Phase Details";
      var content = '';
      var strSubmitFunc = "submitForm()";
      var btnText = "Update Phase";
      doModal('dynamicModal', header, content, strSubmitFunc, btnText);
      $('#modalWindow').find('#btn-modal-form-submit').attr('id','btn-phase-update');
      $.get(url,data,function(returned){
        $('#modalWindow').find('#modal-form-div').empty().html(returned);
        formatForm();
        $('#model-form').append('<input type="hidden" name="id" value="'+phase_id+'">'); 
      }); 
    });


    $(document).on('click','#btn-phase-update',function(){
      var form = $('#modalWindow').find('form');
      var data = form.serializeArray();
      var trans = {}
      $.each(data,function(idx,val){
          var name = $(this)[0]['name'];
          var info = $(this)[0]['value'];
          trans[name] = info;
      });
      trans['csrfmiddlewaretoken'] = '{{csrf_token}}';
      var url = '/phase_update/';
      $.post(url,data,function(returned){
        var expanded = $('.treeview').treeview('getExpanded');
        $('#script-holder').empty().html(returned);
        initSearchable();
        initExpandible();
        $.each(expanded, function(){
          $('.treeview').treeview('expandNode',$(this)[0].nodeId);
        });
        $('#modalWindow').modal('hide');
      });
    });

  });
</script>
{% endblock %}
