<div class="col-xs-12 col-sm-12 col-ms-6 col-lg-6 col-xl-6 header-scheme">
        <div class="it-issue-card popped even" data-obj-id="{{issue.id}}" data-obj-app="issuetracker" data-obj-model="Issue" data-obj-type="issue" data-url="/issue_details/" style="margin:20px;padding:10px;color:black;max-height: 300px;min-height:350px;">
            <div class="col-xs-12 tdi popped" style="position:relative;">
                <div class="col-xs-7">
                    <h4 style="display:inline;">
                        <b class="pull-left" style="padding-top:5px;">{{issue.title}}</b>
                    </h4>
                </div>
                <div class="col-xs-3">
                    <span class="pull-right" style="margin-top:7px;">this issue is <b>{{issue.status.title}}</b></span>
                </div>
                <div class="col-xs-2" style="position:relative;">
                    <span class="label label-rouded label-info note-count pull-right" style="margin-top:6px;">{{issue.notes.all.count}}</span>
                    <i onclick="itNoteModal(this)" class="fa fa-comment btn item-note pull-right" style="padding-top:7px;"></i>
                </div>
            </div><br>
            <hr class="modal-divider" style="margin-top:15px;">
            <div class="container-fluid">
                <div class="col-xs-6" style="position:relative;padding-top:10px;min-height:280px;max-height:280px;">
                    <div class="col-xs-12" style="margin-bottom:5px;">{{issue.description}}</div>
                    <div class="col-xs-12" style="position:absolute;bottom:0;">
                        <b>Latest Issue File</b>
                        <div class="col-xs-12 tdi">
                            <a href="{{issue.latest_issue_file.file.url}}" target="_blank">
                                <b>{{issue.latest_issue_file}}</b>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" style="position:relative;padding-top:10px;">
                    <b class="pull-left" style="display:block;">Issue Owner</b>
                    <div class="col-xs-12 tdi" style="margin-bottom:5px;">
                        {% if issue.issue_owner.first_name %}
                        {{issue.issue_owner.first_name}} {{issue.issue_owner.last_name}}
                        {% else %}
                        {{issue.issue_owner.user.first_name}} {{issue.issue_owner.user.last_name}}  
                        {% endif %}
                    </div>
                    <b class="pull-left" style="display:block;">Techincal Point of Contact</b>
                    <div class="col-xs-12 tdi" style="margin-bottom:5px;">
                        {{issue.technical_poc.first_name}} {{issue.technical_poc.last_name}}
                    </div>
                    <b class="pull-left" style="display:block;">Last Updated</b>
                    <div class="col-xs-12 tdi" style="margin-bottom:5px;">
                        {{issue.updated}}
                    </div>
                    {% if issue.associated_files.all.count > 0 %}
                        <b class="pull-left" style="display:block;">Additional Files</b>
                        <div class="col-xs-12 tdi" style="margin-bottom:5px;">
                            {% for file in issue.associated_files.all %}
                                <a href="{{file.file.url}}" target="_blank">{{file.filename}}</a><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>