{% load static %}
<div class="col-md-12">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-8">
            {% include 'search_bar.html' %}
        </div>
    </div>
    <hr class="modal-divider" style="margin-bottom:10px;">
    <div class="row">
        <div class="col-xs-12 text-left" style="padding-left: 10px"><b>Title</b></div>
    </div>
    <hr class="modal-divider" style="margin-top:10px;">
    <div class="row " style="max-height:500px;overflow:scroll;padding-bottom:10px">
        {% for method in methods %}
            <div class="row item object {% cycle 'even' 'odd' %}" id="{{method.id}}" data-obj-title="{{method.title}}"  data-obj-id="{{method.id}}" phase-id="{{method.phase.id}}" data-obj-app="{{method.app_label}}" data-obj-model="{{method.model_class}}" data-obj-type="{{method.type_label}}" data-file-form="{{method.file_form}}" data-details="{{method.details_url}}" data-edit="{{method.edit_url}}" >
                <div class="col-xs-11 method-title click text-left" style="padding-left: 10px">{{method.title}}</div>
                <div class="col-xs-1" style="color:rgba(144, 0, 0, 0.65098);">
                    <i class="btn fa fa-trash method-delete" style="color:red;font-size:16px;position:relative;"></i>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
