{% load static %}
{% for phase in phases %}
	<li class="phase item object" id="{{phase.id}}" data-app="methodologies" data-model="Phase" data-obj-title="{{phase.title}}" data-obj-type="phase" data-obj-app="methodologies" data-obj-model="Phase" data-obj-id="{{phase.id}}" data-sequence="{{phase.sequence}}">
		<div class="col-xs-12 phase-header popped" style="background-color:#dad8d8">
			<div class="col-sm-1">
				<i class="btn btn-clear fa fa-plus btn-min-max" style="margin-right:5px;"></i>
			</div>
			<div class="col-sm-6 col-spacer workflow-phase-title">
				<b style="letter-spacing:.5px;font-size:15px;cursor:pointer;">{{phase.title}}</b>
			</div>
			<div class="col-sm-2 col-spacer" style="width:10%">
				<b class="pull-right" style="white-space:pre">  Tasks</b>
				<span class="label label-rouded label-success pull-right task-count popped" style="margin-top:0px;">{{phase.task_count}}</span>
				<i class="btn fa fa-plus btn-wf-phase-task-add pull-right" style="padding:1px 10px 0 0;color:rgba(14, 91, 19,0.85);text-shadow:1px 1px 1px #333;"></i>
			</div>
			<div class="col-sm-3 text-right" style="padding-top:5px;">
				<div style="display:inline;">
					<b style="position:relative;top:2px;">Total Time - <span class="phase-time">{{phase.billed_total_time}}</span></b>
				</div>
				<i class="btn fa fa-clock-o pull-right btn-time-entry-add" style="padding-top:0px;padding-bottom:2px;font-size:18px;"></i>
				{% include 'note_add_btn_and_counter.html' with color="info" note_count=phase.note_count class="phase-note-count" style="margin-top:1px;"%}
			</div>
		</div>
		<div class="item-body container-fluid" style="display:none;">
			<div class="row tasks-header">
		        <div class="col-sm-2 btn hsb" style="text-align:left;">	<b id="status">	Status 		</b></div>
		        <div class="col-sm-1 btn hsb" style="text-align:center"><b id="tier">	Tier 		</b></div>
		        <div class="col-sm-6 btn hsb" style="text-align:left">	<b id="title">	Title 		</b></div>
		        <div class="col-sm-1 btn hsb" style="text-align:right;position:relative;left:25px;">	<b id="notes">	Notes 		</b></div>
		        <div class="col-sm-1 btn hsb" style="text-align:right">	<b id="files">	Files 		</b></div>
		        <div class="col-sm-1 btn hsb" style="text-align:center"><b id="time">	Time Logged </b></div>
		    </div>
			<div id="phase-{{phase.pk}}-tasks" class="tasks row popped">
				{% include 'display_tasks.html' with tasks=phase.current_tasks %}
			</div>
			<div class="row">
				<div class="col-sm-5"><hr style="background-color:grey;margin:15px;"></div>
				<div class="col-sm-2 text-center col-spacer"><b>Phase Notes</b></div>
				<div class="col-sm-5"><hr style="background-color:grey;margin:15px;"></div>
			</div>
			<div class="phase-notes row popped">
				{% include 'display_notes.html' with notes=phase.get_notes %}
			</div>
		</div>
	<hr>
	</li>
{% endfor %}