{% load static %}

{% block top_pallet %}
<div class="top-spacer"></div>
<div id="mdb">
  <div class="col-xs-12">
    <div class="white-box popped">
      <div class="row">
        <div class="col-xs-7">
          <button id="btn-mdb-add-ptype" class="btn btn-success popped" style="display:inline;margin-right:5px;margin-top:7px;">
            Add Project Type
          </button>
          <button id="btn-mdb-add-phase" class="btn btn-success popped" style="display:inline;margin-right:5px;margin-top:7px;">
            Add Phase
          </button>
          <button id="btn-mdb-add-method" class="btn btn-success popped" style="display:inline;margin-right:5px;margin-top:7px;" >
          Add Method
          </button>
          <button id="btn-mdb-manage-phase" class="btn btn-success popped" style="display:inline;margin-right:5px;margin-top:7px;" >
          Manage Phases
          </button>
          <button id="btn-mdb-manage-method" class="btn btn-success popped" style="display:inline;margin-right:5px;margin-top:7px;" >
          Manage Methods
          </button>
          <button id="btn-mdb-expand-all" class="btn btn-info popped" style="display:inline;margin-left:5px;margin-right:5px;margin-top:7px;">Expand</button>
          <button id="btn-mdb-import" class="btn btn-warning popped" style="display:inline;margin-left:5px;margin-right:5px;margin-top:7px;">Import</button>
        </div>
        <div class="col-xs-3" style="margin-top:7px;">
          <div class="form-group">
            <label for="input-search" class="sr-only">Search Methodologies:</label>
            <input class="form-control" id="input-search" placeholder="Type to search..." value="" type="input">
          </div>
        </div>
        <div class="col-xs-2" style="margin-top:7px;">
          <div class="checkbox checkbox-info" style="margin-top:-1px;">
            <input class="checkbox" checked="true" id="chk-ignore-case" value="true" type="checkbox">
            <label for="chk-ignore-case">Ignore Case</label>
          </div>
          <div class="checkbox checkbox-info" style="margin-top:-8px;">
            <input class="checkbox" checked="true" id="chk-reveal-results" value="true" type="checkbox">
            <label for="chk-reveal-results">Reveal Results</label>
          </div>
        </div>
      </div>
    
      <div class="row" style="margin-top:10px;">
        <div class="col-xs-4" >
          <div class="form-group">
            <select class="form-control" id="mdb-pt-filter">
              <option value="all">---All Project Types---</option>
              {% for pt in project_types %}
                  <option value="{{pt.id}}">
                    {{pt.title}}
                  </option>
              {% endfor %}
              {% if unassociated_methods.count > 0 %}
                <option value="um">Unassocaited Methods</option>
              {% endif %}
            </select>
          </div>
        </div>
        <div class="col-xs-1">
          <button class="btn btn-success popped btn-mdb-reset-filters">
            Reset Filters
          </button>
        </div>
        <div class="col-xs-2">
          {% if recommended %}
          <button class="btn btn-info popped btn-mdb-show-recommended">Show Recommended</button>
          {% endif %}
        </div>
      </div>
      <b>Showing <span id="showing">All Project Types + Unassociated Methods</span></b>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="white-box popped container-fluid">
      <div class="row" id="ptype-sortable"  onmouseover="ptype_step()">
          <div class="col-sm-8 multi-select-container" id="mdb-method-tree" style="padding:0;">
            {% include 'db_display_method_tree.html' %}
          </div>

          <div class="col-sm-4" style="padding-left:10px;">
            <h2 style="margin-top:-2px;"> Search Results</h2>
            <div>
              <ul id="search-output"></ul>
            </div>
          </div>
      </div>
      <div class="col-xs-12 mdb-exports" style="margin-top:15px;">
        {% if exports.count > 0 %}
        <h3>Exported Project Types</h3>
        <hr class="modal-divider" style="width:65%;">
          <div class="col-xs-8 mdb-exports-container">
            <div class="col-xs-12">
              <div class="col-sm-3 text-left btn"><b id="filename">File Name</b></div>
                  <div class="col-sm-1 text-center btn"><b id="extension">Extension</b></div>
                  <div class="col-sm-2 text-center btn"><b id="size">Size</b></div>
                  <div class="col-sm-2 btn" style="text-align:left"><b id="updated">Exported</b></div>
                  <div class="col-sm-2 btn"><b id="uploader">Exporter</b></div>
                  <div class="col-sm-2 btn"><b id="project">Associated Item</b></div>
            </div>
            <div class="col-xs-12">
              {% for file in exports %}
              <div class="col-xs-12 {% cycle 'even' 'odd' %} object" style="">
                <div class="col-sm-3">
                  <a href="{{file.url}}" target="_blank">
                    <b>{{file.name_only}}</b>
                  </a>
                </div>
                <div class="col-sm-1 text-center">{{file.extension}}</div>
                <div class="col-sm-2 text-center">{{file.size}}</div>
                <div class="col-sm-2">{{file.updated}}</div>
                <div class="col-sm-2 text-center">{{file.uploader}}</div>
                <div class="col-sm-2 text-center">{{file.associated_item.shorthand}}</div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
      </div>
    </div>
  </div>
</div>
<div id="page-data" style="display:none;" data-section="{{section}}"></div>
{% endblock %}