{% load static %}
<form method="POST" action="{{action}}" id="{{form_id}}">
	{%csrf_token%}
	{{ form.non_field_errors }}
	<div class="row">
		<div class="col-xs-2">{% include 'form_input_field.html' with field=form.sequence %}</div>
		<div class="col-xs-10">{% include 'form_input_field.html' with field=form.title %}</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			{% if ptypes %}
				{% include 'form_select_field.html' with for_label="id_ptypes" name="ptypes" select_id="project_type" items=ptypes  selection=selected_ptypes label=form.associated_project_types.label%}
			{% endif %}
		</div>
		<div class="col-xs-6">
			{% if methods %}
				{% include 'form_select_field.html' with for_label="id_methods" name="methods" select_id="methods" items=methods  selection=selected_methods label=form.associated_methods.label%}
			{% endif %}
		</div>
	</div>
	{% include "modal_form_buttons.html" with item="phase" %}
</form>