#project-space{
	width:80vw;
	min-height:80vh;
	background-color:#666;
	border-radius:5px;
	box-shadow:0px 1px 2px black;
	margin-left:auto;
	margin-right:auto;
}

#project-header{
	background-color:#999;
	border-radius:5px;
	height:2em;
	margin-bottom:20px;
	color:black;
	font-weight:bold;
	font-height:1.5em;
	padding:0px 10px 0 10px;
	flex-direction:row; 
	display:flex;
	justify-content:space-between;
}

.header-item{
	margin-top:6px;
}

#project-title{
	letter-spacing: 3px;
	font-variant:small-caps;
	font-size:1.5em;
	text-shadow:1px 1px 1px white;
}

.meth-block-1{
	margin-right:10px;
	box-shadow:0px 0px 2px black;
	padding:0 3px;
	min-width:35%;
}

.meth-block-2{
	box-shadow:0px 0px 2px black;
	padding:0 3px;
}

.header{
	margin:0 20px 0  20px;
	background-color:#999;
	padding:5px;
	border-radius:2px;
	box-shadow:0px 1px 1px black;
}

.item-space{
	background-color:#999;
	margin:0 20px 0  20px;
	padding:5px;
	border-radius:2px;
	box-shadow:0px 1px 1px black;
	flex-direction:row; 
	display:flex;
}


.note-space > div > p{
	margin:0;
}

.note-info{
	margin-right:10px;
	box-shadow:0px 0px 2px black;
	border-radius:2px;
	padding:0 3px;
	order:1;
	height:25%;
	min-width:20%;
}

.note-title{
	text-shadow:1px 1px 1px #333;
	font-variant: small-caps;
	letter-spacing: 2px;
	white-space: nowrap;
}

.note-date{
	text-shadow:1px 1px 1px #333;
}

.note-body{
	box-shadow:0px 0px 2px black;
	padding:4px;
	height:100%;
	order:2;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.note-body > p{
	word-wrap: break-word;
	white-space: pre-wrap;
}