#nav-spacer {
	margin-left:21.1%;
}

.display-item {
	margin-bottom:5px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

#search-div {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

#add-rec-form {
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	margin-bottom:25px;
	margin-left: 95px;
}

.v-title, .v-class {
	min-width:50%;
	margin-right:10px;
}

.v-desc {
	min-width:100%;
	height:110px;
}

.add-btn {
	width:15%;
}

input[type=text] {
	min-width:44.5%;
}

textarea {
	max-height:100px;
	min-width:60%;
}

.field-label {
	min-width: 20%;
	max-width: 20%;
	width: 20%;
	vertical-align: top;
}

#search-input {
	min-width:300px;
}

#add-title {
	color:#999;
	text-shadow:1px 1px 1px #333;
	font-size:1.25em;
}

.v-title, .v-cat {
	font-size:19px;
	vertical-align:middle;
}

.v-description {
	width:100%;
	resize:none;
	height:110px;
}

#vuln-tab {
	color:black;
	z-index:10;
	background: rgb(233, 229, 226); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(233, 229, 226), #D7D5D5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(233, 229, 226), #D7D5D5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(233, 229, 226), #D7D5D5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(233, 229, 226), #D7D5D5); /* Standard syntax */
}

#description > textarea {
	resize: none;
}