{% for note in notes %}
<div class="note col-xs-12 {% cycle 'ne' 'odd' %} object" data-obj-id="{{note.id}}" data-obj-title="{{note.title}}" data-obj-type="note" data-obj-app="notes" data-obj-model="Note" {%if not forloop.last%} style="border-bottom:1px solid rgb(104,104,104);" {%endif%}>
  <!-- TITLE -->
  <!-- <div id="title_col" class="col-md-6 col-spacer note-title" onclick="noteTitleDetailsModal(this)" style="cursor:pointer;"> -->
  <div id="title_col" class="col-md-6 note-title" style="cursor:pointer;">
    <b>{{note.title}}</b>
  </div>
  <!-- ############## -->
  <!-- CREATOR -->
  <div id="creator_col" class="col-md-2 text-left" style="border-left:1px solid rgb(104,104,104);border-right:1px solid rgb(104,104,104);">
    <b style="margin-left:15px;">{{note.creator}}</b>
  </div>
  <!-- ############## -->
  <!-- UPDATED -->
  <div id="date_col" class="col-md-3 text-center" style="border-right:1px solid rgb(104,104,104);">
    <b style="margin-left:15px;">{{note.updated}}</b>
  </div>
  <!-- ############## -->
  <div class="col-xs-1">
    {% if user.is_superuser %}
    <i class="btn btn-clear fa fa-trash-o pull-right {{delete_class|default:'btn-delete-note'}}" style="position:relative;top:1px;font-weight:bold;margin:1px;padding:3px;"></i>
    {% endif %}
    <!-- <i onclick="noteEdit(this)" class="btn btn-clear fa fa-edit pull-right btn-edit-note" style="position:relative;font-weight:bold;top:.5px;margin:1px;padding:3px;"></i> -->
    <i class="btn btn-clear fa fa-edit pull-right btn-note-edit" style="position:relative;font-weight:bold;top:2px;margin:1px;padding:3px;"></i>
  </div>
  <!-- ############## -->
</div>
{% endfor %}
