{% for entry in entries %}
<div class="entry col-xs-12 {% cycle 'ne' 'odd' %} object" data-obj-id="{{entry.id}}" data-obj-title="{{entry.title}}" data-obj-type="note" data-obj-app="notes" data-obj-model="Note" {%if not forloop.last%} style="border-bottom:1px solid rgb(104,104,104);" {%endif%}>
  <!-- TITLE -->
  <!-- <div id="title_col" class="col-md-6 col-spacer entry-title" onclick="entryTitleDetailsModal(this)" style="cursor:pointer;"> -->
  <div id="title_col" class="col-md-6 entry-title" style="cursor:pointer;">
    <b>{{entry.title}}</b>
  </div>
  <!-- ############## -->
  <!-- CREATOR -->
  <div id="creator_col" class="col-md-2 text-left" style="border-left:1px solid rgb(104,104,104);border-right:1px solid rgb(104,104,104);">
    <b style="margin-left:15px;">{{entry.tester}}</b>
  </div>
  <!-- ############## -->
  <!-- UPDATED -->
  <div id="date_col" class="col-md-2 text-center" style="border-right:1px solid rgb(104,104,104);">
    <b style="margin-left:15px;">{{entry.date}}</b>
  </div>
  <div id="hours_col" class="col-md-1 text-center" style="border-right:1px solid rgb(104,104,104);">
    <b style="margin-left:15px;">{{entry.time}}</b>
  </div>
  <!-- ############## -->
  <div class="col-xs-1">
    {% if user.is_superuser %}
    <i class="btn btn-clear fa fa-trash-o pull-right {{delete_class|default:'btn-delete-entry'}}" style="position:relative;top:1px;font-weight:bold;margin:1px;padding:3px;"></i>
    {% endif %}
    <!-- <i onclick="entryEdit(this)" class="btn btn-clear fa fa-edit pull-right btn-edit-entry" style="position:relative;font-weight:bold;top:.5px;margin:1px;padding:3px;"></i> -->
    <i class="btn btn-clear fa fa-edit pull-right {{edit_class|default:'btn-entry-edit'}}" style="position:relative;font-weight:bold;top:2px;margin:1px;padding:3px;"></i>
  </div>
  <!-- ############## -->
</div>
{% endfor %}
