<div id="entry_head" class="row details-modal-data-header">
	<div id="title_head" class="col-md-6 btn" style="padding-top:2px;padding-bottom:2px;">
  		<b style="margin-left:20px;">Title</b>
  	</div>
	<div id="creator_head" class="col-md-2 text-left btn" style="padding-top:2px;padding-bottom:2px;">
		<b class="">Creator</b>
	</div>
	<div id="date_head" class="col-md-2 btn text-center" style="padding-top:2px;padding-bottom:2px;">
		<b style="margin-left:15px;">Date</b>
	</div>
	<div id="hours_head" class="col-md-1 btn text-center" style="padding-top:2px;padding-bottom:2px;">
		<b style="margin-left:15px;">Hours</b>
	</div>
	<div class="col-xs-1"></div>
</div>