<div class="modal-header" style="border:none;padding-bottom:0;">
	<h4 id="modal-note-title" style="display:inline;text-shadow:1px 1px 1px #dad8d8;">{{note.title}}</h4>
	<a class="close pull-right" data-dismiss="modal" style="display:inline;">×</a>
	<div class="container-fluid text-right" style="padding:0;">
		<i class="btn fa fa-chevron-left" id="modal-note-prev-ancestor" style="position:relative;left:15px;" {%if note.ancestor%} data-obj-ancestor="{{note.ancestor.id}}" {%endif%}></i>

		<i class="btn fa fa-chevron-right" id="modal-note-next-child" style="position:relative;left:15px;" {%if note.child%} data-obj-child="{{note.child.id}}" {%endif%}></i>
	</div>
</div>
<div class="modal-body" style="padding-top:0;">
	<div id="modal-note-body" style="font-size:20px;min-height:200px;">
		{{note.body|linebreaks}}
	</div>
	<div class="container-fluid" style="padding:0;">
		<b class="pull-right" id="modal-note-updated">
			{{note.updated}}
		</b>
		<b class="pull-right" id="modal-note-creator" style="position:relative;margin-right:20px;">
			{{note.creator}}
		</b>
	</div>
</div>