{% load static %}
<form method="POST" action="{{action}}" id="{{form_id}}" enctype="multipart/form-data" style="margin-top:15px;">
{%csrf_token%}
{{ form.non_field_errors }}
<div class="row">
	<div class="col-xs-12">
		{% include 'form_input_field.html' with field=form.associated_files %}
	</div>
</div>
	<div class="container-fluid">
		<button class="btn btn-info pull-right btn-modal-cancel" id="btn-modal-files-cancel" style="margin-left:20px;">
		cancel
		</button>
		<button class="btn btn-success pull-right" id="btn-modal-files-submit">submit</button>
	</div>
</form>