<div class="row task-header tdi">
	<div class="col-sm-2 col-spacer task-state" style="display:flex;flex-direction:row;justify-content:space-between;padding-right:0;padding-left:0;">
		{% include 'task_state.html' %}
	</div>
	<div class="col-sm-1"></div>
	<div class="col-sm-2 col-spacer">
		<b>
			<span class="task-tier">{{task.tier}}</span>
			<span style="white-space:pre"> - Yellow Belt</span>
		</b>
	</div>
	<div class="col-sm-3"></div>
	<div class="col-sm-2 col-spacer"><b>Estimated Duration </b><b>{{task.est_time}}</b></div>
	<div class="col-sm-2 col-spacer text-right"><b>Total Duration </b><b>{{task.tsk_duration}}</b></div>
</div>
<br>
<label>Description</label>
<div class="row">
	<div class="col-sm-12 task-description tdi" style="min-height:30px;">{{task.description|linebreaks}}</div>
</div>
<br>
<label>Command</label>
<div class="row">
	
	<div class="col-sm-12 task-command tdi" style="min-height:30px;">{{task.base_command}}</div>
</div>
<br>
<label>Help</label>
<div class="row">
	<div class="col-sm-12 task-help-base tdi" style="min-height:30px;">{{task.help_base|linebreaks}}</div>
</div>

<div class="item-data" id="{{task.id}}" style="display:none;" data-model="Task" data-app="tasks"><div class="item-title">{{task.title}}</div></div>
<br>
<div class="notes-form"></div>
<div class="task-notes">
	{% include 'display_notes.html' with notes=task.notes.all %}
</div>
<br>
<div class="files-form"></div>
<div class="task-files">
	{% if task.files.all.count > 0 %}
		{% include 'files_list.html' with files=task.files.all header=True %}
	{% endif %}
</div>