<ul class="nav customtab nav-tabs" role="tablist">
	<li role="presentation" class="active task-nav-tab" data-obj-id="{{task.id}}" data-url="/wf_t_n_c/">
		<a href="#task-notes-tab-content-{{task.id}}" aria-controls="task-notes-tab" role="tab" data-toggle="tab" aria-expanded="true">
			<span class="visible-xs">
				<i class="fa fa-id-comment"></i>
			</span>
			<span class="hidden-xs">
				Notes
			</span>
		</a>
	</li>
	<li role="presentation" class="task-nav-tab" data-obj-id="{{task.id}}" data-url="/wf_t_f_c/">
		<a href="#task-files-tab-content-{{task.id}}" aria-controls="task-files-tab" role="tab" data-toggle="tab" aria-expanded="false">
			<span class="visible-xs">
				<i class="fa fa-file"></i>
			</span>
			<span class="hidden-xs">
				Files
			</span>
		</a>
	</li>
	<li role="presentation" class="task-nav-tab" data-obj-id="{{task.id}}" data-url="/wf_t_t_c/">
		<a href="#task-time-tab-content-{{task.id}}" aria-controls="task-time-tab" role="tab" data-toggle="tab" aria-expanded="false">
			<span class="visible-xs">
				<i class="fa fa-clock"></i>
			</span>
			<span class="hidden-xs">
				Time Entries
			</span>
		</a>
	</li>
</ul>