{% extends 'form_modal_base.html' %}
{% load static %}

{%block header_title_id%}wf-modal-task-add-title{%endblock%}

{% block header_title %}Add Task to project <b>{{project.title}}</b>{%endblock%}

{% block buttons %}
        <a class="close pull-right header-scheme" data-dismiss="modal" style="position:relative;top:7px;margin-left:10px;"> × </a>
        <i class="btn fa fa-refresh ctrl-task-add-refresh pull-right" style="position:relative;text-shadow:1px 1px 1px #dad8d8;color:black;"></i>
{% endblock %}

{% block header_additional %}{%endblock%}

{% block body_content %}{%include 'task_form.html'%}{%endblock%}
