{% load static %}
<div class="modal-header" style="border:none;padding-bottom:0;">
    <h4 id="modal-dataitem-import-title" style="display:inline;text-shadow:1px 1px 1px #dad8d8;">
        Import new <b>Data Items</b>
    </h4>
    <a class="close pull-right header-scheme" data-dismiss="modal" style="display:inline;">×</a>
    <hr class="modal-divider">
</div>
<div class="modal-body" style="padding-top:0;">
    <b>Please select the approptiate data type and then upload your chosen CSV</b>
    {% include 'dt_import_form.html' %}
</div>