{% load static %}
<form method="POST" action="{{action}}" id="{{form_id}}">
{% csrf_token %}
{{ form.non_field_errors }}
<div class="col-xs-10">
    {% include 'form_input_field.html' with field=form.label %}    
</div>
<div class="col-xs-2">
    <i class="btn btn-danger fa fa-check popped" id="btn-dt-label-submit" style="margin-top:25%;padding-top:12px;padding-bottom:12px;"></i>
    <i class="btn btn-success fa fa-close popped" id="btn-form-cancel" style="margin-top:25%;padding-top:12px;padding-bottom:12px;"></i>
</div>
</form>