{% load static %}
<form method="POST" action="{{action}}" id="{{form_id}}">
{%csrf_token%}
{{ form.non_field_errors }}
<div class="row">
    <div class="col-xs-12">
        {% include 'form_input_field.html' with field=form.name %}
    </div>
</div>
    <div class="container-fluid">
        <button class="btn btn-info pull-right" id="btn-modal-cancel" style="margin-left:20px;">cancel</button>
        <button class="btn btn-success pull-right" id="btn-dt-table-submit">submit</button>
    </div>
</form>