{% extends 'baseline.html' %}
{% load static %}

{% block head %}
<style type="text/css">
  .ne {
    background-color:#89d699;
  }
	.even {
		background-color:#dad8d8;
	}
	.odd {

	}
	.vc {
		vertical-align:middle;
	}
</style>
{% endblock %}

{% block top_pallet %}
	{% include 'auditor.html' %}
{% endblock %}

{% block table_pallet %}
	<div class="top-spacer"></div>

	<div class="col-md-12 white-box">
    <div class="row">
      <div class="col-md-2">
        <button id="btn-open-issue" type="button" class="btn btn-success" style="display:inline;">Open New Issue Report</button>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <select class="form-control" id="project-filter">
            <option value="all">---All Projects---</option>
            {% for project in all_projects %}
            <option value="{{project.id}}">{{project.title}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input class="form-control" id="input-search" placeholder="Type to search..." value="" type="input">
        </div>
      </div>
      <div class="col-md-2" style="background-color:#eee;">
        <!-- <div class="checkbox checkbox-info" style="margin-top:0;">
          <input id="chk-ignore-case" type="checkbox" checked>
          <label for="chk-ignore-case">Ignore Case</label>
        </div> -->
        <div class="checkbox checkbox-info">
          <input id="chk-exact-match" type="checkbox">
          <label for="chk-exact-match">Exact Match</label>
        </div>
      </div>
    </div>
    <span><b>Showing Issues for <span id="showing">All Projects</span></b></span>
		<hr>
    <div class="row" id="issue_headers">
      <div class="col-md-3 btn hsb"><b id="title">Title</b></div>
      <div class="col-md-1 btn hsb" ><b id="status">Status</b></div>
      <div class="col-md-2 btn hsb" style="text-align:left;"><b id="technical_poc__first_name">Technical PoC</b></div>
      <div class="col-md-2 btn hsb" style="text-align:left;"><b id="issue_owner">Issue Owner</b></div>
      <div class="col-md-2 btn hsb"><b id="updated">Updated</b></div>
      <div class="col-md-2"></div>
    </div>
		<div class="row" id="issues">
			{% include 'display_tracked_issues.html' %}
		</div>
	</div>

<div id="dynamicModal"></div>
<div id="notesModal"></div>
<div id="form-sample" style="display:none;">
<form id="modal-body-form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}"></label><span>{{ field.errors }}</span>
      <div class="input-group">
        <div class="input-group-addon"></div>
        {{field}}
      </div>
    </div>
  {% endfor %}
</form>
</div>

<div id="update-sample" style="display:none;">
<form id="modal-body-form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ updateform.non_field_errors }}
  {% for field in updateform %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}"></label><span>{{ field.errors }}</span>
      <div class="input-group">
        <div class="input-group-addon"></div>
        {{field}}
      </div>
    </div>
  {% endfor %}
</form>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).on('click','#btn-open-issue',function(){
		var header = "New Issue Form";
    var content = $('#form-sample').html();
    var strSubmitFunc = "submitForm()";
    var btnText = "Track Issue";
    doModal('dynamicModal', header, content, strSubmitFunc, btnText);
    $('#modalWindow').find('#btn-modal-form-submit').attr('id','btn-track-issue');
	});

	$(document).on('click','#btn-track-issue',function(){
		var form = $(this).closest('.modal').find('form');
		form.ajaxSubmit(function(returned){
      $('#issues').empty().html(returned);
      $('#modalWindow').modal('hide');
      updateAudits('{{where}}');
    });
    return false;
	});

  function formatForm(){
    $.each($('[id*="id_"]'), function(index, value){
      //console.log($(this));
      var input = $(this);
      //console.log(input.closest('.form-group').find('label'));
      var label = input.closest('.form-group').find('label');
      var name = pDN(input.attr('name'));
      //Set label inner html
      if (label.children().length == 0) {
        label.html(name);
      }
      //Add form-control class to input
      input.addClass('form-control');
      if(/date/i.test(name)){input.attr('type','date');}
      //re-write this as $.each type = 'date' (keep form.width)
      if(/date/i.test(name)&&($('form').width()>600)){
        input.parent().css('width','20%');
      }
      if (input.is('textarea')) {
        input.attr('rows','4')
      }
      if(input.attr('required')){
        label.append(' *')
      }
      if (input.is('select') && input.attr('multiple') && !input.attr('disabled')) {
        label.append(' (select at least one)')
      }
    });
    
  }

  formatForm();

  $(document).on('click','.item-title',function(){
    var item_id = $(this).closest('.item').attr('id');
    var data = {'csrfmiddlewaretoken':'{{csrf_token}}','item_id':item_id};
    var url = '/issue_details/';
    var header = "Update Issue";
    var content = $('#update-sample').html();
    var strSubmitFunc = "submitForm()";
    var btnText = "Update Issue";
    var info = {};
    doModal('dynamicModal', header, content, strSubmitFunc, btnText);
    $('#modalWindow').find('#btn-modal-form-submit').attr('id','btn-update-issue');
    $.get(url,data,function(returned){
      $('#modalWindow').find('#modal-form-div').empty().html(returned);
      //formatForm();
      $('#modalWindow').find('form').attr('action','/issue_update/');
      $('#modalWindow').find('form').attr('method','POST');
      $('#model-form').append('<input type="hidden" name="id" value="'+item_id+'">');
      formatForm();
    });
  });

  $(document).on('click','#btn-update-issue',function(){
    var form = $(this).closest('.modal').find('form');
    form.ajaxSubmit(function(returned){
      if (returned == 'Form is not valid!') {
        $('.modal-body').append(returned);
      } else {
        $('#issues').empty().html(returned);
        $('#modalWindow').modal('hide');
        updateAudits('{{where}}');
      }
    }); 
  });

  $(document).on('keyup','#input-search',function(){
            // Set search value
            var search = $(this).val();
            // If the search Value is not empty !('').
            if (search.length > 0) {
                // Make all Items invisible
                $('.item').css('display','none');
                // If the form 'ignore case checkbox is checked'
                if ($('#chk-exact-match').is(':checked')) {
                    // Create the regex from the search value with ignore case flag
                    var re = new RegExp(search);
                    // Check each .item to see if the regex matches and display the item if it does
                    $.each($('.item'),function(){
                        //console.log($(this).text().trim());
                        var item = $(this).text()
                        if (re.test(item)) {
                            $(this).css('display','block');
                        }
                    });
                } else {
                  // Create the regex from the search value with ignore case flag
                  var re = new RegExp(search,"i");
                  // Check each .item to see if the regex matches and display the item if it does
                  $.each($('.item'),function(){
                      //console.log($(this).text().trim());
                      var item = $(this).text()
                      if (re.test(item)) {
                          $(this).css('display','block');
                      }
                  });
                }
            } else {
                $('.item').css('display','block');
            }
  });

  $(document).on('click','.item-note',function(){
    var item_id = $(this).closest('.item').attr('id');
    //var data = {'csrfmiddlewaretoken':'{{csrf_token}}'};
    var data = {};
    data['model_id'] = item_id;
    data['model_type'] = 'Issue';
    data['app'] = 'issuetracker';
    //var url = /get_note_form/;
    //$.get(url,data,function(returned){
    $.get('/get_form/',{'app':'notes','form':'NoteForm','form_id':'note-form'},function(returned) {
      var header = "Issue Notes";
      var content = returned;
      var strSubmitFunc = "submitForm()";
      var btnText = "";
      doModal('dynamicModal', header, content, strSubmitFunc, btnText);
      var modal = $('#modalWindow');
      modal.find('#modal-form-div').append('<button class="btn btn-success btn-add-note">Add Note</button><hr>');
      modal.find('form').attr('action','/add_note/');
      $('#modalWindow').find('form').attr('method','POST');
      $('#note-form').append('<input type="hidden" name="id" value="'+item_id+'">');
      $('#note-form').append('<input type="hidden" name="model_type" value="Issue">');
      $('#note-form').append('<input type="hidden" name="app" value="issuetracker">');
      $('#note-form').append('<input type="hidden" name="where" value="{{where}}">');

      formatForm();
      var url = '/get_notes_list/';
      $.get(url,data,function(returned){
        $('#modalWindow').find('.modal-body').append(returned);
      });
    });
  });

  $(document).on('click','.btn-add-note',function(){
    var form = $(this).closest('.modal').find('form');
    var item_id = form.find('input[name=id]').val();
    var item = $('.item[id='+item_id+']');
    var note_count = parseInt(item.find('.note-count').text());
    form.ajaxSubmit(function(returned){
      if (returned == 'Form is not valid!') {
        $('.modal-body').append(returned);
      } else {
        $('#modalWindow').find('.modal-notes-div').remove();
        $('.modal-body').append(returned);
        item.find('.note-count').text(note_count+1);
      }
      updateAudits('{{where}}');
    }); 
  });

  $(document).on('click','.note',function(){
    var note_id = $(this).attr('id');
    var data = {'csrfmiddlewaretoken':'{{csrf_token}}','note_id':note_id}
    var url = '/note_info/';
    $.post(url,data,function(returned){
      //console.log(returned)
      var header = '<b>'+returned['title']+'</b>';
      var content = returned['body'];
      var strSubmitFunc = "submitForm()";
      var btnText = "";
      doModal('notesModal', header, content, strSubmitFunc, btnText);
      var modal = $('#notesModal').find('#modalWindow');
      modal.find('.modal-footer').append('<div class="row"><div class="col-md-3">Author: '+returned['creator']+'</div><div class="col-md-3"></div><div class="col-md-3"></div><div class="col-md-3">'+returned['created']+'</div></div>')
      modal.modal('show');
      modal.css('margin-top','150px');
      modal.find('.modal-content').css('background-color','#efe867');
      modal.find('.modal-header').css('border-bottom','1px solid black');
      modal.find('.modal-footer').css('border-top','1px solid black');
    });
  });

  $(document).on('change','#project-filter',function(){
    var option = $(this).find(':selected');
    var text = option.text()
    //console.log(text)
    var proj_id = option.val();
    var url = '/display_tracked_issues/';
    $.get(url,{'p_id':proj_id},function(returned){
      $('#issues').empty().html(returned);
      if (proj_id != 'all'){
        $('#showing').empty().text(text);
      } else {
        $('#showing').empty().text('All Projects');
      }
    });
  });

  $(document).on('click','.hsb',function(){
    var val = $(this).find('b').attr('id');
    var url = '/display_tracked_issues';
    $.get(url,{'val':val},function(returned){
      $('#issues').empty().html(returned);
      console.log(val)
    });
  });
</script>
{% endblock %}