{% load static %}
<form method="POST" action="{{action}}" id="{{form_id}}">
{%csrf_token%}
{{ form.non_field_errors }}
<div class="row">
	<div class="col-xs-8">
		{% include 'form_input_field.html' with field=form.title %}
	</div>
	<div class="col-xs-4">
		{% include 'form_input_field.html' with field=form.client_issue_designation %}
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-12">
		{% include 'form_input_field.html' with field=form.description %}
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-6">
		{% include 'form_input_field.html' with field=form.status %}
	</div>
	<div class="col-xs-6">
		{% include 'form_input_field.html' with field=form.project %}
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-6">
		{% include 'form_select_field.html' with field=form.issue_owner %}
	</div>
	<div class="col-xs-6">
		{% include 'form_select_field.html' with field=form.technical_poc %}
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-6">
		{% include 'form_input_field.html' with field=form.issue_file %}
	</div>
	<div class="col-xs-6">
		{% include 'form_input_field.html' with field=form.associated_files %}
	</div>
</div>
	<div class="container-fluid">
		<button class="btn btn-info pull-right btn-modal-close popped" id="btn-modal-{{cancel_btn_type}}-update-cancel" style="margin-left:20px;">cancel</button>
		<button class="btn btn-success pull-right popped bmus" id="btn-modal-{{submit_btn_type}}-update-submit">{{submit_text}}</button>
	</div>
</form>