{% if associated_files %}
	{% for file in associated_files %}
			<div class="row {% cycle 'even' 'odd' %} item" style="display:none;">
				<div class="col-sm-3"><a href="{{file.url}}" target="_blank"><b>{{file.name_only}}</b></a></div>
				<div class="col-sm-1 text-center">{{file.extension}}</div>
				<div class="col-sm-2 text-center">{{file.size}}</div>
				<div class="col-sm-2">{{file.updated}}</div>
				<div class="col-sm-2 text-center">{{file.uploader}}</div>
				<div class="col-sm-2 text-center">{{file.associated_item}}</div>
			</div>
	{% endfor %}
{% else %}
	{% for file in request.user.tester.project.associated_files.all %}
			<div class="row {% cycle 'even' 'odd' %} item">
				<div class="col-sm-3"><a href="{{file.url}}" target="_blank"><b>{{file.name_only}}</b></a></div>
				<div class="col-sm-1 text-center">{{file.extension}}</div>
				<div class="col-sm-2 text-center">{{file.size}}</div>
				<div class="col-sm-2">{{file.updated}}</div>
				<div class="col-sm-2 text-center">{{file.uploader}}</div>
				<div class="col-sm-2 text-center">{{file.associated_item}}</div>
			</div>
	{% endfor %}
{% endif %}