<div class="row files-header details-modal-data-header">
	<div class="col-sm-4 text-left btn hsb" style="padding-top:2px;padding-bottom:2px;"><b id="filename">File Name</b></div>
    <div class="col-sm-1 text-center btn hsb" style="padding-top:2px;padding-bottom:2px;"><b id="extension">Extension</b></div>
    <div class="col-sm-2 text-center btn hsb" style="padding-top:2px;padding-bottom:2px;"><b id="size">Size</b></div>
    <div class="col-sm-2 btn hsb" style="text-align:center;padding-top:2px;padding-bottom:2px;"><b id="updated">Uploaded</b></div>
    <div class="col-sm-2 btn hsb" style="padding-top:2px;padding-bottom:2px;"><b id="uploader">Uploader</b></div>
</div>