<div class="container-fluid">
        <div class="col-xs-6" style="position:relative;padding-top:10px;min-height:55vh;">
            <div class="col-xs-12" style="margin-bottom:5px;">
                <div class="col-xs-6 details-modal-data-header" style="margin-bottom:1px;">Description</div>
                <div class="col-xs-12 tdi" style="min-height:25px;word-wrap:normal;line-height:25px;">
                    {{issue.description|linebreaksbr|default:"Nothing going on here..."}}
                </div>
            </div>
            <div class="col-xs-12 it-modal-form-container modal-form-container" style="position:absolute;bottom:0;">

            </div>
        </div>
        <div class="col-xs-6" style="position:relative;padding-top:10px;min-height:55vh;">

            <div class="col-xs-12">
                <div class="col-xs-5 details-modal-data-header" style="margin-bottom:1px;">Issue Owner</div>
                <div class="col-xs-12 tdi" style="margin-bottom:10px;min-height:32px;padding-top:9px;">
                    {% if issue.issue_owner.first_name %}
                    {{issue.issue_owner.first_name|default:"Who's incharge here?"}} {{issue.issue_owner.last_name}}
                    {% else %}
                    {{issue.issue_owner.user.first_name|default:"Who's incharge here?"}} {{issue.issue_owner.user.last_name}}  
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5 details-modal-data-header" style="margin-bottom:1px;">Techincal Point of Contact</div>
                <div class="col-xs-12 tdi" style="margin-bottom:10px;min-height:32px;padding-top:9px;">
                    {{issue.technical_poc.first_name|default:"We need a technician!"}} {{issue.technical_poc.last_name}}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5 details-modal-data-header" style="margin-bottom:1px;">Last Updated</div>
                <div class="col-xs-12 tdi" style="margin-bottom:10px;min-height:32px;padding-top:9px;">
                    {{issue.updated}}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5 details-modal-data-header" style="margin-bottom:1px;">Author</div>
                <div class="col-xs-12 tdi" style="margin-bottom:10px;min-height:32px;padding-top:5px;">
                    {% include 'user_label_avatar.html' with user=issue.author%}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5 details-modal-data-header" style="margin-bottom:1px;">Contributors</div>
                <div class="col-xs-12 tdi" style="margin-bottom:10px;min-height:32px;padding-top:5px;">
                    {% for user in issue.contributors.all %}
                        <div class="col-xs-3" style="padding-left:0px;">{% include 'user_label_avatar.html' %}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5 details-modal-data-header" style="margin-bottom:1px;">Latest Issue File</div>
                <div class="col-xs-12 tdi" style="margin-bottom:10px;min-height:32px;padding-top:5px;">
                    {% if issue.latest_issue_file %}
                    <a href="{{issue.latest_issue_file.file.url}}" target="_blank">
                        <b>{{issue.latest_issue_file}}</b>
                    </a>
                    {% else %}
                        <b>No Associated Issue File</b>
                    {% endif %}
                </div>
            </div>

            <div class="col-xs-12" style="position:absolute;bottom:0;">
                <div class="col-xs-5 details-modal-data-header" style="margin-bottom:1px;">Additional Files</div>
                <div class="col-xs-12 tdi" style="min-height:32px;">
                    {% if issue.associated_files.all.count > 0 %}
                        {% for file in issue.associated_files.all %}
                            <a href="{{file.file.url}}" target="_blank">{{file.filename}}</a><br>
                        {% endfor %}
                    {% else %}
                        No Additional Files
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


                